@{
    ViewBag.Title = "Parameter Management";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section Nav {

    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                @*<div class="header-col-right float-right mt-5"><a href="e-Learning.html" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>*@
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { area = "" })">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">System Settings</a></li>                                
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">Parameter Management</h1>                    
                </div>
            </div>
        </div>
    </div>

}



<div class="row">
    <!-- Start content leftbar -->
    <div class="col-xl-3 col-md-3 col-sm-4 my-2">
        <div id="page-nav" class="sidebar-left page-nav">
            <div data-perfect-scrollbar>
                <div class="page-section">
                    <h6 class="x-small color-darkblue"><i class="la la-edit font-icon color-secondary align-bottom"></i> Module</h6>
                    <ul class="nav page-nav__menu">
                        <li class="nav-item">
                            <a href="#setting1" data-toggle="tab" class="nav-link active">User & Role</a>
                        </li>
                        <li class="nav-item">
                            <a href="#setting2" data-toggle="tab" class="nav-link">Event</a>
                        </li>
                        <li class="nav-item">
                            <a href="#setting3" data-toggle="tab" class="nav-link">Research And Publication</a>
                        </li>
                        <li class="nav-item">
                            <a href="#setting4" data-toggle="tab" class="nav-link">Learning</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End content leftbar -->
    <div class="col-xl-9 col-md-9 col-sm-8 mt-2 pb-5">
        <!-- Start Tab Content -->
        <div class="border-form rounded-top">
            <div class="tab-content">
                <div class="tab-pane active" id="step1">
                    <form>
                        <div class="form-container form-container-w100">
                            
                            <div class="form-container form-container-w100 tab-content">

                                <div class="tab-pane active mxw-660" id="setting1">

                                    <div class="mt-2 mb-4 pb-1">
                                        <h4 class="color-darkblue mb-0">User & Role Parameter</h4>
                                    </div>

                                    <div class="row">

                                        <div class="col-lg-4">
                                            <div class="box-contain">
                                                <div class="card text-center">
                                                    <span>Agency Sector</span>
                                                    <div>
                                                        <a href='@Url.Action("List", "Sector", new { area = "Administrator" })'></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="box-contain">
                                                <div class="card text-center">
                                                    <span>Government Ministry</span>
                                                    <div>
                                                        <a href='@Url.Action("List", "Ministry", new { area = "Administrator" })'></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="tab-pane mxw-660" id="setting2">

                                    <div class="mt-2 mb-4 pb-1">
                                        <h4 class="color-darkblue mb-0">Event Parameter</h4>
                                    </div>

                                    <div class="row">

                                        <div class="col-lg-4">
                                            <div class="box-contain">
                                                <div class="card text-center">
                                                    <span>Event Category</span>
                                                    <div>
                                                        <a href='@Url.Action("List", "EventCategory", new { area = "eEvent" })'></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="tab-pane mxw-660" id="setting3">

                                    <div class="mt-2 mb-4 pb-1">
                                        <h4 class="color-darkblue mb-0">Research and Publication Parameter</h4>
                                    </div>

                                    <div class="row">

                                        @*<div class="col-lg-4">
                                            <div class="box-contain">
                                                <div class="card text-center">
                                                    <span>Event Category</span>
                                                    <div>
                                                        <a href='@Url.Action("List", "EventCategory", new { area = "eEvent" })'></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@

                                    </div>
                                </div>

                                <div class="tab-pane mxw-660" id="setting4">

                                    <div class="mt-2 mb-4 pb-1">
                                        <h4 class="color-darkblue mb-0">Learning Parameter</h4>
                                    </div>

                                    <div class="row">

                                        <div class="col-lg-4">
                                            <div class="box-contain">
                                                <div class="card text-center">
                                                    <span>Course Category</span>
                                                    <div>
                                                        <a href='@Url.Action("List", "CourseCategory", new { area = "eLearning" })'></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </form>
                 
                </div>
            </div>
        </div>
    </div>
</div>

