
@using FEP.Model.eLearning
@model FEP.WebApiModel.eLearning.CreateOrEditContentModel



<form id="formCompletion" action="/eLearning/CourseContents/Complete" method="post">


    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.CourseId)

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Order)

    <div class="text-center float-right">
        @if (Model.CompletionType == ContentCompletionType.ClickButton)
        {
            <button type="submit" class="btn btn-default pull-right" id="btnComplete" value="Completed">
                <i class="la la-check font-icon" style="font-size: 1.5rem;"></i>Completed. Continue..
            </button>
        }

        else if (Model.CompletionType == ContentCompletionType.Timer)
        {
            @Html.EditorFor(m => m.Timer)

            <button type="submit" class="btn btn-default pull-right" id="btnTimerComplete" value="Completed">
                <i class="la la-check font-icon" style="font-size: 1.5rem;"></i>Completed. Continue..
            </button>
        }
        else if (Model.CompletionType == ContentCompletionType.AnswerQuestion)
        {
            @Html.EditorFor(m => m.ContentQuestionId)

            <button type="submit" class="btn btn-default pull-right" id="btnAnswerComplete" value="Completed">
                <i class="la la-check font-icon" style="font-size: 1.5rem;"></i>Completed. Continue..
            </button>
        }

    </div>
</form>