@model  RegisterIndividualModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

@section ButtonBack{

    <a href="@Url.Action("Register", "Auth", new { area = "" })" class="btn btn-outline-secondary"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> @Language.General.ButtonBack</a>

}

@section ContentScript{
    
    <script type="text/javascript">

        $(document).ready(function () {

            $('input[type=radio][name=IsMalaysian]').change(function() {
                if (this.value == 'true') {
                    $("#malaysian").removeClass("d-none");
					$("#non-malaysian").addClass("d-none");
                }
                else if (this.value == 'false') {
                    $("#non-malaysian").removeClass("d-none");
					$("#malaysian").addClass("d-none");
                }
            });

        });

    </script>
    
}

<div class="login-wrapper" style="min-height: 100vh">
    <div class="col-sm-8 col-md-6 col-lg-4 mx-auto pt-3 mw-600">
        <div class="card">
            <div class="card-header text-center">
                <h4 class="color-darkblue mb-1 mt-2">Individual</h4>
                <p>Create an account to get started. It's free!</p>
            </div>
            <div class="card-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-inline mb-2">
                        <div class="custom-control custom-radio">
                            @Html.RadioButtonFor(m => m.IsMalaysian, "true", new { @class = "custom-control-input", id = "yes" })
                            <label class="custom-control-label mr-3" for="yes">@Language.Auth.FieldMalaysian</label>
                        </div>
                        <div class="custom-control custom-radio ml-5">
                            @Html.RadioButtonFor(m => m.IsMalaysian, "false", new { @class = "custom-control-input", id = "no" })
                            <label class="custom-control-label" for="no">@Language.Auth.FieldNonMalaysian</label>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.FEPLabelFor(m => m.Name, htmlAttributes: new { @class = "form-label" })
                        <div class="input-group">
                            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control form-control-prepended", placeholder = Language.Auth.PlaceholderName } })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>

                    <div id="malaysian" @if (!Model.IsMalaysian) { <text>class="d-none"</text> }>
                        <div class="form-group">
                            @Html.FEPLabelFor(m => m.ICNo, htmlAttributes: new { @class = "form-label" })
                            <div class="input-group">
                                @Html.EditorFor(m => m.ICNo, new { htmlAttributes = new { @class = "form-control form-control-prepended", placeholder = Language.Auth.PlaceholderICNo } })
                                @Html.ValidationMessageFor(m => m.ICNo)
                            </div>
                        </div>
                    </div>
                    
                    <div id="non-malaysian" @if (Model.IsMalaysian) {  <text>class="d-none"</text> }>
                        <div class="form-group">
                            @Html.FEPLabelFor(m => m.PassportNo, htmlAttributes: new { @class = "form-label" })
                            <div class="input-group">
                                @Html.EditorFor(m => m.PassportNo, new { htmlAttributes = new { @class = "form-control form-control-prepended", placeholder = Language.Auth.PlaceholderPassportNo } })
                                @Html.ValidationMessageFor(m => m.PassportNo)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.FEPLabelFor(m => m.MobileNo, htmlAttributes: new { @class = "form-label" })
                        <div class="input-group">
                            @Html.EditorFor(m => m.MobileNo, new { htmlAttributes = new { @class = "form-control form-control-prepended", placeholder = Language.Auth.PlaceholderMobileNo } })
                            @Html.ValidationMessageFor(m => m.MobileNo)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.FEPLabelFor(m => m.Email, htmlAttributes: new { @class = "form-label" })
                        <div class="input-group">
                            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control form-control-prepended", placeholder = Language.Auth.PlaceholderEmail } })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.FEPLabelFor(m => m.Password, htmlAttributes: new { @class = "form-label" })
                        <div class="input-group">
                            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control form-control-prepended", placeholder = Language.Auth.PlaceholderPassword } })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.FEPLabelFor(m => m.RetypePassword, htmlAttributes: new { @class = "form-label" })
                        <div class="input-group">
                            @Html.EditorFor(m => m.RetypePassword, new { htmlAttributes = new { @class = "form-control form-control-prepended", placeholder = Language.Auth.PlaceholderRetypePassword } })
                            @Html.ValidationMessageFor(m => m.RetypePassword)
                        </div>
                    </div>

                    <div class="form-group text-center mb-0">
                        <div class="custom-control custom-checkbox">
                            @Html.EditorFor(m => m.IsTermAgreed, new { htmlAttributes = new { @class = "custom-control-input" } })
                            <label for="IsTermAgreed" class="custom-control-label">I agree to the <a href="#">Terms of Use</a></label>

                        </div>
                        @Html.ValidationMessageFor(m => m.IsTermAgreed)
                    </div>

                    <button type="submit" class="btn btn-secondary btn-block mt-3 mb-4">Sign Up</button>


                }
            </div>
            <div class="card-footer text-center">Already signed up? <a href="@Url.Action("Login", "Auth", new { area = "" })" class="font-weight-bold">Login</a></div>
          
        </div>
    </div>
</div>

