@model  RegisterAgencyModel


@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

@section ButtonBack{

    <a href="@Url.Action("Register", "Auth", new { area = "" })" class="btn btn-outline-secondary"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a>

}

@section ContentScript{

    <script type="text/javascript">

        $(document).ready(function () {

            $('select[name=Type]').change(function () {
                if (this.value == '0') {
                    $(".malaysian").removeClass("d-none");
                    $(".non-malaysian").addClass("d-none");
                    $(".ministry").removeClass("d-none");
                    $(".sector").addClass("d-none");
                    $(".companyregno").addClass("d-none");
                    $(".companyname").addClass("d-none");
                    $(".agencyname").removeClass("d-none");

                    getCountryCode(@Model.MalaysiaCountryId);

                }
                else if (this.value == '1')
                {
                    $(".malaysian").removeClass("d-none");
                    $(".non-malaysian").addClass("d-none");
                    $(".ministry").addClass("d-none");
                    $(".sector").removeClass("d-none");
                    $(".companyregno").removeClass("d-none");
                    $(".agencyname").addClass("d-none");
                    $(".companyname").removeClass("d-none");

                    getCountryCode(@Model.MalaysiaCountryId);
                }
                else  {
                    $(".non-malaysian").removeClass("d-none");
                    $(".malaysian").addClass("d-none");
                    $(".ministry").addClass("d-none");
                    $(".sector").removeClass("d-none");
                    $(".companyregno").addClass("d-none");
                    $(".agencyname").addClass("d-none");
                    $(".companyname").removeClass("d-none");

                    $("select#CountryId").trigger("change");
                }
            });

            $('select#CountryId').change(function () {

                getCountryCode(this.value);

            });

        });

        function getCountryCode(countryId) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetCountryCode", "Individual", new { area = "Administrator" })?id=" + countryId,
                contentType: "text/plain",
                dataType: "json",
                success: function (result) {
                    $('span.countrycode').html(result.CountryCode);
                },
                error: function (response) {

                }
            });

        }

    </script>

}

<div class="login-wrapper" style="min-height: 100vh">
    <div class="col-sm-8 col-md-6 col-lg-4 mx-auto pt-3 mw-600">
        <div class="card">
            <div class="card-header text-center">
                <h4 class="color-darkblue mb-1 mt-2">Agency</h4>
                <p>Create an account to get started. It's free!</p>
            </div>
            <div class="card-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.FEPLabelFor(m => m.Type, htmlAttributes: new { @class = "form-label" })
                        <span class="select-arrow">
                            @Html.EnumDropDownListFor(m => m.Type, Language.Auth.PlaceholderType, htmlAttributes: new { @class = "custom-select" })
                        </span>
                        @Html.ValidationMessageFor(m => m.Type)
                    </div>
                    <div class="form-group ministry @if (Model.Type != CompanyType.Government) { <text>d-none</text> }">
                        @Html.FEPLabelFor(m => m.MinistryId, htmlAttributes: new { @class = "form-label" })
                        <span class="select-arrow">
                            @Html.DropDownListFor(m => m.MinistryId, Model.Ministries, Language.Auth.PlaceholderMinistry, htmlAttributes: new { @class = "custom-select" })
                        </span>
                        @Html.ValidationMessageFor(m => m.MinistryId)
                    </div>
                    <div class="form-group sector @if (Model.Type == CompanyType.Government) { <text>d-none</text> }">
                        @Html.FEPLabelFor(m => m.SectorId, htmlAttributes: new { @class = "form-label" })
                        <span class="select-arrow">
                            @Html.DropDownListFor(m => m.SectorId, Model.Sectors, Language.Auth.PlaceholderSectorId, htmlAttributes: new { @class = "custom-select" })
                        </span>
                        @Html.ValidationMessageFor(m => m.SectorId)
                    </div>
                    <div class="form-group companyname @if (Model.Type == CompanyType.Government) { <text>d-none</text> }">
                        @Html.FEPLabelFor(m => m.CompanyName, htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(m => m.CompanyName, new { htmlAttributes = new { @class = "form-control", placeholder = Language.Auth.PlaceholderCompanyName } })
                        @Html.ValidationMessageFor(m => m.CompanyName)
                    </div>

                    <div class="form-group agencyname @if (Model.Type != CompanyType.Government) { <text>d-none</text> }">
                        @Html.FEPLabelFor(m => m.AgencyName, htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(m => m.AgencyName, new { htmlAttributes = new { @class = "form-control", placeholder = Language.Auth.PlaceholderAgencyName } })
                        @Html.ValidationMessageFor(m => m.AgencyName)
                    </div>

                    <div class="form-group companyregno @if (Model.Type != CompanyType.MalaysianCompany) { <text>d-none</text> }">
                        @Html.FEPLabelFor(m => m.CompanyRegNo, htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(m => m.CompanyRegNo, new { htmlAttributes = new { @class = "form-control", placeholder = Language.Auth.PlaceholderCompRegNo } })
                        @Html.ValidationMessageFor(m => m.CompanyRegNo)
                    </div>
                    <div class="form-group">
                        @Html.FEPLabelFor(m => m.Address1, htmlAttributes: new { @class = "form-label" })
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    @Html.EditorFor(m => m.Address1, new { htmlAttributes = new { @class = "form-control", placeholder = Language.Auth.PlaceholderAddress1 } })
                                    @Html.ValidationMessageFor(m => m.Address1)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    @Html.EditorFor(m => m.Address2, new { htmlAttributes = new { @class = "form-control", placeholder = Language.Auth.PlaceholderAddress2 } })
                                    @Html.ValidationMessageFor(m => m.Address2)
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col malaysian @if (Model.Type == CompanyType.NonMalaysianCompany) { <text>d-none</text> }">
                                @Html.EditorFor(m => m.PostCodeMalaysian, new { htmlAttributes = new { @class = "form-control form-control-prepended", placeholder = Language.Auth.PlaceholderPostCode } })
                                @Html.ValidationMessageFor(m => m.PostCodeMalaysian)
                            </div>
                            <div class="col non-malaysian @if (Model.Type != CompanyType.NonMalaysianCompany) { <text>d-none</text> }">
                                @Html.EditorFor(m => m.PostCodeNonMalaysian, new { htmlAttributes = new { @class = "form-control form-control-prepended", placeholder = Language.Auth.PlaceholderPostCode } })
                                @Html.ValidationMessageFor(m => m.PostCodeNonMalaysian)
                            </div>
                            <div class="col">
                                @Html.EditorFor(m => m.City, new { htmlAttributes = new { @class = "form-control form-control-prepended", placeholder = Language.Auth.PlaceholderCity } })
                                @Html.ValidationMessageFor(m => m.City)
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="malaysian @if (Model.Type == CompanyType.NonMalaysianCompany) { <text>d-none</text> }">
                                    <span class="select-arrow">
                                        @Html.DropDownListFor(m => m.StateId, Model.States, Language.Auth.PlaceholderStateId, htmlAttributes: new { @class = "custom-select" })
                                    </span>
                                    @Html.ValidationMessageFor(m => m.StateId)
                                </div>
                                <div class="non-malaysian @if (Model.Type != CompanyType.NonMalaysianCompany) { <text>d-none</text> }">
                                    @Html.EditorFor(m => m.State, new { htmlAttributes = new { @class = "form-control form-control-prepended", placeholder = Language.Auth.PlaceholderStateId } })
                                    @Html.ValidationMessageFor(m => m.State)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="malaysian @if (Model.Type == CompanyType.NonMalaysianCompany) { <text>d-none</text> }">
                                    @Html.TextBox("Country", "Malaysia", htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                    @Html.HiddenFor(m => m.MalaysiaCountryId)
                                </div>
                                <div class="non-malaysian @if (Model.Type != CompanyType.NonMalaysianCompany) { <text>d-none</text> }">
                                    <span class="select-arrow">
                                        @Html.DropDownListFor(m => m.CountryId, Model.Countries, Language.Auth.PlaceholderCountryId, htmlAttributes: new { @class = "custom-select" })
                                    </span>
                                    @Html.ValidationMessageFor(m => m.CountryId)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.FEPLabelFor(m => m.CompanyPhoneNo, htmlAttributes: new { @class = "form-label" })
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text countrycode">@Html.Raw(Model.CountryCode)</span>
                            </div>
                            @Html.EditorFor(m => m.CompanyPhoneNo, new { htmlAttributes = new { @class = "form-control", placeholder = Language.Auth.PlaceholderCompanyPhoneNo } })
                        </div>
                        @Html.ValidationMessageFor(m => m.CompanyPhoneNo)
                    </div>

                    <div class="empty_2 mt-5">Representative Information</div>

                    <div class="form-group">
                        @Html.FEPLabelFor(m => m.Name, htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", placeholder = Language.Auth.PlaceholderName } })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="malaysian @if (Model.Type == CompanyType.NonMalaysianCompany) { <text>d-none</text> }">
                        <div class="form-group">
                            @Html.FEPLabelFor(m => m.ICNo, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(m => m.ICNo, new { htmlAttributes = new { @class = "form-control", placeholder = Language.Auth.PlaceholderICNo } })
                            @Html.ValidationMessageFor(m => m.ICNo)
                        </div>
                    </div>
                    <div class="non-malaysian @if (Model.Type != CompanyType.NonMalaysianCompany) { <text>d-none</text> }">
                        <div class="form-group">
                            @Html.FEPLabelFor(m => m.PassportNo, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(m => m.PassportNo, new { htmlAttributes = new { @class = "form-control form-control-prepended", placeholder = Language.Auth.PlaceholderPassportNo } })
                            @Html.ValidationMessageFor(m => m.PassportNo)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.FEPLabelFor(m => m.MobileNo, htmlAttributes: new { @class = "form-label" })
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text countrycode">@Html.Raw(Model.CountryCode)</span>
                            </div>
                            @Html.EditorFor(m => m.MobileNo, new { htmlAttributes = new { @class = "form-control form-control-prepended", placeholder = Language.Auth.PlaceholderMobileNo } })
                        </div>
                        @Html.ValidationMessageFor(m => m.MobileNo)
                    </div>
                    <div class="form-group">
                        @Html.FEPLabelFor(m => m.Email, htmlAttributes: new { @class = "form-label" })
                        <div class="input-group">
                            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control form-control-prepended", placeholder = Language.Auth.PlaceholderEmail } })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.FEPLabelFor(m => m.Password, htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control form-control-prepended", placeholder = Language.Auth.PlaceholderPassword } })
                        @Html.ValidationMessageFor(m => m.Password, "")

                    </div>
                    <div class="form-group">
                        @Html.FEPLabelFor(m => m.RetypePassword, htmlAttributes: new { @class = "form-label" })
                        @Html.EditorFor(m => m.RetypePassword, new { htmlAttributes = new { @class = "form-control form-control-prepended", placeholder = Language.Auth.PlaceholderRetypePassword } })
                        @Html.ValidationMessageFor(m => m.RetypePassword, "")

                    </div>

                    <div class="form-group text-center mb-0">
                        <div class="custom-control custom-checkbox">
                            @Html.EditorFor(m => m.IsTermAgreed, new { htmlAttributes = new { @class = "custom-control-input" } })
                            <label for="IsTermAgreed" class="custom-control-label">I agree to the <a href="#">Terms of Use</a></label>
                        </div>
                        @Html.ValidationMessageFor(m => m.IsTermAgreed)
                    </div>

                    <button type="submit" class="btn btn-secondary btn-block mt-3">Sign Up</button>

                }
            </div>
            <div class="card-footer text-center">Already signed up? <a href="@Url.Action("Login", "Auth", new { area = "" })" class="font-weight-bold">Login</a></div>
        </div>
    </div>
</div>