@model FEP.Intranet.Areas.eEvent.Models.CreateMediaInterviewModel

@{
	ViewBag.Title = "Media Interview";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ContentScript{

	@Scripts.Render("~/bundles/dataTable-script")

	<script type="text/javascript">
		$('.menu_mediaInterview').addClass('active');
		$('.menu_mediaInterview').parent('ul').parent('li').addClass('active');
	</script>
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="row">
		<div class="col-xs-12">
			<div class="box box-info">
				<div class="box-header"><h3 class="box-title">Create Media Interview</h3></div>

				<div class="form-horizontal">
					<div class="box-body">
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="form-group">
							@Html.LabelFor(model => model.MediaName, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.MediaName, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.MediaName, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.MediaType, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.MediaType, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.MediaType, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Language, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Language, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Language, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Topic, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Topic, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Topic, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.DropDownListFor(model => model.UserId, null, "-Select User-", new { @class = "form-control select2", style = "width:100%" })
								@Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.EventId, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.DropDownListFor(model => model.EventId, null, "-Select Event-", new { @class = "form-control select2", style = "width:100%" })
								@Html.ValidationMessageFor(model => model.EventId, "", new { @class = "text-danger" })
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<a href='@Url.Action("List")' class="btn btn-warning">Cancel</a>
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</div>
}