@model FEP.Intranet.Areas.eEvent.Models.EditMediaInterviewModel

@{
	ViewBag.Title = "Media Interview";
	Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section ContentScript {

	<script type="text/javascript">

		$(document).ready(function () {

			RefreshFile();

		});

		$("#DateStart").flatpickr({
			dateFormat: "d/m/Y",
			enableTime: false,
			minDate: "today",
			onValueUpdate: function (dObj, dStr, fp, dayElem) {
				debugger;
				$("#DateEnd").flatpickr({
					dateFormat: "d/m/Y",
					enableTime: false,
					minDate: dStr,
				});
			}
		});

		$("#DateEnd").flatpickr({
			dateFormat: "d/m/Y",
			enableTime: false,
			minDate: "today",
		});

	</script>

}

@section Nav {

	<div class="title_header">
		<div class="title-header-container">
			<div class="container">
				<!-- if have button -->
				<div class="header-col-right float-right mt-5"><a href='@Url.Action("List", "MediaInterview", new { area = "eEvent"})' class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>
				<div class="header-col-left">
					<div id="breadcrumb">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item"><a href="#">Event Management</a></li>
								<li class="breadcrumb-item"><a href="#">Manage Media Interview</a></li>
								<li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
							</ol>
						</nav>
					</div>
					<h1 class="page-title text-white">Media Interview Request Ref No: @Model.RefNo</h1>
					@*<div class="header-text">List of created media interview</div>*@
				</div>
			</div>
		</div>
	</div>

}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.MediaStatus)
	@Html.HiddenFor(model => model.RefNo)

	<div class="row">

		<div class="col-xl-3 col-md-3 col-sm-4 my-2">
			<div id="page-nav" class="sidebar-left page-nav">
				<div data-perfect-scrollbar>
					<div class="sidebar-inner">
						<ul class="steps steps-vertical nav">
							<li class="step-item complete">
								<a href="#step1" class="step-link" data-toggle="tab">
									<span class="step-number">1</span>
									<span class="step-title">Select Event Category</span>
								</a>
							</li>
							<li class="step-item active">
								<a href="#step2" class="step-link" data-toggle="tab">
									<span class="step-number">2</span>
									<span class="step-title">Fill Up Invitation Details</span>
								</a>
							</li>
							<li class="step-item active">
								<a href="#step3" class="step-link" data-toggle="tab">
									<span class="step-number">3</span>
									<span class="step-title">Fill Up Interview Details</span>
								</a>
							</li>
							<li class="step-item active">
								<a href="#step4" class="step-link" data-toggle="tab">
									<span class="step-number">4</span>
									<span class="step-title">Fill Up Recommended Rep. Details</span>
								</a>
							</li>
							<li class="step-item disabled">
								<a href="#step5" class="step-link" data-toggle="tab">
									<span class="step-number">5</span>
									<span class="step-title">Review & Submission</span>
								</a>
							</li>
						</ul>
						<!-- End Steps -->
					</div>
				</div>
			</div>
		</div>
		@* ----------------------------------------------------------------------------- *@
		<div class="col-xl-9 col-md-9 col-sm-8 mt-2 pb-5">
			<!-- Start Form -->
			<div class="border-form rounded-top">
				<div class="form-container tab-content">
					<div class="tab-pane active" id="step2">
						<div class="mt-2 mb-4 pb-1">
							<h4 class="color-darkblue mb-0">Fill up Invitation Details</h4>
							<h6 class="font-weight-normal">Information marked with (<span class="text-danger">*</span>) is mandatory.</h6>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.BranchId)
								@Html.DropDownListFor(model => model.BranchId, Model.BranchList, "-Select Branch-", htmlAttributes: new { @class = "form-control select2", style = "width: 100%" })
								@Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.MediaName)
								@Html.EditorFor(model => model.MediaName, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.MediaName, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.MediaType)
								@Html.EnumDropDownListFor(model => model.MediaType, "-Select Media Type-", htmlAttributes: new { @class = "form-control select2", style = "width:100%" })
								@Html.ValidationMessageFor(model => model.MediaType, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.ContactPerson)
								@Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.ContactNo)
								@Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control" , @placeholder = "01xxxxxxxxx" } })
								@Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.Email)
								@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.AddressStreet1)
								@Html.EditorFor(model => model.AddressStreet1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Street address line 1" } })
								@Html.ValidationMessageFor(model => model.AddressStreet1, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.EditorFor(model => model.AddressStreet2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Street address line 1" } })
								@Html.ValidationMessageFor(model => model.AddressStreet2, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-6">
								@Html.EditorFor(model => model.AddressPoscode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Poscode" } })
								@Html.ValidationMessageFor(model => model.AddressPoscode, "", new { @class = "text-danger" })
							</div>
							<div class="form-group col-lg-6">
								@Html.EditorFor(model => model.AddressCity, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })
								@Html.ValidationMessageFor(model => model.AddressCity, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.State)
								@Html.EnumDropDownListFor(model => model.State, "-Select State-", htmlAttributes: new { @class = "form-control select2", style = "width:100%" })
								@Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.Attachments)
								@Html.Partial("_Attachment", Model.Attachments)
								@Html.ValidationMessageFor(model => model.Attachments, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="border-top p-3 rounded-bottom">
							<a class="btn btn-default font-weight-normal mr-2" href='@Url.Action("List")'>Back</a>
							<a class="btn btn-secondary" href="#step3" data-toggle="tab">Next</a>
						</div>
					</div>

					<div class="tab-pane" id="step3">
						<div class="mb-4 mt-2 mr-auto">
							<h4 class="color-darkblue mb-0">Fill up Interview Details</h4>
							<h6 class="font-weight-normal">Information marked with (<span class="text-danger">*</span>) is mandatory.</h6>
						</div>

						<div class="row">
							<div class="form-group col-lg-6">
								@Html.FEPLabelFor(model => model.DateStart)
								@Html.EditorFor(model => model.DateStart, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date Start" } })
								@Html.ValidationMessageFor(model => model.DateStart, "", new { @class = "text-danger" })
							</div>
							<div class="form-group col-lg-6">
								@Html.FEPLabelFor(model => model.DateEnd)
								@Html.EditorFor(model => model.DateEnd, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date End" } })
								@Html.ValidationMessageFor(model => model.DateEnd, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-6">
								@Html.FEPLabelFor(model => model.Time)
								@Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control timeSelect" } })
								@Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
							</div>

							<div class="form-group col-lg-6">
								@Html.FEPLabelFor(model => model.Language)
								@Html.EnumDropDownListFor(model => model.Language, "-Select Language-", htmlAttributes: new { @class = "form-control select2", style = "width:100%" })
								@Html.ValidationMessageFor(model => model.Language, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.Topic)
								@Html.EditorFor(model => model.Topic, new { htmlAttributes = new { @class = "form-control", @placeholder = "Be clear and descriptive" } })
								@Html.ValidationMessageFor(model => model.Topic, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="border-top p-3 rounded-bottom">
							<a class="btn btn-default font-weight-normal mr-2" href="#step2">Back</a>
							<a class="btn btn-secondary" href="#step4" data-toggle="tab">Next</a>
						</div>
					</div>

					<div class="tab-pane" id="step4">
						<div class="mt-2 mb-4 pb-1">
							<h4 class="color-darkblue mb-0">Fill up Recommended Rep. Details</h4>
							<h6 class="font-weight-normal">Information marked with (<span class="text-danger">*</span>) is mandatory.</h6>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.RepUserId)
								@Html.DropDownListFor(model => model.RepUserId, Model.RepresentativeList, "-Select Representative-", htmlAttributes: new { @class = "form-control select2", style = "width: 100%" })
								@Html.ValidationMessageFor(model => model.RepUserId, "", new { @class = "text-danger" })
							</div>
						</div>

						<hr />
						<div>
							<a href='@Url.Action("List")' class="btn btn-warning btn-flat">Cancel</a>
							<button type="submit" class="btn btn-primary btn-flat">Save</button>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
}