@model FEP.Intranet.Areas.eLearning.Models.EditTOTReportModel

@{
    ViewBag.Title = "Train Of Trainer Report - Update";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section Contentscript{
    <script type="text/javascript">

        $(document).ready(function () {

            RefreshFile();

            $('select[name=CourseId]').change(function () {
                getCourseModules(this.value);
            });

            $("#StartDate").flatpickr({
			    dateFormat: "d/m/Y",
			    enableTime: false,
			    minDate: "today",
			    onValueUpdate: function (dObj, dStr, fp, dayElem) {
				    debugger;
				    $("#EndDate").flatpickr({
					    dateFormat: "d/m/Y",
					    enableTime: false,
					    minDate: dStr,
				    });
			    }
		    });

		    $("#EndDate").flatpickr({
			    dateFormat: "d/m/Y",
			    enableTime: false,
			    minDate: "today",
		    });


        });

        

    </script>
}

@section Nav {

    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                <div class="header-col-right float-right mt-5"><a href='@Url.Action("List", "TOTReport", new { area = "eLearning"})' class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                                <li class="breadcrumb-item"><a href="~/eLearning/Home">eLearning</a></li>
                                <li class="breadcrumb-item"><a href="#">Train Of Trainer</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">Update Report</h1>
                    @*<div class="header-text">List of created event</div>*@
                </div>
            </div>
        </div>
    </div>

}

<div class="row">
    <div class="col-xl-3 col-md-3 col-sm-4 my-2">
        <div id="page-nav" class="sidebar-left page-nav">
            <div data-perfect-scrollbar>
                <div class="page-section">
                    <h6 class="x-small color-darkblue"><i class="la la-edit font-icon color-secondary align-bottom"></i> Report</h6>
                    <ul class="nav page-nav__menu">
                        <li class="nav-item">
                            <a href="@Url.Action("Details", "TOTReport", new { area = "eLearning", id = Model.Id })" class="nav-link">View</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Edit", "TOTReport", new { area = "eLearning", id = Model.Id })" class="active nav-link">Edit</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Delete", "TOTReport", new { area = "eLearning", id = Model.Id })" class="nav-link">Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-md-9 col-sm-8 mt-2 pb-5">

        @using (Html.BeginForm("Edit", "TOTReport", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="border-form rounded-top">

                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)

                <div class="form-container">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.FEPLabelFor(model => model.Module)
                            @Html.EditorFor(model => model.Module, new { htmlAttributes = new { @class = "form-control", placeholder = Language.TOT.PlaceholderModule } })
                            @Html.ValidationMessageFor(model => model.Module, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            @Html.FEPLabelFor(model => model.StartDate)
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", placeholder = Language.TOT.PlaceholderStartDate } })
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-lg-6">
                            @Html.FEPLabelFor(model => model.EndDate)
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", placeholder = Language.TOT.PlaceholderEndDate } })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            @Html.FEPLabelFor(model => model.StartTime)
                            @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control timeSelect" } })
                            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-lg-6">
                            @Html.FEPLabelFor(model => model.EndTime)
                            @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control timeSelect" } })
                            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.FEPLabelFor(model => model.Venue)
                            @Html.EditorFor(model => model.Venue, new { htmlAttributes = new { @class = "form-control", placeholder = Language.TOT.PlaceholderVenue } })
                            @Html.ValidationMessageFor(model => model.Venue, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-lg-6">
                            <label>@Language.TOT.TextAgeRange</label>
                            <div class="form-control border-0">@Language.TOT.TextAgeR1</div>
                        </div>
                        <div class="col-lg-3">
                            <label>@Language.TOT.TextMale</label>
                            @Html.EditorFor(model => model.AgeR1NoOfMale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-lg-3">
                            <label>@Language.TOT.TextFemale</label>
                            @Html.EditorFor(model => model.AgeR1NoOfFemale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-lg-6">
                            <div class="form-control border-0">@Language.TOT.TextAgeR2</div>
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.AgeR2NoOfMale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.AgeR2NoOfFemale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-lg-6">
                            <div class="form-control border-0">@Language.TOT.TextAgeR3</div>
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.AgeR3NoOfMale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.AgeR3NoOfFemale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-lg-6">
                            <div class="form-control border-0">@Language.TOT.TextAgeR4</div>
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.AgeR4NoOfMale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.AgeR4NoOfFemale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-lg-6">
                            <div class="form-control border-0">@Language.TOT.TextAgeR5</div>
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.AgeR5NoOfMale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.AgeR5NoOfFemale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-1 mt-3">
                        <div class="col-lg-6">
                            <label>@Language.TOT.TextSalaryRange</label>
                            <div class="form-control border-0">@Language.TOT.TextSalaryR1</div>
                        </div>
                        <div class="col-lg-3">
                            <label>@Language.TOT.TextMale</label>
                            @Html.EditorFor(model => model.SalaryR1NoOfMale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-lg-3">
                            <label>@Language.TOT.TextFemale</label>
                            @Html.EditorFor(model => model.SalaryR1NoOfFemale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-lg-6">
                            <div class="form-control border-0">@Language.TOT.TextSalaryR2</div>
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.SalaryR2NoOfMale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.SalaryR2NoOfFemale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-lg-6">
                            <div class="form-control border-0">@Language.TOT.TextSalaryR3</div>
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.SalaryR3NoOfMale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.SalaryR3NoOfFemale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-lg-6">
                            <div class="form-control border-0">@Language.TOT.TextSalaryR4</div>
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.SalaryR4NoOfMale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.SalaryR4NoOfFemale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-lg-6">
                            <div class="form-control border-0">@Language.TOT.TextSalaryR5</div>
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.SalaryR5NoOfMale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.SalaryR5NoOfFemale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-lg-6">
                            <div class="form-control border-0">@Language.TOT.TextSalaryR6</div>
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.SalaryR6NoOfMale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-lg-3">
                            @Html.EditorFor(model => model.SalaryR6NoOfFemale, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.FEPLabelFor(model => model.Attachments)
                            @Html.Partial("_Attachment", Model.Attachments)
                            @Html.ValidationMessageFor(model => model.Attachments, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

            </div>
            <div class="border-left border-right border-bottom p-3 rounded-bottom">
                <a href="@Url.Action("List")" class="btn btn-default mr-2">Back</a>
                <button class="btn btn-secondary" type="submit">Save</button>
            </div>

        }

    </div>

</div>