@model List<RoleModel>


<div id="addForm"></div>
@{ var i = 0;}

@foreach (var item in Model)
{
    { i++; }
    <div class="details">
        <div class="row divTd">
            <div class="col-1 text-center">@i</div>
            <div class="col px-0">@Html.DisplayFor(m => item.Name)</div>
            <div class="col pl-1">@Html.DisplayFor(m => item.Description)</div>
            <div class="col-3 pl-0 text-right">
                <div class="icon-action">
                    <a href="@Url.Action("Access", new { id = item.Id })" data-toggle="tooltip" title="Update Access"><i class="la la-list-alt text-muted"></i></a>
                    <a href="@Url.Action("UserRole", new { id = item.Id })" data-toggle="tooltip" title="Update User"><i class="la la-user text-muted"></i></a>
                    <a href="javascript:void(0);" onclick="showEdit(this, @item.Id , @i, '@HttpUtility.JavaScriptStringEncode(item.Name)', '@HttpUtility.JavaScriptStringEncode(item.Description)')" data-toggle="tooltip" title="Edit"><i class="la la-edit text-muted"></i></a>
                    <a href="javascript:void(0);" onclick="showDelete(this, @item.Id , @i, '@HttpUtility.JavaScriptStringEncode(item.Name)','@HttpUtility.JavaScriptStringEncode(item.Description)')" data-toggle="tooltip" title="Delete"><i class="la la-trash-o text-muted"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="editForm"></div>

}