@model List<RoleModel>


@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section ContentScript{

    <script type="text/javascript">

        $(document).ready(function () {



        });

        function clearForm() {
            $('#addForm').html('');

            $('.editForm').each(function () {
                $(this).html('');
                $(this).prev('div.details').removeClass('d-none').addClass('d-block');
            });

        }

        function showAdd() {

            clearForm();

            $.ajax({
                type: 'get',
                url: '@Url.Action("_Create", "Role", new { area = "Administrator" })',
                success: function (data) {
                    
                    $('#addForm').html(data);
                    $.validator.unobtrusive.parse('#formAdd');

                },
                error: function (xhr, status, error) {
                    $('#detail').html('');
                }
            });

        }

        function showDetail(obj) {

            var parent = $(obj).closest('div.editForm');
            parent.html('');
            parent.prev('div.details').removeClass('d-none').addClass('d-block');
        }

        function showEdit(obj, id, no, name, description) {

            clearForm();

            $.ajax({
                type: 'get',
                url: '@Url.Action("_Edit", "Role", new { area = "Administrator" })?id=' + id + '&Name=' + name + '&Description=' + description + '&No=' + no,
                success: function (data) {

                    var parent = $(obj).closest('div.details');

                    parent.removeClass('d-block').addClass('d-none');
                    parent.next('div.editForm').html(data);

                    $.validator.unobtrusive.parse('#formEdit');

                },
                error: function (xhr, status, error) {
                    $('#detail').html('');
                }
            });

        }

        function showDelete(obj, id, no, name, description) {

            clearForm();

            $.ajax({
                type: 'get',
                url: '@Url.Action("_Delete", "Role", new { area = "Administrator" })?id=' + id + '&Name=' + name + '&Description=' + description + '&No=' + no,
                success: function (data) {

                    var parent = $(obj).closest('div.details');

                    parent.removeClass('d-block').addClass('d-none');
                    parent.next('div.editForm').html(data);

                },
                error: function (xhr, status, error) {
                    $('#detail').html('');
                }
            });

        }

    </script>

}

@section Nav {

    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                @*<div class="header-col-right float-right mt-5"><a href="e-Learning.html" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>*@
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { area = "" })">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Settings</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">Role</h1>
                    @*<div class="header-text">List of registered user as individual</div>*@
                </div>
            </div>
        </div>
    </div>

}

<div class="row">
    <div class="col-xl-3 col-md-3 col-sm-4 my-2">
        <div id="page-nav" class="sidebar-left page-nav">
            <div data-perfect-scrollbar>
                <div class="page-section">
                    <h6 class="x-small color-darkblue"><i class="la la-edit font-icon color-secondary align-bottom"></i> Role</h6>
                    <ul class="nav page-nav__menu">
                        <li class="nav-item">
                            <a href="" class="active nav-link">Role List</a>
                        </li>
                        @*<li class="nav-item">
                            <a href="" class="nav-link">Edit</a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-md-9 col-sm-8 mt-2 pb-5">

        <div class="border-form rounded-top">

            <div class="form-container form-container-w100">
                <div>
                    <div class="d-flex align-items-center mb-4 mt-2">
                        <h4 class="color-darkblue mr-auto mb-0"></h4>
                        <button class="btn btn-secondary btn-lg" onclick="showAdd();"><i class="la la-plus font-icon"></i>Create New Role</button>
                    </div>
                    <div class="divtableStyle1">
                        <div class="row no-gutters">
                            <div class="col-lg-12 divTableWrap">
                                <div class="divtableheader">
                                    <div class="row">
                                        <div class="col-1 text-center">No</div>
                                        <div class="col px-0">Role Name</div>
                                        <div class="col px-0">Description</div>
                                        <div class="col-3 pl-0">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="divtableBody">

                                    <div id="addForm"></div>
                                    @{ var i = 0;}

                                    @foreach (var item in Model)
                                    {
                                        { i++; }
                                        <div class="details">
                                            <div class="row divTd">
                                                <div class="col-1 text-center">@i</div>
                                                <div class="col px-0">@Html.DisplayFor(m => item.Name)</div>
                                                <div class="col pl-1">@Html.DisplayFor(m => item.Description)</div>
                                                <div class="col-3 pl-0 text-right">
                                                    <div class="icon-action">
                                                        <a href="@Url.Action("Access", new { id = item.Id })" data-toggle="tooltip" title="Role Access"><i class="la la-list-alt text-muted"></i></a>
                                                        <a href="@Url.Action("UserRole", new { id = item.Id })" data-toggle="tooltip" title="User Role"><i class="la la-user text-muted"></i></a>
                                                        <a href="javascript:void(0);" onclick="showEdit(this, @item.Id , @i, '@HttpUtility.JavaScriptStringEncode(item.Name)', '@HttpUtility.JavaScriptStringEncode(item.Description)')" data-toggle="tooltip" title="Edit"><i class="la la-edit text-muted"></i></a>
                                                        <a href="javascript:void(0);" onclick="showDelete(this, @item.Id , @i, '@HttpUtility.JavaScriptStringEncode(item.Name)','@HttpUtility.JavaScriptStringEncode(item.Description)')" data-toggle="tooltip" title="Delete"><i class="la la-trash-o text-muted"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="editForm"></div>

                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

