@model FEP.WebApiModel.Template.CreateEmailTemplateModel

@{
    ViewBag.Title = "Create Email Template";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section Contentscript{

    <link href="~/Scripts/summernote/summernote-lite.css" rel="stylesheet" />
    <script src="~/Scripts/summernote/summernote-lite.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#summernote').summernote({
                placeholder: 'Type email here',
                tabsize: 2,
                height: 300,
                //width: $('#textareaContainer').parent().width() + ($('#textareaContainer').parent().width() * 0.3)
            });
        });
    </script>

}

@section Nav {

    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                @*<div class="header-col-right float-right mt-5"><a href="e-Learning.html" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>*@
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { area = "" })">Home</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Template</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">Email Template List</h1>
                    @*<div class="header-text">List of registered user as individual</div>*@
                </div>
            </div>
        </div>
    </div>

}

<div class="row">



    

        <div class="col-xl-3 col-md-3 col-sm-4 my-2">
            <div id="page-nav" class="sidebar-left page-nav">
                <div data-perfect-scrollbar class="ps">
                    <div class="page-section">
                        <h6 class="x-small color-darkblue"><i class="la la-edit font-icon color-secondary align-bottom"></i> Email Template</h6>
                        <ul class="nav page-nav__menu">
                            <li class="nav-item">
                                <a href="@Url.Action("Create", "EmailTemplates", new { area = "Template"})" class="nav-link">Create Template</a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Create", "EmailTemplates", new { area = "Template"})" class="active nav-link">Create Template</a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Create", "EmailTemplates", new { area = "Template"})" class="nav-link">Create Template</a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col-xl-9 col-md-9 col-sm-8 mt-2 pb-5">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="border-form rounded">
                    <div class="form-container form-container-w100">
                        <div class="mb-4 mt-2">
                            <h4 class="color-darkblue mb-0">Create : New Email Template</h4>
                        </div>


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>@Html.DisplayNameFor(model => model.NotificationType)</label>
                                <div class="col-lg-12">
                                    @Html.DropDownListFor(model => model.NotificationType, Model.NotificationTypeList, "-Select Notification Type-", htmlAttributes: new { @class = "form-control select2", style = "width: 100%" })
                                    @Html.ValidationMessageFor(model => model.NotificationTypeList, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TemplateRefNo, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.TemplateRefNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TemplateRefNo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TemplateName, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.TemplateName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TemplateName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TemplateSubject, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.TemplateSubject, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TemplateSubject, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TemplateMessage, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12" id="textareaContainer">
                                @*<div style="transform: scale(0.75); transform-origin: 0 0;">*@
                                @Html.TextAreaFor(model => model.TemplateMessage, new { @class = "form-control summernote", @id = "summernote" })
                                @Html.ValidationMessageFor(model => model.TemplateMessage, "", new { @class = "text-danger" })
                                @*</div>*@
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.enableSMSMessage, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.CheckBoxFor(model => model.enableSMSMessage, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.enableSMSMessage, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SMSMessage, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.SMSMessage, new { @class = "form-control", @style = "max-width 100%" })
                                @Html.ValidationMessageFor(model => model.SMSMessage, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.enableWebMessage, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.CheckBoxFor(model => model.enableWebMessage, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.enableWebMessage, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.WebMessage, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.WebMessage, new { @class = "form-control", @style = "max-width 100%" })
                                @Html.ValidationMessageFor(model => model.WebMessage, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>
                    <div class="p-3 rounded-bottom">
                        <a class="btn btn-default font-weight-normal mr-2" href="href='@Url.Action("List")'">Cancel</a>
                        <button type="submit" class="btn btn-secondary mr-2">Save Template</button>
                        <a class="btn btn-outline-default font-weight-normal" href="#">Preview</a>
                    </div>


                </div>

            }
            </div>


    

</div>