@model FEP.Intranet.Areas.eEvent.Models.DetailsEventCategoryModel

@{
	ViewBag.Title = "Event Category";
	Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section Nav {

	<div class="title_header">
		<div class="title-header-container">
			<div class="container">
				<!-- if have button -->
				@*<div class="header-col-right float-right mt-5"><a href="e-Learning.html" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>*@
				<div class="header-col-left">
					<div id="breadcrumb">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item"><a href="#">e-Event</a></li>
								<li class="breadcrumb-item"><a href="#">Event Category</a></li>
								<li class="breadcrumb-item active" aria-current="page"><a href="#">Category Details</a></li>
							</ol>
						</nav>
					</div>
					<h1 class="page-title text-white">Category Details</h1>
					@*<div class="header-text">List of created event</div>*@
				</div>
			</div>
		</div>
	</div>

}
<div class="row">
	<div class="col-xl-9 col-md-9 col-sm-8 mt-2 pb-5">
		<!-- Start Form -->
		<div class="border-form rounded-top">
			<form>
				<div class="form-container">
					<div class="row">
						<div class="form-group col-lg-12">
							@Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-12" })
							<div class="col-md-12">
								@Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
								@Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-lg-12">
							@Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-12" })
							<div class="col-md-12">
								@Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control",  @disabled = "disabled" } })
								@Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>

				</div>
			</form>

		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<a href='@Url.Action("List")' class="btn btn-warning">Back</a>
		<a href='@Url.Action("Edit",new { id = Model.Id })' class="btn btn-primary">Edit</a>
	</div>
</div>
