@using FEP.Model
@using FEP.Model.eLearning
@model List<CourseDiscussionModel>
@{ var i = 0;}

@{
    ViewBag.Title = "Parameter Course Category";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


@section Nav {

    <div class="title_header">
        <div class="title-header-container">
            <div class="container">

                <div class="header-col-right float-right mt-5"><a href="@Url.Action("Index", "Parameter", new { area = "Setting" })" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> @Language.General.ButtonBack</a></div>
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { area = "" })">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">System Settings</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Parameter", new { area = "Setting" })">Parameter Management</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">@Language.eLearning.CourseDiscussion.TitleList</h1>
                    <div class="header-text">@Language.eLearning.CourseDiscussion.TitleDescriptionList</div>
                </div>
            </div>
        </div>
    </div>

}

<div class="row">
    <div class="col-md-12">

        @*<div class="d-flex align-items-center mb-4">
                <h1 class="h2 flex mr-3 mb-0">Forum</h1>
                <a href="student-forum-ask.html" class="btn btn-success">Ask a Question</a>
            </div>*@

        <!-- Search -->
        @*<div class="flex search-form form-control-rounded search-form--light mb-2" style="min-width: 200px;">
                <input type="text" class="form-control" placeholder="Search discussions" id="searchSample02">
                <button class="btn pr-3" type="button" role="button"><i class="material-icons">search</i></button>
            </div>*@
        <div class="col-mb-12">
            <div class="media align-items-center">
                <div class="media-body">
                </div>
                <div class="media-right">
                    <a href="#" class="btn btn-secondary" onclick="showAdd();">
                        <i class="la la-plus font-icon" style="font-size: 1.5rem;"></i>
                    Create New Discussion</a>
                </div>
            </div>
        </div>

        <div class="" style="padding: 10px" id="addForm">

        </div>
        <div class="mb-4 d-flex align-items-center">
            <small class="text-black-70 text-uppercase mr-3">Displaying 10 out of 5,234 discussions</small>
            <div class="dropdown ml-auto">
                <a href="" data-toggle="dropdown" class="dropdown-toggle text-black-70" aria-expanded="false">All Topics</a>
                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-82px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a href="" class="dropdown-item active">All Topics</a>
                    <a href="" class="dropdown-item">General</a>
                    <a href="" class="dropdown-item">Lessons</a>
                    <a href="" class="dropdown-item">Customer Support</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="media align-items-center">
                    <div class="media-body">
                        <h4 class="card-title">General</h4>
                        <p class="card-subtitle">All non-course topics.</p>
                    </div>

                </div>

            </div>



            <ul class="list-group list-group-fit">
                @foreach (var item in Model.Where(m => m.DiscussionVisibility == DiscussionVisibility.Everybody))
                {
                    <li class="list-group-item forum-thread">
                        <div class="media align-items-center">
                            <div class="media-left">
                                <div class="forum-icon-wrapper">
                                    <a href="@Url.Action("View", "CourseDiscussion", new { area = "eLearning" })/@item.Id" class="forum-thread-icon">
                                        <i class="material-icons">description</i>
                                    </a>
                                    <a href="student-profile.html" class="forum-thread-user">
                                        <img src="assets/images/people/50/guy-1.jpg" alt="" width="20" class="rounded-circle">
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="d-flex align-items-center">
                                    <a href="@Url.Action("View", "CourseDiscussion", new { area = "eLearning" })/@item.Id" class="text-body"><strong>@item.CreatedByName</strong></a>
                                    <small class="ml-auto text-muted">@item.CreatedOn</small>
                                </div>
                                <a class="text-black-70" href="student-forum-thread.html">
                                    @{ if (item.FirstPost != null)
                                        {
                                            if (item.FirstPost != null)
                                            {
                                                if (item.FirstPost.Count() > 50)
                                                {
                                                    @item.FirstPost.Substring(0, 50);
                                                    @Html.Raw(" ... ")
                                                }
                                                else
                                                {
                                                    @item.FirstPost
                                                }
                                            }

                                        }
                                    }
                                </a>
                            </div>
                        </div>
                    </li>
                }

            </ul>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="media align-items-center">
                    <div class="media-body">
                        <h4 class="card-title">Lessons</h4>
                        <p class="card-subtitle">Course related topics.</p>
                    </div>
                    @*<div class="media-right">
                        <a href="#" class="btn btn-white btn-sm"><i class="material-icons">add</i></a>
                    </div>*@
                </div>
            </div>



            <ul class="list-group list-group-fit">
                @foreach (var item in Model.Where(m => m.DiscussionVisibility == DiscussionVisibility.GroupOnly))
                {
                    <li class="list-group-item forum-thread">
                        <div class="media align-items-center">
                            <div class="media-left">
                                <div class="forum-icon-wrapper">
                                    <a href="@Url.Action("View", "CourseDiscussion", new { area = "eLearning" })/@item.Id" class="forum-thread-icon">
                                        <i class="material-icons">description</i>
                                    </a>
                                    <a href="student-profile.html" class="forum-thread-user">
                                        <img src="assets/images/people/50/guy-1.jpg" alt="" width="20" class="rounded-circle">
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="d-flex align-items-center">
                                    <a href="@Url.Action("View", "CourseDiscussion", new { area = "eLearning" })/@item.Id" class="text-body"><strong>@item.CreatedByName</strong></a>
                                    <small class="ml-auto text-muted">@item.CreatedOn</small>
                                </div>
                                <a class="text-black-70" href="student-forum-thread.html">
                                    @{ if (item.FirstPost != null)
                                        {
                                            if (item.FirstPost != null)
                                            {
                                                if (item.FirstPost.Count() > 50)
                                                {
                                                    @item.FirstPost.Substring(0, 50);
                                                    @Html.Raw(" ... ")
                                                }
                                                else
                                                {
                                                    @item.FirstPost
                                                }
                                            }

                                        }
                                    }
                                </a>
                            </div>
                        </div>
                    </li>
                }

            </ul>
        </div>


        @*<nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center pagination-sm ">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true" class="material-icons">chevron_left</span>
                            <span>Prev</span>
                        </a>
                    </li>

                    <li class="page-item active">
                        <a class="page-link" href="#" aria-label="1">
                            <span>1</span>
                        </a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="2">
                            <span>2</span>
                        </a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span>Next</span>
                            <span aria-hidden="true" class="material-icons">chevron_right</span>
                        </a>
                    </li>

                </ul>
            </nav>*@


    </div>
    @*<div class="col-md-4">

            <h4>Top Streaks</h4>
            <p class="text-black-70">Participate on discussions on consecutive days to earn your IQ streak.</p>



            <div class="mb-4">

                <div class="d-flex align-items-center mb-2">
                    <a href="student-profile.html" class="avatar avatar-sm mr-3">
                        <img src="assets/images/people/50/guy-1.jpg" alt="course" class="avatar-img rounded-circle">
                    </a>
                    <a href="student-profile.html" class="flex mr-2 text-body"><strong>Luci Bryant</strong></a>
                    <span class="text-black-70 mr-2">1,233</span>
                    <i class="text-muted material-icons font-size-16pt">opacity</i>
                </div>

                <div class="d-flex align-items-center mb-2">
                    <a href="student-profile.html" class="avatar avatar-sm mr-3">
                        <img src="assets/images/people/50/guy-2.jpg" alt="course" class="avatar-img rounded-circle">
                    </a>
                    <a href="student-profile.html" class="flex mr-2 text-body"><strong>Magnus Goldsmith</strong></a>
                    <span class="text-black-70 mr-2">1,230</span>
                    <i class="text-muted material-icons font-size-16pt">opacity</i>
                </div>

                <div class="d-flex align-items-center mb-2">
                    <a href="student-profile.html" class="avatar avatar-sm mr-3">
                        <img src="assets/images/people/50/woman-1.jpg" alt="course" class="avatar-img rounded-circle">
                    </a>
                    <a href="student-profile.html" class="flex mr-2 text-body"><strong>Katelyn Rankin</strong></a>
                    <span class="text-black-70 mr-2">1,119</span>
                    <i class="text-muted material-icons font-size-16pt">opacity</i>
                </div>

                <div class="d-flex align-items-center mb-2">
                    <a href="student-profile.html" class="avatar avatar-sm mr-3">
                        <img src="assets/images/256_rsz_nicolas-horn-689011-unsplash.jpg" alt="course" class="avatar-img rounded-circle">
                    </a>
                    <a href="student-profile.html" class="flex mr-2 text-body"><strong>Jenell D. Matney</strong></a>
                    <span class="text-black-70 mr-2">998</span>
                    <i class="text-muted material-icons font-size-16pt">opacity</i>
                </div>

                <div class="d-flex align-items-center mb-2">
                    <a href="student-profile.html" class="avatar avatar-sm mr-3">
                        <img src="assets/images/256_rsz_sharina-mae-agellon-377466-unsplash.jpg" alt="course" class="avatar-img rounded-circle">
                    </a>
                    <a href="student-profile.html" class="flex mr-2 text-body"><strong>Sherri J. Cardenas</strong></a>
                    <span class="text-black-70 mr-2">950</span>
                    <i class="text-muted material-icons font-size-16pt">opacity</i>
                </div>

                <div class="d-flex align-items-center mb-2">
                    <a href="student-profile.html" class="avatar avatar-sm mr-3">
                        <img src="assets/images/256_rsz_karl-s-973833-unsplash.jpg" alt="course" class="avatar-img rounded-circle">
                    </a>
                    <a href="student-profile.html" class="flex mr-2 text-body"><strong>Joseph S. Ferland</strong></a>
                    <span class="text-black-70 mr-2">652</span>
                    <i class="text-muted material-icons font-size-16pt">opacity</i>
                </div>

            </div>

        </div>*@
</div>

@section ContentScript{
    <script type="text/javascript">

        $(document).ready(function () {



        });

        function clearForm() {
            $('#addForm').html('');

            $('.editForm').each(function () {
                $(this).html('');
                $(this).prev('div.details').removeClass('d-none').addClass('d-block');
            });

        }

        function showAdd() {

            clearForm();

            $.ajax({
                type: 'get',
                url: '@Url.Action("_Create", "CourseDiscussion", new { area = "eLearning" })',
                success: function (data) {

                    $('#addForm').html(data);
                    $.validator.unobtrusive.parse('#formAdd');

                },
                error: function (xhr, status, error) {
                    $('#detail').html('');
                }
            });

        }

        function showDetail(obj) {

            var parent = $(obj).closest('div.editForm');
            parent.html('');
            parent.prev('div.details').removeClass('d-none').addClass('d-block');
        }

        function showEdit(obj, id, no, name) {

            clearForm();

            $.ajax({
                type: 'get',
                url: '@Url.Action("_Edit", "CourseDiscussion", new { area = "eLearning" })?id=' + id + '&Name=' + name + '&No=' + no,
                success: function (data) {

                    var parent = $(obj).closest('div.details');

                    parent.removeClass('d-block').addClass('d-none');
                    parent.next('div.editForm').html(data);

                    $.validator.unobtrusive.parse('#formEdit');

                },
                error: function (xhr, status, error) {
                    $('#detail').html('');
                }
            });

        }

        function showDelete(obj, id, no, name) {

            clearForm();

            $.ajax({
                type: 'get',
                url: '@Url.Action("_Delete", "CourseDiscussion", new { area = "eLearning" })?id=' + id + '&Name=' + name + '&No=' + no,
                success: function (data) {

                    var parent = $(obj).closest('div.details');

                    parent.removeClass('d-block').addClass('d-none');
                    parent.next('div.editForm').html(data);

                },
                error: function (xhr, status, error) {
                    $('#detail').html('');
                }
            });

        }

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('.tabledata').DataTable({
                serverSide: true,
                processing: true,
                ajax: {
                    "type": "post",
                    "url": '@(WebApiURL)eLearning/Courses/GetAll',
                    "data": function (filter) {
                        console.log("-", filter);

                        filter.Code = $('#Filters_Code').val();
                        filter.Title = $('#Filters_Title').val();
                        filter.Status = $('#Filters_Status').val();
                        filter.Price = $('#Filters_Price').val();
                    },
                    dataFilter: function (res) {
                        // do what you need to the data before it loads to the table
                        // for debugging only for now
                        return res;
                    },
                    error: function (x, y) {
                        console.log("Error -", x);
                    }
                },
                columns: [
                    {
                        sortable: false,
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        data: 'Title',
                        sortable: true
                    },
                    {
                        data: 'Code',
                        sortable: true
                    },
                    {
                        data: 'Price',
                        sortable: true
                    },
                    {
                        data: 'Status',
                        sortable: true,
                        render: function (data, type, row, meta) {
                            if (row.Status == 0) {
                                return "<span class='color-grey font-weight-bold'>Draft</span>";
                            }
                            else if (row.Status == 1) {
                                return "<span class='color-yellow font-weight-bold'>Pending Verification</span>";
                            }
                            else if (row.Status == 2) {
                                return "<span class='color-red font-weight-bold'>Pending Amendment</span>";
                            }
                            else if (row.Status == 3) {
                                return "<span class='color-yellow font-weight-bold'>Pending Approval</span>";
                            }
                            else if (row.Status == 4) {
                                return "<span class='color-red font-weight-bold'>Pending Amendment</span>";
                            }
                        }
                    },
                    {
                        sortable: false,
                        render: function (data, type, row, meta) {

                            var action = "";

                            var canview = @Json.Encode(CurrentUser.HasAccess(UserAccess.CourseView));
                            var canedit = @Json.Encode(CurrentUser.HasAccess(UserAccess.CourseEdit));
                            var canverify = @Json.Encode(CurrentUser.HasAccess(UserAccess.CourseVerify));
                            var canapprove1 = @Json.Encode(CurrentUser.HasAccess(UserAccess.CourseApproval1));
                            var canapprove2 = @Json.Encode(CurrentUser.HasAccess(UserAccess.CourseApproval2));
                            var canapprove3 = @Json.Encode(CurrentUser.HasAccess(UserAccess.CourseApproval3));
                            var canpublish = @Json.Encode(CurrentUser.HasAccess(UserAccess.CoursePublish));
                            var canwithdraw = @Json.Encode(CurrentUser.HasAccess(UserAccess.CourseEnroll));

                            action = '<div class="icon-action">';

                            if (canview) {
                                action += '<a href="@Url.Action("Content", "Courses", new { area = "eLearning" })/' + row.Id + '" data-toggle="tooltip" data-placement="top" title="View"><i class="la la-eye text-muted"></i></a>&nbsp;';
                            }

                            if (row.Status == 0) {          // new
                                if (canedit) {
                                    //action += '<a href="@Url.Action("Edit", "Courses", new { area = "eLearning" })/' + row.Id + '" data-toggle="tooltip" data-placement="top" title="Edit"><i class="la la-edit text-muted"></i></a>';
                                    action += '<a href="@Url.Action("Content", "Courses", new { area = "eLearning" })/' + row.Id + '" data-toggle="tooltip" data-placement="top" title="Edit"><i class="la la-edit text-muted"></i></a>';
                                    action += '<a href="@Url.Action("Delete", "Courses", new { area = "eLearning" })/' + row.Id + '" data-toggle="tooltip" data-placement="top" title="Delete"><i class="la la-trash-o text-muted"></i></i></a>';
                                }
                            }
                            else if (row.Status == 1) {     // submitted
                                if (canverify || canapprove1 || canapprove2 || canapprove3) {
                                    action += '<a href="@Url.Action("Evaluate", "Courses", new { area = "eLearning" })/' + row.Id + '" data-toggle="tooltip" data-placement="top" title="Evaluate"><i class="la la-edit text-muted"></i></a>';
                                }
                            }
                            else {
                                action += '';
                            }

                            action += '</div>';

                            return action;
                        }
                    }
                ],
                paging: true,
                lengthChange: true,
                searching: true,
                ordering: true,
                orderMulti: false,
                info: true,
                autoWidth: false,
                order: [[1, 'asc']],
                language: {
                    processing: "Processing... <i class='fa fa-refresh fa-spin'></i>",
                    emptyTable: "No Record Found",
                    info: "Showing _START_ - _END_ of _TOTAL_ courses"
                },
                dom: 'rtip'
            });

            $('#lengthChange').val(table.page.len());

            $('#quickSearch').keyup(function () {
                table.search($(this).val()).draw();
            });

            $('#quickSearchBtn').click(function () {
                table.search($(this).val()).draw();
            });

            $('#lengthChange').change(function () {
                table.page.len($(this).val()).draw();
            });

            $('#btnSearch').click(function () {
                table.ajax.reload();
            });

            table.on('order.dt search.dt', function () {
                var info = table.page.info();
                $('#pageInfo').html('Showing ' + (info.start + 1) + ' - ' + info.end + ' of ' + info.recordsTotal + ' courses');
                $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
            }).draw();

        });

    </script>

}

