@model FEP.WebApiModel.RnP.ReturnPublicationModel

@{
    ViewBag.Title = "Select Publication Format";
    Layout = "~/Views/Shared/_LayoutLandingPage.cshtml";
}

@section Nav{
    <div id="breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                <li class="breadcrumb-item"><a href="~/RnP/Home">Research & Publications</a></li>
                <li class="breadcrumb-item"><a href="~/RnP/BrowsePublications">Browse Publications</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
            </ol>
        </nav>
    </div>
    <h1 class="page-title text-white">@Model.Title</h1>
    <div class="header-text">
        <div class="d-flex star-rating">
            <div class="rating">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="mx-2">4.2 (104 ratings) <span class="reviews-text">99 reviews</span></div>
        </div>
    </div>
}

<div class="content-container">
    <div class="container">
        <div class="row">
            <!-- column content left -->
            <div class="col-lg-9">
                <div class="col-content">
                    <h4 class="color-darkblue">Select Publication Format</h4>
                    <div class="row select-publication mb-4">
                        <div class="col-lg-4">
                            <div class="box-contain">
                                @if (Model.Digitalcopy)
                                {
                                    if (!Model.FreeDCopy)
                                    {
                                        <div class="card text-center" id="card_digital" data-selected="false" data-active="yes">
                                            <div class="mb-4"><img src="~/img/publications/icon-digital.svg" alt="image"></div>
                                            <div class="color-secondary font-weight-bolder mb-1">Digital</div>
                                            <h3 class="color-darkblue mb-5">RM @Model.DPrice.ToString("0.00")</h3>
                                            <!--<div class="badge text-muted"><s>RM11.99</s><span> 10% off</span></div>-->
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="card text-center" id="card_digital" data-selected="false" data-active="no">
                                            <div class="mb-4"><img src="~/img/publications/icon-digital.svg" alt="image"></div>
                                            <div class="color-secondary font-weight-bolder mb-1">Digital</div>
                                            <h3 class="color-darkblue mb-5">Free!</h3>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="card text-center" id="card_digital" data-selected="false" data-active="no">
                                        <div class="mb-4"><img src="~/img/publications/icon-digital.svg" alt="image"></div>
                                        <div class="color-secondary font-weight-bolder mb-1">Digital</div>
                                        <h3 class="color-red mb-5">Not Available</h3>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="box-contain">
                                @if (Model.Hardcopy)
                                {
                                    <div class="card text-center" id="card_hardcopy" data-selected="false" data-active="yes">
                                        <div class="mb-4"><img src="~/img/publications/icon-hard-cover.svg" alt="image"></div>
                                        <div class="color-secondary font-weight-bolder mb-1">Hard Copy</div>
                                        <h3 class="color-darkblue mb-5">RM @Model.HPrice.ToString("0.00")</h3>
                                        <div class="touchspin-wrapper position-bottom"><input id="touch-spin-2" data-toggle="touch-spin" data-min="0" data-max="10" data-step="1" type="text" value="0" class="form-control" /></div>
                                    </div>
                                }
                                else
                                {
                                    <div class="card text-center" id="card_hardcopy" data-selected="false" data-active="no">
                                        <div class="mb-4"><img src="~/img/publications/icon-hard-cover.svg" alt="image"></div>
                                        <div class="color-secondary font-weight-bolder mb-1">Hard Copy</div>
                                        <h3 class="color-red mb-5">Not Available</h3>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="box-contain">
                                @if (Model.HDcopy)
                                {
                                    <div class="card text-center" id="card_both" data-selected="false" data-active="yes">
                                        <div class="mb-4"><img src="~/img/publications/icon-1-plus-1-promo.svg" alt="image"></div>
                                        <div class="color-secondary font-weight-bolder mb-1">Promotion</div>
                                        <h3 class="color-darkblue mb-5">RM @Model.HDPrice.ToString("0.00")</h3>
                                        <div class="xs-small position-bottom">Get 1 digital and 1 hard copy for a special price. </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="card text-center" id="card_both" data-selected="false" data-active="no">
                                        <div class="mb-4"><img src="~/img/publications/icon-1-plus-1-promo.svg" alt="image"></div>
                                        <div class="color-secondary font-weight-bolder mb-1">Promotion</div>
                                        <h3 class="color-red mb-5">Not Available</h3>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Action Button -->
                            <div class="border-top py-3 mt-5">
                                @using (Html.BeginForm("PurchasePublication", "Home", new { area = "RnP" }, FormMethod.Post, new { id = "myform" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <input type="hidden" name="puid" id="puid" value="@Model.ID" />
                                    <input type="hidden" name="dbuy" id="dbuy" value="" />
                                    <input type="hidden" name="hbuy" id="hbuy" value="" />
                                    <input type="hidden" name="hbil" id="hbil" value="" />
                                    <input type="hidden" name="pbuy" id="pbuy" value="" />
                                }
                                <a class="btn btn-default font-weight-normal mr-2" href="@Url.Action("PublicationDetails", "Home", new { area = "RnP", @id = Model.ID })">Back</a>
                                <a class="btn btn-secondary" id="btnNext" href="#">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end column content left -->
            <!-- column content right -->
            <div class="col-lg-3">
                <div class="right-sidebar">
                    <div class="card__wrapper">
                        <div class="card__top">
                            @{
                                var coverpic1 = "";
                                var coverpic2 = "";
                                var authorpic = "";
                            }
                            @if ((Model.CoverPicture != "") && (Model.CoverPicture != null))
                            {
                                coverpic1 = BaseURL + "/Data/images/publication/" + Model.CoverPicture;
                                coverpic2 = BaseURL + "/Data/images/publication/" + Model.CoverPicture;
                            }
                            else
                            {
                                coverpic1 = BaseURL + "/" + "img" + "/cover-buku-1.jpg";
                                coverpic2 = BaseURL + "/" + "img" + "/cover-buku-1.jpg";
                            }
                            @if ((Model.AuthorPicture != "") && (Model.AuthorPicture != null))
                            {
                                authorpic = BaseURL + "/Data/images/publication/" + Model.AuthorPicture;
                            }
                            else
                            {
                                authorpic = BaseURL + "/" + "img" + "/8.jpg";
                            }
                            <div class="card__top__wapper"><img class="card__top__image" src="@coverpic1" alt="image"></div>
                        </div>
                    </div>
                    <!--<div class="mb-4"><img src="~/img/cover-buku-x.jpg"></div>-->
                    <div class="card-group">
                        <div class="lead color-darkblue mb-3 font-weight-bolder">Publication Details</div>
                        <ul>
                            <li><i class="la la-list-ul font-icon color-secondary" style="font-size: 17px;"></i>@Model.Category</li>
                            <li><i class="la la-user font-icon color-secondary" style="font-size: 17px;"></i>@Model.Author</li>
                            <li><i class="la la-calendar font-icon color-secondary" style="font-size: 19px;"></i>@Model.Year</li>
                            <li><i class="la la-language font-icon color-secondary" style="font-size: 17px;"></i>@Model.Language</li>
                            <li><i class="la la-barcode font-icon color-secondary" style="font-size: 17px;"></i>@Model.ISBN</li>
                            @if ((Model.HDcopy) || ((Model.Digitalcopy) && (Model.Hardcopy)))
                            {
                                <li><i class="la la-book font-icon color-secondary" style="font-size: 17px;"></i>Digital/Hard copy</li>
                            }
                            else if (Model.Hardcopy)
                            {
                                <li><i class="la la-book font-icon color-secondary" style="font-size: 17px;"></i>Hard copy</li>
                            }
                            else if (Model.Digitalcopy)
                            {
                                <li><i class="la la-book font-icon color-secondary" style="font-size: 17px;"></i>Digital</li>
                            }
                        </ul>
                    </div>
                    <!-- Share with friends -->
                    <div class="card-group">
                        <div class="lead color-darkblue mb-3 font-weight-bolder">Share with Friends</div>
                        <div class="ms-share"></div>
                    </div>
                </div>
            </div>
            <!-- end column content right -->
        </div>
    </div>
    <!-- Wrapper -->
</div>

@section ContentScript {
    <script type="text/javascript">
        $(document).ready(function () {

            var selectPublication = $(".box-contain .card");
            selectPublication.click(function () {
                var active = $(this).data('active');
                if (active == 'yes') {
                    $(this).toggleClass('active');
                    if ($(this).hasClass('active')) {
                        $(this).css('background-color', 'lightblue');
                        $(this).data('selected', 'true');
                    } else {
                        $(this).css('background-color', 'white');
                        $(this).data('selected', 'false');
                    }
                }
            });

            $("#touch-spin-2").click(function (e) {
                e.stopPropagation();
            });

            $("#btnNext").click(function () {
                var sd = $("#card_digital").data('selected');
                var sh = $("#card_hardcopy").data('selected');
                var sb = $("#card_both").data('selected');
                // Jeez... can't compare true/false as string for some reason, coz sd/sh/sb all becomes boolean
                if ((sd == false) && (sh == false) && (sb == false)) {
                    alert("Please select at least one (1) format!");
                    return false;
                }
                $("#dbuy").val(sd);
                $("#hbuy").val(sh);
                $("#pbuy").val(sb);
                //alert(sh);
                // Unbelievable!! Here sh becomes string again, wth???
                if (sh == "true") {
                    var bil = $("#touch-spin-2").val();
                    if ($.isNumeric(bil)) {
                        if (Math.floor(bil) == bil) {
                            if (parseInt(bil) > 0) {
                                $("#hbil").val(bil);
                            }
                            else {
                                alert("Please enter a valid number of copies!");
                                return false;
                            }
                        }
                        else {
                            alert("Please enter a valid number of copies!");
                            return false;
                        }
                    }
                    else {
                        alert("Please enter a valid number of copies!");
                        return false;
                    }
                }
                else {
                    $("#hbil").val('0');
                }
                $("#myform").submit();
            });

        });
    </script>
}
