@model EditCourseGroupModel

@{
    Layout = null;
}
@section ContentScript {
}
<style>
    textarea {
        max-width: 100%;
        min-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

@using (Html.BeginForm("_Edit", "CourseGroup", FormMethod.Post, new { id = "formEdit", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.HiddenFor(m => m.UpdatedBy)
    <div class="border-1">
        <div class="row divTd" style="padding: 15px;">
            <div class="col-2 px-0">
                @Html.LabelFor(m => m.Name, @Language.eLearning.CourseGroup.GroupName, new { htmlAttributes = new { @class = "form-label" } })
            </div>
            <div class="col-10 col-md-10 col-xs-md-5 px-0">
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Group Name" } })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
        <div class="row divTd" style="padding: 15px;">
            <div class="col-2 px-0">
                @Html.LabelFor(m => m.Description, @Language.eLearning.CourseGroup.Description, new { htmlAttributes = new { @class = "form-label" } })
            </div>
            <div class="col-10 col-md-10 col-xs-md-5 px-0">
                @Html.TextAreaFor(m => m.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Group Description" } })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
        <div class="row divTd" style="padding: 15px;">
            <div class="col-2 px-0">
                @Html.LabelFor(m => m.EnrollmentCode, @Language.eLearning.CourseGroup.GroupCode, new { htmlAttributes = new { @class = "form-label" } })
            </div>
            <div class="col-10 col-md-10 col-xs-md-5 px-0">
                @Html.EditorFor(m => m.EnrollmentCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enrollment Code" } })
                @Html.ValidationMessageFor(m => m.EnrollmentCode)
            </div>
        </div>
        <div class="row divTd" style="padding: 15px;">
            <div class="col px-0 text-right">
                <div class="icon-action">
                    <button type="submit" class="btn btn-secondary btn-sm mw-auto mr-2">@Language.General.ButtonEdit</button>
                    <button type="button" onclick="clearForm()" class="btn btn-default btn-sm mw-auto">@Language.General.ButtonCancel</button>
                </div>
            </div>
        </div>
    </div>
}
