@model ErrorLogModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


@section Nav {

    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                <div class="header-col-right float-right mt-5"><a href="@Url.Action("List", "ErrorLog", new { area = "Logs"})" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> @Language.General.ButtonBack</a></div>
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { area = "" })">Home</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Administration</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("List", "ErrorLog", new { area = "Logs" })">User Log</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">@Language.ErrorLog.TitleDelete</h1>
                    <div class="header-text">@Language.ErrorLog.TitleDescriptionDelete</div>
                </div>
            </div>
        </div>
    </div>

}

<h3>@Language.ErrorLog.TitleDeleteConfirmation</h3>
<div class="row">
    <div class="col-xl-3 col-md-3 col-sm-4 my-2">
        <div id="page-nav" class="sidebar-left page-nav">
            <div data-perfect-scrollbar>
                <div class="page-section">
                    <h6 class="x-small color-darkblue"><i class="la la-edit font-icon color-secondary align-bottom"></i> User</h6>
                    <ul class="nav page-nav__menu">
                        <li class="nav-item">
                            <a href="@Url.Action("Details", "ErrorLog", new { area = "Logs", id = Model.Id })" class="nav-link">View</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Delete", "ErrorLog", new { area = "Logs", id = Model.Id })" class="active nav-link">Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-9 col-md-9 col-sm-8 mt-2 pb-5">

        <div class="border-form rounded-top">

            <div class="form-container">
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.FEPLabelFor(m => m.LogDate)
                        @Html.EditorFor(m => m.LogDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.FEPLabelFor(m => m.UserName)
                        @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.FEPLabelFor(m => m.ModuleDesc)
                        @Html.EditorFor(m => m.ModuleDesc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.FEPLabelFor(m => m.Source)
                        @Html.EditorFor(m => m.Source, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.FEPLabelFor(m => m.IPAddress)
                        @Html.EditorFor(m => m.IPAddress, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.FEPLabelFor(m => m.Details)
                        @Html.EditorFor(m => m.Details, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>

            </div>

        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.Id)

            <div class="border-left border-right border-bottom p-3 rounded-bottom">
                <a href="@Url.Action("List")" class="btn btn-default mr-2">@Language.General.ButtonBack</a>
                <button class="btn btn-secondary" type="submit">@Language.General.ButtonDelete</button>
            </div>
        }

    </div>

</div>

