@model DetailsStaffModel

@{
    ViewBag.Title = "Activate User Account";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


@section Nav {

    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                <div class="header-col-right float-right mt-5"><a href="@Url.Action("List", "Individual", new { area = "Administrator"})" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { area = "" })">Home</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Administration</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("List", "Individual", new { area = "Administrator" })">User</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">Activate User Account</h1>
                    @*<div class="header-text">You can register new individual here</div>*@
                </div>
            </div>
        </div>
    </div>

}

<h3>Are you sure you want to activate this user account?</h3>
<div class="row">
    <div class="col-xl-3 col-md-3 col-sm-4 my-2">
        <div id="page-nav" class="sidebar-left page-nav">
            <div data-perfect-scrollbar>
                <div class="page-section">
                    <h6 class="x-small color-darkblue"><i class="la la-edit font-icon color-secondary align-bottom"></i> User</h6>
                    <ul class="nav page-nav__menu">
                        <li class="nav-item">
                            <a href="@Url.Action("Details", "Staff", new { area = "Administrator", id = Model.Id })" class="nav-link">View</a>
                        </li>
                        @if (Model.Status)
                        {
                            <li class="nav-item">
                                <a href="@Url.Action("Deactivate", "Staff", new { area = "Administrator", id = Model.Id })" class="nav-link">Disable account</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a href="@Url.Action("Activate", "Staff", new { area = "Administrator", id = Model.Id })" class="active nav-link">Activate account</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-9 col-md-9 col-sm-8 mt-2 pb-5">

        <div class="border-form rounded-top">

            <div class="form-container">
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.FEPLabelFor(m => m.Name)
                        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.FEPLabelFor(m => m.StaffId)
                        @Html.EditorFor(m => m.StaffId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.FEPLabelFor(m => m.Department)
                        @Html.EditorFor(m => m.Department.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.FEPLabelFor(m => m.Branch)
                        @Html.EditorFor(m => m.Branch.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.FEPLabelFor(m => m.Designation)
                        @Html.EditorFor(m => m.Designation.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.FEPLabelFor(m => m.ICNo)
                        @Html.EditorFor(m => m.ICNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.FEPLabelFor(m => m.Email)
                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.FEPLabelFor(m => m.MobileNo)
                        @Html.EditorFor(m => m.MobileNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.FEPLabelFor(m => m.Roles)
                        <div class="input-group">
                            @foreach (var role in Model.Roles)
                            {
                                <span class="badge badge-pill badge-primary ml-1" data-toggle="tooltip" title="@role.Description">@role.Name</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.LabelFor(m => m.Status)
                        <div>
                            @if (Model.Status)
                            {
                                <span class='color-green font-weight-bold'>Active</span>
                            }
                            else
                            {
                                <span class='color-grey font-weight-bold'>Disable</span>
                            }
                        </div>
                    </div>
                </div>

            </div>

        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.Id)

            <div class="border-left border-right border-bottom p-3 rounded-bottom">
                <a href="@Url.Action("List")" class="btn btn-default mr-2">Back</a>
                <button class="btn btn-secondary" type="submit">Activate</button>
            </div>

        }

    </div>

</div>

