@model FEP.WebApiModel.RnP.UpdateSurveyContentsModel

@{
    ViewBag.Title = "Build Survey";
    Layout = "~/Views/Shared/_LayoutSurveyBuilder.cshtml";
}

@section Nav{
    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                <div class="header-col-right float-right mt-5"><a href="~/RnP/Survey" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                                <li class="breadcrumb-item"><a href="~/RnP/Home">Research & Publication</a></li>
                                <li class="breadcrumb-item"><a href="~/RnP/Survey">Survey</a></li>
                                <li class="breadcrumb-item"><a href="#">Build Survey</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">Build Survey</h1>
                    <div class="header-text">Build your survey.</div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-xl-3 col-md-3 col-sm-4 my-2">
        <div class="sidebar-left">
            <!-- Steps -->
            <div class="sidebar-inner sticky">
                <ul class="steps steps-vertical">
                    <li class="step-item complete">
                        <a href="" class="step-link">
                            <span class="step-number">1</span>
                            <span class="step-title">Select Survey Type</span>
                        </a>
                    </li>
                    <li class="step-item complete">
                        <a href="" class="step-link">
                            <span class="step-number">2</span>
                            <span class="step-title">Fill In Survey Details</span>
                        </a>
                    </li>
                    <li class="step-item active">
                        <a href="" class="step-link">
                            <span class="step-number">3</span>
                            <span class="step-title">Design Survey Questions</span>
                        </a>
                    </li>
                    <li class="step-item disabled">
                        <a href="" class="step-link">
                            <span class="step-number">4</span>
                            <span class="step-title">Review & Submission</span>
                        </a>
                    </li>
                </ul>
                <!-- End Steps -->
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-md-9 col-sm-8 mt-2 pb-5">
        <!-- Start Form -->
        <div class="border-form rounded-top">
            <div class="form-container" style="max-width:840px;">
                <!--div class="row"-->
                <div id="surveyContainer">
                    <div id="creatorElement"></div>
                </div>
                <!--
                <div id="surveyElement"></div>
                <div id="surveyResult"></div>
                -->
                <!--/div-->
            </div>
        </div>
        <!-- End Form -->
        <!-- Popups -->
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formtemplate", id = "formtemplate" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="modal fade" id="modalSaveTemplate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="ID" id="TemplateID" value="@Model.ID" />
                                <label>Template Name</label>
                                <input type="text" class="form-control" name="TemplateName" id="TemplateName" placeholder="" />
                                <span class="text-danger field-validation-error" id="span_nameerror" style="display:none;">Please enter Template Name</span>
                            </div>
                            <div class="form-group">
                                <label>Template Description</label>
                                <textarea class="form-control" name="TemplateDescription" id="TemplateDescription" rows="4" placeholder=""></textarea>
                                <span class="text-danger field-validation-error" id="span_descerror" style="display:none;">Please enter Template Description</span>
                            </div>
                        </div>
                        <div class="divider-border"></div>
                        <div class="m-4 text-center">
                            <button class="btn btn-default font-weight-normal mr-2" data-dismiss="modal" aria-label="Close">Cancel</button>
                            <button class="btn btn-secondary" data-toggle="modal" data-dismiss="modal" data-target="#approvalsent" id="btnSaveTemplateConfirm">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modalTemplateSaved" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <img src="~/img/icon-confirmation.svg" alt="image">
                            <h4 class="color-darkblue mt-4" id="resultTitle">Saved as Template</h4>
                            <p class="small" id="resultText">Your Survey design has been successfully saved as a Template.</p>
                        </div>
                        <!-- Bila xde modal footer -->
                        <div class="modal-footer py-0">&nbsp;</div>
                    </div>
                </div>
            </div>
        }

        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formbuild", id = "formbuild" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="border-left border-right border-bottom p-3 rounded-bottom">
                @Html.HiddenFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
                <textarea id="Contents" name="Contents" class="form-control" rows="3" style="display:none;">@Model.Contents</textarea>
                <a class="btn btn-default" href="@Url.Action("Edit", "Survey", new { area = "RnP", @id = Model.ID })" data-toggle="tooltip" data-placement="top" title="Back">@Language.General.ButtonBack</a>
                <button type="button" class="btn btn-default" id="btnSaveTemplate" name="btnSaveTemplate"><i class="la la-save font-icon" style="font-size: 1.5rem;"></i>Save as a Template</button>
                <!-- Note: The builder is set to autosave so there's no need for save as draft button -->
                <button type="submit" class="btn btn-secondary" id="btnSubmit" name="Submittype" value="Submit">Review for Submission</button>
            </div>
        }
    </div>
</div>

@section ContentScript {
    <script type="text/javascript">
        $(document).ready(function () {
            var scontent = $('#Contents').val();
            surveyCreator.text = scontent;
            surveyCreator.saveSurveyFunc = function (saveNo, callback) {
                //alert('saving');
                $('#Contents').val(surveyCreator.text);
                var form = $('#formbuild');
                $.ajax({
                    url: "@(WebApiURL)RnP/Survey/Build",
                    type: "POST",
                    data: form.serialize(),
                    success: function (data) {
                        //alert(data.isSuccess);
                        //callback(saveNo, data.isSuccess);
                    }
                    /*,
                    error: function (xhr, ajaxOptions, thrownError) {
                        callback(saveNo, false);
                        alert(thrownError);
                    }
                    */
                });
                /*
                data: {
                    surveyId: uniqueid,
                    surveyText: surveyCreator.text
                },
                */
            };

            $('#btnSaveTemplate').click(function (event) {
                $('#span_nameerror').hide();
                $('#span_descerror').hide();
                $("#modalSaveTemplate").modal();
                return false;
            });

            $('#btnSaveTemplateConfirm').click(function () {
                var tname = $('#TemplateName').val();
                var tdesc = $('#TemplateDescription').val();
                $('#span_nameerror').hide();
                $('#span_descerror').hide();
                if (tname.trim() == "") {
                    $('#span_nameerror').show();
                }
                if (tdesc.trim() == "") {
                    $('#span_descerror').show();
                }
                if ((tname.trim() == "") || (tdesc.trim() == "")) {
                    return false;
                }
                $('#span_nameerror').hide();
                $('#span_descerror').hide();
                var form = $('#formtemplate');
                //alert(form.serialize());
                //return false;
                $.ajax({
                    url: "@(WebApiURL)RnP/Survey/SaveTemplate",
                    type: "POST",
                    data: form.serialize(),
                    success: function (data) {
                        if (data == "exists") {
                            $("#resultTitle").text('Failed to save Template');
                            $("#resultText").text('Template Name already exists!');
                        }
                        else if (data == "") {
                            $("#resultTitle").text('Failed to save Template');
                            $("#resultText").text('The Template Name or Template Description are invalid!');
                        }
                        else {
                            $("#resultTitle").text('Saved as Template');
                            $("#resultText").text('Your Survey design has been successfully saved as a Template.');
                        }
                        $("#modalTemplateSaved").modal();
                    }
                });
            });

        });
    </script>
}

