@model FEP.Intranet.Areas.eEvent.Models.ListExternalExhibitorModel

@{
	ViewBag.Title = "Event External Exhibitor";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>No.</th>
		<th>@Html.DisplayNameFor(m => m.filter.Name)</th>
	</tr>

	@foreach (var item in Model.ExternalExhibitorList)
	{
		<tr>
			<td>
			<td></td>
			<td>@Html.DisplayFor(m => item.Name)</td>

			@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
			@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
			@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
			</td>
		</tr>
	}

</table>
