@{
    if (CurrentUser.HasAccess(FEP.Model.UserAccess.CarouselManage) || CurrentUser.HasAccess(FEP.Model.UserAccess.CarouselAdd) || CurrentUser.HasAccess(FEP.Model.UserAccess.CarouselEdit))
    {
        <div class="row">
            @if (CurrentUser.HasAccess(FEP.Model.UserAccess.CarouselManage) || CurrentUser.HasAccess(FEP.Model.UserAccess.CarouselAdd))
            {
                <div class="col-lg-6">
                    <div class="menu-list">
                        <h6 class="color-darkblue">Menu</h6>
                        @if (CurrentUser.HasAccess(FEP.Model.UserAccess.CarouselManage))
                        {
                            <a class="dropdown-item" href="@Url.Action("Index", "Carousel", new { area = "CarouselManagement" })">@Language.Carousel.BreadcrumbManagement</a>
                        }
                        @if (CurrentUser.HasAccess(FEP.Model.UserAccess.CarouselAdd))
                        {
                            <a class="dropdown-item" href="@Url.Action("Create", "Carousel", new { area = "CarouselManagement" })">@Language.Carousel.CreateTitle</a>
                        }
                    </div>
                </div>
            }
            @if (CurrentUser.HasAccess(FEP.Model.UserAccess.CarouselEdit))
            {
                <div class="col-lg-6">
                    <div class="menu-list">
                        <h6 class="color-darkblue">@Language.Carousel.Setting</h6>
                        <a class="dropdown-item" href="@Url.Action("SequenceList", "Carousel", new { area = "CarouselManagement" })">@Language.Carousel.ManageSequence</a>
                    </div>
                </div>
            }
        </div>
    }
}