
@model ListKMCModel


@{
    ViewBag.Title = "KMC - " + Model.Category.Title;
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section ContentScript{

    <script type="text/javascript">

        $(document).ready(function () {


        });

        function searchKMC()
        {

            var filter =
            {
                Title: $('#Filter_Title').val(),
                CreatedBy: $('#Filter_CreatedBy').val(),
                DateFrom: $('#Filter_DateFrom').val(),
                DateTo: $('#Filter_DateTo').val(),
                QuickSearch: $('#Filter_QuickSearch').val()
            };

            $.ajax({
                type: 'post',
                url: '@Url.Action("_List", "Manage", new { area = "KMC", @id = Model.Category.Id })',
                dataType: "html",
                data: filter,
                success: function (data) {

                    $('#list').html(data);

                },
                error: function (xhr, status, error) {

                }
            });

        }

    </script>

}

@section Nav {

    <div class="title_header">
        <div class="title-header-container">
            <div class="container">

                <div class="header-col-right float-right mt-5"><a href="@Url.Action("Index", "Manage", new { area = "KMC" })" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> @Language.General.ButtonBack</a></div>
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { area = "" })">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">KMC</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">@Language.KMC.TitleList</h1>
                    <div class="header-text">@Language.KMC.TitleDescriptionList</div>
                </div>
            </div>
        </div>
    </div>

}

<div class="row">
    <!-- Start content leftbar -->
    <div class="col-xl-3 col-md-3 col-sm-4 my-2">
        <div id="page-nav" class="sidebar-left page-nav">
            <div data-perfect-scrollbar>
                <div class="page-section">
                    <h6 class="x-small color-darkblue"><i class="la la-edit font-icon color-secondary align-bottom"></i> Categories</h6>
                    <ul class="nav page-nav__menu">

                        @foreach (var category in ViewBag.Categories)
                        {

                            <li class="nav-item">
                                <a href="@Url.Action("List", "Manage", new { area = "KMC", @id = category.Id } )" class="nav-link @if (category.Id == Model.Category.Id) { @Html.Raw("active") } ">@category.Title</a>
                            </li>

                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End content leftbar -->
    <div class="col-xl-9 col-md-9 col-sm-8 mt-2 pb-5">
        <!-- Start Tab Content -->
        <div class="border-form rounded-top">


            <div class="form-container form-container-w100">

                <div class="form-container form-container-w100 tab-content">

                    <div class="mt-2 mb-2 pb-1">
                        <h4 class="color-darkblue mb-0">@Model.Category.Title</h4>
                    </div>

                    <div class="mb-4 top-filter-wrap">
                        <div class="d-flex align-items-center">
                            <div class="filter dropdown">
                                <button class="btn btn-default btn-rounded color-grey font-weight-normal cycle-element"><i class="la la-sliders font-icon color-secondary"></i>Filters</button>
                                <div class="dropdown-menu">
                                    <div class="filter-head">Filters</div>
                                    <div class="filter-body">
                                        <div>@Html.DisplayNameFor(m => m.Filter.Title)</div>
                                        <div class="sorting-wrap">
                                            <div class="sorting-dropdown">
                                                @Html.EditorFor(m => m.Filter.Title, new { htmlAttributes = new { @class = "form-control small" } })
                                            </div>
                                        </div>
                                        <div>@Html.DisplayNameFor(m => m.Filter.CreatedBy)</div>
                                        <div class="sorting-wrap">
                                            <div class="sorting-dropdown">
                                                @Html.EditorFor(m => m.Filter.CreatedBy, new { htmlAttributes = new { @class = "form-control small" } })
                                            </div>
                                        </div>
                                        <div>@Html.DisplayNameFor(m => m.Filter.DateFrom)</div>
                                        <div class="sorting-wrap">
                                            <div class="sorting-dropdown">
                                                @Html.EditorFor(m => m.Filter.DateFrom, new { htmlAttributes = new { @class = "form-control small" } })
                                            </div>
                                        </div>
                                        <div>@Html.DisplayNameFor(m => m.Filter.DateTo)</div>
                                        <div class="sorting-wrap">
                                            <div class="sorting-dropdown">
                                                @Html.EditorFor(m => m.Filter.DateTo, new { htmlAttributes = new { @class = "form-control small" } })
                                            </div>
                                        </div>
                                        <div>
                                            <button id="btnSearch" onclick="searchKMC()" class="btn btn-secondary btn-block">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider-vertical">&nbsp;</div>
                            <!-- Search -->
                            <div class="input-keyword col-lg-5 col-sm-8 mr-auto px-0">
                                @Html.EditorFor(m => m.Filter.QuickSearch, new { htmlAttributes = new { @class = "form-control form-control-rounded", placeholder = "Search" } })
                                <div class="input-group-append">
                                    <button class="btn btn-circle" type="button" onclick="searchKMC()"><i class="fas fa-search text-white"></i></button>
                                </div>
                            </div>

                        </div>

                        <div class="sorting-wrap">

                            <a class="btn btn-secondary btn-lg" href="@Url.Action("Create", "Manage", new { area = "KMC", @id = Model.Category.Id })"><i class="la la-plus font-icon"></i>@Language.General.ButtonCreate</a>

                        </div>
                    </div>

                    <div class="some-list">
                        <div id="list" class="row">

                            @Html.Partial("_List", Model.List)

                        </div>
                    </div>

                </div>

            </div>



        </div>
    </div>
</div>

