
<div class="row">
    <div class="col-lg-4">
        <div class="menu-list">
            <h6 class="color-darkblue">General</h6>
            <a class="dropdown-item" href="@Url.Action("Index", "User", new { area = "Administrator" })">User Management</a>
            <a class="dropdown-item" href="@Url.Action("List", "Role", new { area = "Administrator" })">Role Management</a>
            <a class="dropdown-item" href="@Url.Action("List", "EmailTemplates", new { area = "Template" })">Notification Template</a>
            <a class="dropdown-item" href="@Url.Action("List", "SLAReminders", new { area = "SLAReminder" })">SLA Reminder</a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="menu-list">
            <h6 class="color-darkblue">Registration</h6>
            <a class="dropdown-item" href="@Url.Action("List", "Sector", new { area = "Administrator" })">Agency Sector</a>
            <a class="dropdown-item" href="@Url.Action("List", "Ministry", new { area = "Administrator" })">Goverment Ministry</a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="menu-list">
            <h6 class="color-darkblue">Logs</h6>
            <a class="dropdown-item" href="@Url.Action("List", "UserLog", new { area = "Logs" })">User Logs</a>
            <a class="dropdown-item" href="@Url.Action("List", "ErrorLog", new { area = "Logs" })">Error Logs</a>
        </div>
    </div>
</div>