@using FEP.Model
@using FEP.Model.eLearning

@model FEP.WebApiModel.eLearning.ReturnListCourseEventModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section Nav{
    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                <div class="header-col-right float-right mt-5"><a href="@BaseURL/eLearning/Courses/Content/@Model.Filters.CourseId" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@BaseURL/Home">Home</a></li>
                                <li class="breadcrumb-item"><a href="@BaseURL/eLearning/Home">eLearning</a></li>
                                <li class="breadcrumb-item"><a href="@BaseURL/eLearning/Courses/Content/@Model.Filters.CourseId">Courses</a></li>
                                <li class="breadcrumb-item"><a href="#">Sessions</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">List of Sessions : @ViewBag.CourseTitle</h1>
                    <div class="header-text"></div>
                </div>
            </div>
        </div>
    </div>
}

@Html.HiddenFor(m => m.Filters.CourseId)

<div class="d-flex align-items-center">
    <div class="filter dropdown">
        <button class="btn btn-default btn-rounded color-grey font-weight-normal cycle-element"><i class="la la-sliders font-icon color-secondary"></i>Filters</button>
        <div class="dropdown-menu">
            <div class="filter-head">Filters</div>
            <div class="filter-body">

                <div>@Html.DisplayNameFor(m => m.Filters.Name) </div>
                <div class="sorting-wrap">
                    <div class="sorting-dropdown">
                        @Html.EditorFor(m => m.Filters.Name, new { htmlAttributes = new { @class = "form-control small" } })
                    </div>
                </div>
                <div>@Html.DisplayNameFor(m => m.Filters.EnrollmentCode)</div>
                <div class="sorting-wrap">
                    <div class="sorting-dropdown">
                        @Html.EditorFor(m => m.Filters.EnrollmentCode, new { htmlAttributes = new { @class = "form-control small" } })
                    </div>
                </div>
                <div>
                    <button id="btnSearch" class="btn btn-secondary mt-2">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="divider-vertical">&nbsp;</div>
    <!-- Search -->
    <div class="input-keyword col-lg-5 col-sm-12 mr-auto px-0">
        <input id="quickSearch" type="text" class="form-control form-control-rounded" placeholder="Search" name="keyword">
        <div class="input-group-append">
            <button id="quickSearchBtn" class="btn btn-circle" type="button"><i class="fas fa-search text-white"></i></button>
        </div>
    </div>
</div>
<hr>
<div class="table-responsive" data-toggle="lists" style="overflow-x:hidden">
    <div class="d-flex pb-4 align-items-center">
        <div>
            <!-- Select option -->
            <span class="select-arrow">
                <select id="lengthChange" name="dataTable_length" aria-controls="dataTable" class="custom-select">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </span>
        </div>
        <div id="pageInfo" class="showing-result px-3 py-2 mr-auto"></div>

        @if (CurrentUser.HasAccess(UserAccess.CourseCreate))
        {
            <div>
                <a href="@Url.Action("Create", "CourseEvents", new { area = "eLearning", id = Model.Filters.CourseId })" class="btn btn-secondary">
                    <i class="la la-plus font-icon" style="font-size: 1.5rem;"></i>New Session
                </a>
            </div>
        }
    </div>

    <!-- Table -->
    <table class="table tableStyle1 tabledata">
        <thead>
            <tr>

                <th>#</th>
                <th>@Html.DisplayNameFor(model => model.CourseEvents.Name)</th>
                <th>@Html.DisplayNameFor(model => model.CourseEvents.EnrollmentCode)</th>
                <th>@Html.DisplayNameFor(model => model.CourseEvents.NumberOfLearners)</th>
                <th>@Html.DisplayNameFor(model => model.CourseEvents.Group)</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

<style>

    .dataTables_scrollBody {
        overflow-x: hidden !important;
        overflow-y: auto !important;
    }
</style>

@section ContentScript{

    <link href="~/css/elearn.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('.tabledata').DataTable({
                serverSide: true,
                processing: true,
                responsive: true,
                scrollX: false,
                ajax: {
                    "type": "post",
                    "url": '@(WebApiURL)eLearning/CourseEvents/GetAllEventsByCourse',
                    "data": function (filter) {
                        console.log("-", filter);

                        filter.Name = $('#Filters_Name').val();
                        filter.EnrollmentCode = $('#Filters_EnrollmentCode').val();
                        filter.CourseId = $('#Filters_CourseId').val();
                    },
                    dataFilter: function (res) {
                        // do what you need to the data before it loads to the table

                        // for debugging only for now
                        return res;
                    },
                    error: function (x, y) {
                        console.log("Error -", x);
                    }
                },
                columns: [
                    {
                        sortable: false,
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        data: 'Name',
                        sortable: true
                    },
                    {
                        data: 'EnrollmentCode',
                        sortable: true
                    },

                    {
                        data: 'NumberOfLearners',
                        sortable: true
                    },
                    {
                        data: 'Group',
                        sortable: true,
                    },
                    {
                        sortable: false,
                        render: function (data, type, row, meta) {

                            var action = "";

                            var cancreate = @Json.Encode(CurrentUser.HasAccess(UserAccess.CourseCreate));
                            var cancreateGroup = @Json.Encode(CurrentUser.HasAccess(UserAccess.CourseDiscussionGroupCreate));

                            action = '<div class="icon-action">';

                            if (cancreate || cancreateGroup) {
                                action += '<a href="@Url.Action("Index", "CourseEnrollments", new { area = "eLearning" })?courseId=' +
                                        @Model.Filters.CourseId + "&courseEventId=" + row.CourseEventId +
                                    '" data-toggle="tooltip" data-placement="top" title="View"><i class="la la-eye"></i></a>';

                                action += '<a href="@Url.Action("Invitation", "CourseEvents", new { area = "eLearning" })?courseEventId=' +
                                        row.CourseEventId + "&eventName=" + encodeURIComponent(row.Name) +
                                        "&courseTitle=" + encodeURIComponent("@ViewBag.CourseTitle") +
                                        '" data-toggle="tooltip" data-placement="top" title="View Invitations"><i class="la la-users"></i></a>';

                                action += '<a href="@Url.Action("InviteLearners", "CourseEvents", new { area = "eLearning" })?courseId=' +
                                        @Model.Filters.CourseId + "&eventId=" + row.CourseEventId + "&enrollmentCode=" + encodeURIComponent(row.EnrollmentCode) +
                                        "&title=" + encodeURIComponent("@ViewBag.CourseTitle") +
                                        '" data-toggle="tooltip" data-placement="top" title="Invite"><i class="la la-envelope"></i></a>&nbsp;';

                            }

                            action += "</div>";
                            console.log(action);

                            return action;
                        }
                    }
                ],
                paging: true,
                lengthChange: true,
                searching: true,
                ordering: true,
                orderMulti: false,
                info: true,
                autoWidth: false,
                order: [[1, 'asc']],
                language: {
                    processing: "Processing... <i class='fa fa-refresh fa-spin'></i>",
                    emptyTable: "No Record Found",
                    info: "Showing _START_ - _END_ of _TOTAL_ courses"
                },
                dom: 'rtip'
            });

            $('#lengthChange').val(table.page.len());

            $('#quickSearch').keyup(function () {
                table.search($(this).val()).draw();
            });

            $('#quickSearchBtn').click(function () {
                table.search($(this).val()).draw();
            });

            $('#lengthChange').change(function () {
                table.page.len($(this).val()).draw();
            });

            $('#btnSearch').click(function () {
                table.ajax.reload();
            });

            table.on('order.dt search.dt', function () {
                var info = table.page.info();
                $('#pageInfo').html('Showing ' + (info.start + 1) + ' - ' + info.end + ' of ' + info.recordsTotal + ' courses');
                $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
            }).draw();

        });
    </script>

}