@model DashboardList

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section Nav {

    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                @*<div class="header-col-right float-right mt-5"><a href="e-Learning.html" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>*@
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">Dashboard</h1>
                    @*<div class="header-text"></div>*@
                </div>
            </div>
        </div>
    </div>

}

<a href="@Url.Action("Dashboard", "Home", new { module = FEP.WebApiModel.Home.DashboardModule.PublicEvent })">Public Event</a>
|
<a href="@Url.Action("Dashboard", "Home", new { module = FEP.WebApiModel.Home.DashboardModule.Courses })">Course</a>
|
<a href="@Url.Action("Dashboard", "Home", new { module = FEP.WebApiModel.Home.DashboardModule.MediaInterview })">Media Interview</a>
|
<a href="@Url.Action("Dashboard", "Home", new { module = FEP.WebApiModel.Home.DashboardModule.Exhibition })">Exhibition/Roadshow</a>

<div class="row">

    <!-- End content leftbar -->
    <div class="col-xl-12 col-md-12 col-sm-8 mt-2 pb-5">
        <!-- Start Tab Content -->
        <div @*class="border-form rounded-top"*@>
            <form>
                <div @*class="form-container form-container-w100"*@>
                    <div @*class="form-container form-container-w100 tab-content"*@>
                        <div class="row">
                            @Html.Partial("_DashboardList", Model)
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@if (Model.ModuleName == FEP.WebApiModel.Home.DashboardModule.PublicEvent)
{
    @Html.Partial("../../Areas/eEvent/Views/Shared/_PublicEventList", new FEP.WebApiModel.PublicEvent.ListPublicEventModel())

    @section ContentScript{
        <script>
            $(document).ready(function () {
                initTable();
                ActionBox()

                $('.statusItem').on('click', function (e) {
                    var currentStatusVal = $(e.currentTarget).find('input').val()
                    $('#Filter_EventStatus').val(currentStatusVal);
                    $('.tabledata').DataTable().ajax.reload()
                    $('#Filter_EventStatus').val('');
                });
            })
        </script>
    }
}
else if (Model.ModuleName == FEP.WebApiModel.Home.DashboardModule.Courses)
{

    @Html.Partial("../../Areas/eLearning/Views/Shared/_CoursesList", new FEP.WebApiModel.eLearning.ReturnListCourseModel())

    @section ContentScript{
        <script>
            $(document).ready(function () {
                initTable();

                $('.statusItem').on('click', function (e) {
                    var currentStatusVal = $(e.currentTarget).find('input').val()
                    $('#Filters_Status').val(currentStatusVal);
                    $('.tabledata').DataTable().ajax.reload()
                    $('#Filters_Status').val('');
                });
            })
        </script>
    }
}
else if (Model.ModuleName == FEP.WebApiModel.Home.DashboardModule.MediaInterview)
{

    @Html.Partial("../../Areas/eEvent/Views/Shared/_MediaInterviewList", new FEP.WebApiModel.MediaInterview.ListMediaInterviewRequestApi())

    @section ContentScript{
        <script>
            $(document).ready(function () {
                initTable();

                //$('.statusItem').on('click', function (e) {
                //    var currentStatusVal = $(e.currentTarget).find('input').val()
                //    $('#Filters_Status').val(currentStatusVal);
                //    $('.tabledata').DataTable().ajax.reload()
                //});
            })
        </script>
    }
}
else if (Model.ModuleName == FEP.WebApiModel.Home.DashboardModule.Exhibition)
{

    @Html.Partial("../../Areas/eEvent/Views/Shared/_ExhibitionRoadshowRequestList", new FEP.WebApiModel.eEvent.ListExhibitionRoadshowRequestModel())

    @section ContentScript{
        <script>
            $(document).ready(function () {
                initTable();

                //$('.statusItem').on('click', function (e) {
                //    var currentStatusVal = $(e.currentTarget).find('input').val()
                //    $('#Filters_Status').val(currentStatusVal);
                //    $('.tabledata').DataTable().ajax.reload()
                //});
            })
        </script>
    }
}