@model EditCompanyProfileModel

@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section Nav {

    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                <div class="header-col-right float-right mt-5"><a href="@Url.Action("MyProfile", "Home", new { area = "" })" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Edit Profile</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">Edit Profile</h1>
                    <div class="header-text"></div>
                </div>
            </div>
        </div>
    </div>

}

<div class="row">

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-8 mt-2 pb-5">

        @using (Html.BeginForm("EditProfile", "Home", FormMethod.Post))
        {
            <div class="border-form rounded-top">

                @Html.AntiForgeryToken()

                <div class="form-container">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.FEPLabelFor(m => m.CompanyName)
                            @Html.EditorFor(m => m.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.CompanyName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.FEPLabelFor(m => m.SectorId)
                            @Html.DropDownListFor(m => m.SectorId, Model.Sectors, Language.Auth.PlaceholderSectorId, htmlAttributes: new { @class = "custom-select" })
                            @Html.ValidationMessageFor(m => m.SectorId)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.FEPLabelFor(m => m.CompanyRegNo)
                            @Html.EditorFor(m => m.CompanyRegNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.CompanyRegNo)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.FEPLabelFor(m => m.Address1)
                            @Html.EditorFor(m => m.Address1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Address1)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.FEPLabelFor(m => m.Address1)
                            @Html.EditorFor(m => m.Address2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Address2)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.FEPLabelFor(m => m.PostCode)
                            @Html.EditorFor(m => m.PostCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.PostCode)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.FEPLabelFor(m => m.City)
                            @Html.EditorFor(m => m.City, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.City)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.FEPLabelFor(m => m.State)
                            @Html.EditorFor(m => m.State, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.State)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.FEPLabelFor(m => m.CompanyPhoneNo)
                            @Html.EditorFor(m => m.CompanyPhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.CompanyPhoneNo)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.FEPLabelFor(m => m.ICNo)
                            @Html.EditorFor(m => m.ICNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(m => m.ICNo)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.FEPLabelFor(m => m.Email)
                            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.FEPLabelFor(m => m.Name)
                            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.FEPLabelFor(m => m.MobileNo)
                            @Html.EditorFor(m => m.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.MobileNo)
                        </div>
                    </div>
                </div>

            </div>

            <div class="border-left border-right border-bottom p-3 rounded-bottom">
                <a class="btn btn-default mr-2" href="@Url.Action("MyProfile", "Home", new { area = "" })">Cancel</a>
                <button class="btn btn-secondary" type="submit">Save</button>
            </div>
        }
    </div>
</div>



