@model FEP.WebApiModel.Home.LandingPageModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutLandingPage.cshtml";
}


@section Preloader{

    <div id="preloader">
        <div class="loader"></div>
    </div>

}

<section id="mainbanner">
    <!-- Start banner slider -->
    <div id="mainbannerslider" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            @if (Model.CarouselList.Count() > 0)
            {
                var count = 0;
                foreach (var carousel in Model.CarouselList)
                {
                    count++;
                    var position = carousel.TextLocation == FreeTextLocation.Left ? "text-left" : "text-center";
                    <div class="carousel-item @Html.Raw( (count == 1)? "active" : "")">
                        <img class="d-block w-100" src="@Url.Content("~/Data/images/carousel/" + carousel.CarouselImage)" alt="third slide">
                        <div class="carousel-caption @position intro-container d-none d-md-block wow fadeInUp">
                            @Html.Raw(carousel.FreeTextArea)
                        </div>
                    </div>
                }
            }
            else
            {
                //default carousel to avoid UI break
                <div class="carousel-item active">
                    <img class="d-block w-100" src="@Url.Content("~/img/banner/akpk-bnr-01.jpg")" alt="First slide">
                    <div class="carousel-caption text-center intro-container d-none d-md-block pt-5 wow fadeInUp">
                        <h1>Your financial well-being is <span class="color-primary">our concern</span></h1>
                        <p>We're a nonprofit with the mission to provide a free, world class education for anyone, anywhere.</p>
                        <div class="mt-4">
                            <a class="btn btn-outline-secondary mr-2" href="#">Tell Me More</a>
                            <a class="btn btn-link" href="#"><i class="la la-play-circle font-icon"></i> Watch Video</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <a class="carousel-control-prev" href="#mainbannerslider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#mainbannerslider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<main id="main">
    <!-- =====================
        About Us
    ========================-->
    <section id="aboutus">
        <!-- =====================
            Search Dropdown
        ========================-->
        <div id="search-dropdown">
            <div class="container">
                <div class="search-dropdown-wrapper rellax" data-rellax-speed="0">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <select class="select2" name="module">
                                <option value="e-Learning">e-Learning</option>
                                <option value="e-Events">e-Events</option>
                                <option value="Research">Research</option>
                                <option value="Publications">Publications</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" placeholder="Search for online courses, instructor name, etc.." name="search">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty_6"></div>
    </section>
    <!-- =====================
        Our Course
    ========================-->
    <section id="ourcourse">
        <div class="container">
            <h6 class="color-secondary">OUR COURSE</h6>
            <a href="#" class="btn btn-outline-secondary btn-rounded float-right">VIEW ALL</a>
            <h1 class="color-darkblue">Online Courses</h1>
            <div class="empty_3"></div>
            <div class="row">
                <div class="card-slider owl-carousel">
                    <div class="wow fadeInUp">
                        <div class="card__wrapper">
                            <div class="card__top">
                                <div class="card__top__wapper">
                                    <img class="card__top__image" src="@Url.Content("~/img/public/akpk-cover-uruskan-aliran-tunai-anda.jpg")" alt="image">
                                    <div class="share-wrap">
                                        <div class="share-button sharer">
                                            <span class="share-icon">
                                                <i class="material-icons">
                                                    share
                                                </i>
                                            </span>
                                            <div class="social top center"></div>
                                        </div>
                                        <span class="heart-icon"><i class="la la-heart-o"></i></span>
                                    </div>
                                    <div class="badge"><span>RM128.90</span></div>
                                </div>
                            </div>
                            <div class="card__body">
                                <a class="card__title" href="#">Uruskan Aliran Tunai Anda</a>
                                <div class="card__author">
                                    <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@Url.Content("~/img/public/nirmalasupramaniam-avatar.jpg")" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Instruct by</span><span class="card__author-name">Nirmala M Supramaniam</span></span></a>
                                </div>
                                <div class="card__text">Kursus ini akan membuka minda anda tentang pengurusan kewangan, anda akan belajar bagaimana menguruskan kewangan dengan baik dan membuat keputusan dengan bijak dan berhemat.</div>
                                <div class="card__info">
                                    <div class="card__col-left">
                                        <div class="col-left__item"><span class="card__icon"><i class="la la-book"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Total Modules">5</span></div>
                                        <div class="col-left__item"><span class="card__icon"><i class="la la-graduation-cap"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Student Enrolled">100</span></div>
                                    </div>
                                    <div class="card__col-right">
                                        <span class="card__icon"><i class="la la-star"></i></span><span class="d-inline-block" data-toggle="tooltip" title="14,000 learners rated 5 star">5.0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay=".5s">
                        <div class="card__wrapper">
                            <div class="card__top">
                                <div class="card__top__wapper">
                                    <img class="card__top__image" src="@Url.Content("~/img/public/akpk-cover-duittogether.jpg")" alt="image">
                                    <div class="share-wrap">
                                        <div class="share-button sharer">
                                            <span class="share-icon">
                                                <i class="material-icons">share</i>
                                            </span>
                                            <div class="social top center"></div>
                                        </div>
                                        <span class="heart-icon"><i class="la la-heart-o"></i></span>
                                    </div>
                                    <div class="badge"><span>RM40.90</span></div>
                                </div>
                            </div>
                            <div class="card__body">
                                <a class="card__title" href="#">"Duit" Together</a>
                                <div class="card__author">
                                    <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@Url.Content("~/img/public/mmuadzzulkifli-avatar.jpg")" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Instruct by</span><span class="card__author-name">Mu'adz Zulkifli</span></span></a>
                                </div>
                                <div class="card__text">What You Will Learn.</div>
                                <div class="card__info">
                                    <div class="card__col-left">
                                        <div class="col-left__item"><span class="card__icon"><i class="la la-book"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Total Modules">3</span></div>
                                        <div class="col-left__item"><span class="card__icon"><i class="la la-graduation-cap"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Student Enrolled">1266</span></div>
                                    </div>
                                    <div class="card__col-right">
                                        <span class="card__icon"><i class="la la-star"></i></span><span class="d-inline-block" data-toggle="tooltip" title="14,000 learners rated 5 star">4.2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay=".7s">
                        <div class="card__wrapper">
                            <div class="card__top">
                                <div class="card__top__wapper">
                                    <img class="card__top__image" src="@Url.Content("~/img/public/akpk-cover-rumahku.jpg")" alt="image">
                                    <div class="share-wrap">
                                        <div class="share-button sharer">
                                            <span class="share-icon">
                                                <i class="material-icons">share</i>
                                            </span>
                                            <div class="social top center"></div>
                                        </div>
                                        <span class="heart-icon"><i class="la la-heart-o"></i></span>
                                    </div>
                                    <div class="badge"><s>RM100.00</s><span>RM69.99</span></div>
                                </div>
                            </div>
                            <div class="card__body">
                                <a class="card__title" href="#">Rumahku</a>
                                <div class="card__author">
                                    <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@Url.Content("~/img/public/lizabubakar-avatar.jpg")" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Instruct by</span><span class="card__author-name">Noorhaliza Abu Bakar</span></span></a>
                                </div>
                                <div class="card__text">Pelajari selok-belok pembelian rumah.</div>
                                <div class="card__info">
                                    <div class="card__col-left">
                                        <div class="col-left__item"><span class="card__icon"><i class="la la-book"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Total Modules">6</span></div>
                                        <div class="col-left__item"><span class="card__icon"><i class="la la-graduation-cap"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Student Enrolled">3641</span></div>
                                    </div>
                                    <div class="card__col-right">
                                        <span class="card__icon"><i class="la la-star"></i></span><span class="d-inline-block" data-toggle="tooltip" title="14,000 learners rated 5 star">4.2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay=".9s">
                        <div class="card__wrapper">
                            <div class="card__top">
                                <div class="courses__top__wapper">
                                    <img class="card__top__image" src="@Url.Content("~/img/public/akpk-cover-uruskan-aliran-tunai-anda.jpg")" alt="image">
                                    <div class="share-wrap">
                                        <div class="share-button sharer">
                                            <span class="share-icon">
                                                <i class="material-icons">share</i>
                                            </span>
                                            <div class="social top center"></div>
                                        </div>
                                        <span class="heart-icon"><i class="la la-heart-o"></i></span>
                                    </div>
                                    <div class="badge"><s>RM100.00</s><span>RM69.99</span></div>
                                </div>
                            </div>
                            <div class="card__body">
                                <a class="card__title" href="#">Uruskan Aliran Tunai Anda: Simpan, Simpan, Simpan</a>
                                <div class="card__author">
                                    <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@Url.Content("~/img/2.jpg")" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Instruct by</span><span class="card__author-name">Intan Noor Syakira</span></span></a>
                                </div>
                                <div class="card__text">Menabung satu jumlah setiap hari, contohnya RM 1 setiap hari.</div>
                                <div class="card__info">
                                    <div class="card__col-left">
                                        <div class="col-left__item"><span class="card__icon"><i class="la la-book"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Total Modules">5</span></div>
                                        <div class="col-left__item"><span class="card__icon"><i class="la la-graduation-cap"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Student Enrolled">100</span></div>
                                    </div>
                                    <div class="card__col-right">
                                        <span class="card__icon"><i class="la la-star"></i></span><span class="d-inline-block" data-toggle="tooltip" title="14,000 learners rated 5 star">5.0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty_3"></div>
        </div>
    </section>
    <!-- =====================
            e-Events
        ========================-->
    <section id="eevents" class="bg-main">
        <div class="empty_3"></div>
        <div class="container">
            <h6 class="color-secondary">
                E-EVENTS</6>
                <a href="#" class="btn btn-outline-secondary btn-rounded float-right">VIEW ALL</a>
                <h1 class="color-darkblue">Public Events</h1>
                <div class="empty_3"></div>
                <div class="row">
                    <div class="card-slider owl-carousel">
                        <div class="card__wrapper wow fadeInUp">
                            <div class="card__top">
                                <div class="card__top__wapper">
                                    <img class="card__top__image" src="@Url.Content("~/img/cover-5.jpg")" alt="image">
                                </div>
                            </div>
                            <div class="card__body">
                                <a class="card__title" href="#">Employee Engagement from A to Z</a>
                                <div class="card__author">
                                    <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@Url.Content("~/img/2.jpg")" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Lead Speaker</span><span class="card__author-name">Angela Jackson</span></span></a>
                                </div>
                                <div class="card__info">
                                    <ul>
                                        <li class="date"><span class="d-inline-block" data-toggle="tooltip" title="Event Date"><span class="card__icon"><i class="la la-calendar"></i></span></span>8 - 9 Sept, 2019</li>
                                        <li class="place"><span class="d-inline-block" data-toggle="tooltip" title="Venue"><span class="card__icon"><i class="la la-map-marker"></i></span></span>PWTC, Kuala Lumpur</li>
                                        <li class="eventname"><span class="d-inline-block" data-toggle="tooltip" title="Event type"><span class="card__icon"><i class="la la-list-ul"></i></span></span>Workshop</li>
                                        <li class="status sellingfast"><span class="d-inline-block" data-toggle="tooltip" title="Seating Availability"><span class="card__icon"><i class="fas fa-chair"></i></span></span>Selling Fast</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card__wrapper wow fadeInUp" data-wow-delay=".5s">
                            <div class="card__top">
                                <div class="card__top__wapper"><img class="card__top__image" src="@Url.Content("~/img/cover-6.jpg")" alt="image"></div>
                            </div>
                            <div class="card__body">
                                <a class="card__title" href="#">Financial Management Excellence Certificate</a>
                                <div class="card__author">
                                    <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@Url.Content("~/img/8.jpg")" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Lead Speaker</span><span class="card__author-name">Norman Bier</span></span></a>
                                </div>
                                <div class="card__info">
                                    <ul>
                                        <li class="date"><span class="card__icon"><i class="la la-calendar"></i></span>3 - 5 Sept, 2019</li>
                                        <li class="place"><span class="card__icon"><i class="la la-map-marker"></i></span>KLCC, Kuala Lumpur</li>
                                        <li class="eventname"><span class="card__icon"><i class="la la-list-ul"></i></span>Symposium</li>
                                        <li class="status available"><span class="card__icon"><i class="fas fa-chair"></i></span>Available</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card__wrapper wow fadeInUp" data-wow-delay=".7s">
                            <div class="card__top">
                                <div class="card__top__wapper"><img class="card__top__image" src="@Url.Content("~/img/cover-7.jpg")" alt="image"></div>
                            </div>
                            <div class="card__body">
                                <a class="card__title" href="#">Sales Enablement Leadership & Learning</a>
                                <div class="card__author">
                                    <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@Url.Content("~/img/47.jpg")" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Lead Speaker</span><span class="card__author-name">Antony Awaida</span></span></a>
                                </div>
                                <div class="card__info">
                                    <ul>
                                        <li class="date"><span class="card__icon"><i class="la la-calendar"></i></span>3 - 7 Sept, 2019</li>
                                        <li class="place"><span class="card__icon"><i class="la la-map-marker"></i></span>PICC, Kuala Lumpur</li>
                                        <li class="eventname"><span class="card__icon"><i class="la la-list-ul"></i></span>Exhibition</li>
                                        <li class="status available"><span class="card__icon"><i class="fas fa-chair"></i></span>Available</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card__wrapper wow fadeInUp" data-wow-delay=".9s">
                            <div class="card__top">
                                <div class="card__top__wapper"><img class="card__top__image" src="@Url.Content("~/img/cover-8.jpg")" alt="image"></div>
                            </div>
                            <div class="card__body">
                                <a class="card__title" href="#">AKPK International Conference & Expo</a>
                                <div class="card__author">
                                    <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@Url.Content("~/img/68.jpg")" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Lead Speaker</span><span class="card__author-name">Aazman Iskandar</span></span></a>
                                </div>
                                <div class="card__info">
                                    <ul>
                                        <li class="date"><span class="card__icon"><i class="la la-calendar"></i></span>8 - 9 Sept, 2019</li>
                                        <li class="place"><span class="card__icon"><i class="la la-map-marker"></i></span>Bukit Jalil Conference Hall</li>
                                        <li class="eventname"><span class="card__icon"><i class="la la-list-ul"></i></span>Workshop</li>
                                        <li class="status soldout"><span class="card__icon"><i class="fas fa-chair"></i></span>Sold Out</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="empty_3"></div>
        </div>
    </section>
    <!-- =====================
        Our Publications
    ========================-->
    @if (Model.PublicationTopList.Count() > 0)
    {
        <section id="ourpublications">
            <div class="empty_6"></div>
            <div class="container">
                <h6 class="color-secondary">OUR PUBLICATIONS</h6>
                <a href="@Url.Action("BrowsePublications", "Home", new { area = "RnP" })" class="btn btn-outline-secondary btn-rounded float-right">VIEW ALL</a>
                <h1 class="color-darkblue">Publications</h1>
                <div class="empty_3"></div>
                <div class="row">
                    @foreach (var publication in Model.PublicationTopList)
                    {
                        <div class="col-lg-6 col-sm-12">
                            <div class="publications__wrapper wow fadeInUp">
                                <div class="publications_col_left card__top">
                                    <div class="card__top__wapper">
                                        <img class="card__top__image" src="@Url.Content("~/Data/images/" + publication.CoverPictures.FirstOrDefault()?.FilePath)" alt="image">
                                        <div class="share-wrap">
                                            <div class="share-button sharer">
                                                <span class="share-icon">
                                                    <i class="material-icons">share</i>
                                                </span>
                                                <div class="social top center"></div>
                                            </div>
                                            <span class="heart-icon"><i class="la la-heart-o"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="publications_col_right">
                                    <div class="card__body">
                                        <a class="card__title" href="@Url.Action("PublicationDetails", "Home", new { area = "RnP", id = publication.ID })">@publication.Title</a>
                                        <div class="card__author">
                                            <a class="card__col-left" href="#">
                                                <span class="card__avatar">
                                                    <img class="card__avatar__image" src="@Url.Content("~/Data/images/" + publication.AuthorPictures.FirstOrDefault()?.FilePath)" alt="image">
                                                </span>
                                                <span class="card__name-wrap">
                                                    <span class="card__instructby">Published by</span>
                                                    <span class="card__author-name">@publication.Author</span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="card__text">@publication.Description</div>
                                        <div class="card__info">
                                            <div class="card__col-left">
                                                <div class="col-left__item"><span class="card__icon"><i class="la la-list-ul"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Publication Type"><span class="d-inline-block">@publication.Category</span></span></div>
                                                <div class="col-left__item"><span class="card__icon"><i class="la la-calendar"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Publication Year"><span class="d-inline-block">@publication.Year</span></span></div>
                                            </div>
                                            <div class="card__col-right"><span class="card__icon"><i class="la la-star"></i></span><span class="d-inline-block" data-toggle="tooltip" title="14,000 learners rated 5 star">5.0</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="empty_6 d-none d-sm-block"></div>
        </section>
    }


    <!-- =====================
       Our News & Articles
    ========================-->
    <section id="ournews" class="bg-main">
        <div class="row ournews-container no-gutters">
            <div class="col-lg-6">
                <div class="empty_3"></div>
                <div class="news-desc">
                    <h6 class="color-secondary">LATEST NEWS</h6>
                    <h1 class="color-darkblue">Learning Resources</h1>
                    <p>Your trusted source of learning materials such as articles, infographics and videos including news headlines, interviews and statistical analysis</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="empty_3"></div>
                <div class="news-carousel">
                    <div class="owl-news">
                        <div class="news-wrapper">
                            <div class="news-container">
                                <img src="@Url.Content("~/img/akpk-news-01.jpg")" alt="image">
                                <div class="news-details">
                                    <div class="news-title">Video raya AKPK ingatkan kita supaya bayar hutang</div>
                                    <div class="news-info">
                                        <span class="news-category">News</span>
                                        <span class="news-separator"><i class="fas fa-circle"></i></span>
                                        <span class="news-date">7 Sept 2019</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-wrapper">
                            <div class="news-container">
                                <img src="@Url.Content("~/img/akpk-news-02.jpg")" alt="image">
                                <div class="news-details">
                                    <div class="news-title">10 Ciri Yang Ada Pada Semua Rumah Idaman</div>
                                    <div class="news-info">
                                        <span class="news-category">Articles</span>
                                        <span class="news-separator"><i class="fas fa-circle"></i></span>
                                        <span class="news-date">7 Sept 2019</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty_3">&nbsp;</div>
    </section>
    <!-- =====================
        Learning Centre
    ========================-->
    <section id="learningcentre">
        <div class="empty_3"></div>
        <div class="container">
            <h6 class="color-secondary">LEARNING CENTRE</h6>
            <h1 class="style2 text-white">But wait! There's more!</h1>
            <p class="lead">We also provide the learning hub for you to learn our financial eduvation online.</p>
        </div>
        <div class="container elementor-timeline-wrapper">
            <div class="elementor-timeline-carousel">
                <div class="owl-carousel owl-learning">
                    <div class="owl-item">
                        <div class="timeline-carosuel-item timeline-item-0">
                            <div class="timeline-content timeline-animation">
                                <div class="timeline-number">
                                    <span>1</span>
                                </div>
                                <h6 class="timeline-title">Sign Up</h6>
                                <div class="content">
                                    <p>The time has come to bring those ideas and plans to life.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="timeline-carosuel-item timeline-item-1">
                            <div class="timeline-content timeline-animation">
                                <div class="timeline-number">
                                    <span>2</span>
                                </div>
                                <h6 class="timeline-title">Update your Profile</h6>
                                <div class="content">
                                    <p>Find what you need in one template and combine features at will.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="timeline-carosuel-item timeline-item-2">
                            <div class="timeline-content timeline-animation">
                                <div class="timeline-number">
                                    <span>3</span>
                                </div>
                                <h6 class="timeline-title">Browse Course</h6>
                                <div class="content">
                                    <p>Easy and fast adjustments of elements are possible with Front template</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="timeline-carosuel-item timeline-item-3">
                            <div class="timeline-content timeline-animation">
                                <div class="timeline-number">
                                    <span>4</span>
                                </div>
                                <h6 class="timeline-title">Take Course</h6>
                                <div class="content">
                                    <p>Achieve virtually any design and layout from within the one template.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====================
        Statistik
    ========================-->
    <section id="counter">
        <div class="container">
            <div class="counter-up">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-icon-number">
                            <div class="counter-icon">
                                <img src="@Url.Content("~/img/stats/icon-stats-event.svg")" alt="image">
                            </div>
                            <div class="counter-number">
                                <span class="counter-count" data-to="1300">1300</span>
                                <p>Events Registered</p>
                            </div>
                        </div>
                    </div>
                    <!-- /counter -->
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-icon-number">
                            <div class="counter-icon">
                                <img src="@Url.Content("~/img/stats/icon-stats-rnp.svg")" alt="image">
                            </div>
                            <div class="counter-number">
                                <span class="counter-count" data-to="323">323</span><span>+</span>
                                <p>Publication Published</p>
                            </div>
                        </div>
                    </div>
                    <!-- /counter -->
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-icon-number">
                            <div class="counter-icon">
                                <img src="@Url.Content("~/img/stats/icon-stats-course.svg")" alt="image">
                            </div>
                            <div class="counter-number">
                                <span class="counter-count" data-to="845">845</span>
                                <p>Online Available Courses</p>
                            </div>
                        </div>
                    </div>
                    <!-- /counter -->
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-icon-number">
                            <div class="counter-icon">
                                <img src="@Url.Content("~/img/stats/icon-stats-enrolled.svg")" alt="image">
                            </div>
                            <div class="counter-number">
                                <span class="counter-count" data-to="6579">6579</span>
                                <p>Students Enrolled</p>
                            </div>
                        </div>
                    </div>
                    <!-- /counter -->
                </div>
            </div>
        </div>
    </section>
</main>