@model FEP.Intranet.Areas.eEvent.Models.CreatePublicEventModel

@{
	ViewBag.Title = "Public Event";
	Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section ContentScript{

	<script type="text/javascript">

		$(document).ready(function () {

			RefreshFile();

		});

		$("#StartDate").flatpickr({
			dateFormat: "d/m/Y",
			enableTime: false,
			minDate: "today",
			onValueUpdate: function (dObj, dStr, fp, dayElem) {
				debugger;
				$("#EndDate").flatpickr({
					dateFormat: "d/m/Y",
					enableTime: false,
					minDate: dStr,
				});
			}
		});

		$("#EndDate").flatpickr({
			dateFormat: "d/m/Y",
			enableTime: false,
			minDate: "today",
		});


		$('#IndividualFee').prop('readonly', false);
		$('#IndividualEarlyBird').prop('readonly', false);
		$('#FreeIndividual').change(function () {
			if ($('#FreeIndividual').is(':checked')) {
				$('#IndividualFee').val('0.00');
				$('#IndividualFee').prop('readonly', true);

				$('#IndividualEarlyBird').val('0.00');
				$('#IndividualEarlyBird').prop('readonly', true);
			} else {
				$('#IndividualFee').prop('readonly', false);

				$('#IndividualEarlyBird').prop('readonly', false);
			}
		});


		$('#IndividualPaperFee').prop('readonly', false);
		$('#IndividualPaperEarlyBird').prop('readonly', false);
		$('#FreeIndividualPaper').change(function () {
			if ($('#FreeIndividualPaper').is(':checked')) {
				$('#IndividualPaperFee').val('0.00');
				$('#IndividualPaperFee').prop('readonly', true);

				$('#IndividualPaperEarlyBird').val('0.00');
				$('#IndividualPaperEarlyBird').prop('readonly', true);
			} else {
				$('#IndividualPaperFee').prop('readonly', false);

				$('#IndividualPaperEarlyBird').prop('readonly', false);
			}
		});


		$('#IndividualPresentFee').prop('readonly', false);
		$('#IndividualPresentEarlyBird').prop('readonly', false);
		$('#FreeIndividualPresent').change(function () {
			if ($('#FreeIndividualPresent').is(':checked')) {
				$('#IndividualPresentFee').val('0.00');
				$('#IndividualPresentFee').prop('readonly', true);

				$('#IndividualPresentEarlyBird').val('0.00');
				$('#IndividualPresentEarlyBird').prop('readonly', true);
			} else {
				$('#IndividualPresentFee').prop('readonly', false);

				$('#IndividualPresentEarlyBird').prop('readonly', false);
			}
		});


		$('#AgencyFee').prop('readonly', false);
		$('#AgencyEarlyBird').prop('readonly', false);
		$('#FreeAgency').change(function () {
			if ($('#FreeAgency').is(':checked')) {
				$('#AgencyFee').val('0.00');
				$('#AgencyFee').prop('readonly', true);

				$('#AgencyEarlyBird').val('0.00');
				$('#AgencyEarlyBird').prop('readonly', true);
			} else {
				$('#AgencyFee').prop('readonly', false);

				$('#AgencyEarlyBird').prop('readonly', false);
			}
		});


	</script>
}

@section Nav {

	<div class="title_header">
		<div class="title-header-container">
			<div class="container">
				<!-- if have button -->
				<div class="header-col-right float-right mt-5"><a href='@Url.Action("List", "PublicEvent", new { area = "eEvent"})' class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>
				<div class="header-col-left">
					<div id="breadcrumb">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item"><a href="#">Event Management</a></li>
								<li class="breadcrumb-item"><a href="#">Manage Public Event</a></li>
								<li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
							</ol>
						</nav>
					</div>
					<h1 class="page-title text-white">Create Event</h1>
					@*<div class="header-text">List of created event</div>*@
				</div>
			</div>
		</div>
	</div>

}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "target" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.EventStatus)
	@Html.HiddenFor(model => model.EventCategoryId)

	<div class="row">
		<div class="col-xl-3 col-md-3 col-sm-4 my-2">

			<div id="page-nav" class="sidebar-left page-nav">
				<!-- Steps -->
				<div data-perfect-scrollbar>
					<div class="sidebar-inner">
						<ul class="steps steps-vertical nav">

							<li class="step-item complete">
								<a href="@Url.Action("Create_SelectCategory", "PublicEvent", new { area = "eEvent" })" class="step-link">
									<span class="step-number">1</span>
									<span class="step-title">Select Event Category</span>
								</a>
							</li>
							<li class="step-item active">
								<a href="#eventdetails" class="step-link" data-toggle="tab">
									<span class="step-number">2</span>
									<span class="step-title">Fill Up Event Details</span>
								</a>
							</li>
							<li class="step-item active">
								<a href="#eventagenda" class="step-link" data-toggle="tab">
									<span class="step-number">3</span>
									<span class="step-title">Fill Up Event Agenda</span>
								</a>
							</li>
							<li class="step-item disabled">
								<a href="" class="step-link">
									<span class="step-number">4</span>
									<span class="step-title">Review & Submission</span>
								</a>
							</li>
						</ul>
						<!-- End Steps -->
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-9 col-md-9 col-sm-8 mt-2 pb-5">
			<!-- Start Form -->
			<div class="border-form rounded-top">
				<div class="form-container tab-content">

					<div class="tab-pane active" id="eventdetails">

						<div class="mt-2 mb-4 pb-1 mr-auto">
							<h4 class="color-darkblue mb-0">Event Details</h4>
							<h6 class="font-weight-normal">Information marked with (<span class="text-danger">*</span>) is mandatory.</h6>
						</div>


						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.EventCategoryId)
								@Html.DropDownListFor(model => model.EventCategoryId, Model.CategoryList, "-Select Category-", htmlAttributes: new { @class = "form-control select2-area", style = "width: 100%" })
								@Html.ValidationMessageFor(model => model.EventCategoryId, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.EventTitle)
								@Html.EditorFor(model => model.EventTitle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Be clear and descriptive" } })
								@Html.ValidationMessageFor(model => model.EventTitle, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.EventObjective)
								@Html.EditorFor(model => model.EventObjective, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.EventObjective, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-6">
								@Html.FEPLabelFor(model => model.StartDate)
								@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date Start" } })
								@Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
							</div>
							<div class="form-group col-lg-6">
								@Html.FEPLabelFor(model => model.EndDate)
								@Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Date End" } })
								@Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.Venue)
								@Html.EditorFor(model => model.Venue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Be clear and descriptive" } })
								@Html.ValidationMessageFor(model => model.Venue, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-3">
								@Html.LabelFor(model => model.LabelParticipantType)
							</div>
							<div class="form-group col-lg-3">
								@Html.LabelFor(model => model.LabelFree)
							</div>
							<div class="form-group col-lg-3">
								@Html.LabelFor(model => model.LabelNormalFee)
							</div>
							<div class="form-group col-lg-3">
								@Html.LabelFor(model => model.LabelEarlyBirdFee)
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-3">
								@Html.LabelFor(model => model.LabelIndividual)
							</div>
							<div class="form-group col-lg-3">
								<div class="custom-control custom-checkbox">
									@Html.EditorFor(model => model.FreeIndividual, new { htmlAttributes = new { @class = "custom-control-input js-check-selected-row" } })
									@Html.LabelFor(model => model.FreeIndividual, htmlAttributes: new { @class = "custom-control-label" })
								</div>
							</div>
							<div class="form-group col-lg-3">
								@Html.EditorFor(model => model.IndividualFee, new { htmlAttributes = new { @class = "form-control", @Value = "0.00", @readonly = "readonly" } })
								@Html.ValidationMessageFor(model => model.IndividualFee, "", new { @class = "text-danger" })
							</div>
							<div class="form-group col-lg-3">
								@Html.EditorFor(model => model.IndividualEarlyBird, new { htmlAttributes = new { @class = "form-control", @Value = "0.00", @readonly = "readonly" } })
								@Html.ValidationMessageFor(model => model.IndividualEarlyBird, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-3">
								@Html.LabelFor(model => model.LabelIndividualPaper)
							</div>
							<div class="form-group col-lg-3">
								<div class="custom-control custom-checkbox">
									@Html.EditorFor(model => model.FreeIndividualPaper, new { htmlAttributes = new { @class = "custom-control-input js-check-selected-row" } })
									@Html.LabelFor(model => model.FreeIndividualPaper, htmlAttributes: new { @class = "custom-control-label" })
								</div>
							</div>
							<div class="form-group col-lg-3">
								@Html.EditorFor(model => model.IndividualPaperFee, new { htmlAttributes = new { @class = "form-control", @Value = "0.00", @readonly = "readonly" } })
								@Html.ValidationMessageFor(model => model.IndividualPaperFee, "", new { @class = "text-danger" })
							</div>
							<div class="form-group col-lg-3">
								@Html.EditorFor(model => model.IndividualPaperEarlyBird, new { htmlAttributes = new { @class = "form-control", @Value = "0.00", @readonly = "readonly" } })
								@Html.ValidationMessageFor(model => model.IndividualPaperEarlyBird, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-3">
								@Html.LabelFor(model => model.LabelIndividualPresent)
							</div>
							<div class="form-group col-lg-3">
								<div class="custom-control custom-checkbox">
									@Html.EditorFor(model => model.FreeIndividualPresent, new { htmlAttributes = new { @class = "custom-control-input js-check-selected-row" } })
									@Html.LabelFor(model => model.FreeIndividualPresent, htmlAttributes: new { @class = "custom-control-label" })
								</div>
							</div>
							<div class="form-group col-lg-3">
								@Html.EditorFor(model => model.IndividualPresentFee, new { htmlAttributes = new { @class = "form-control", @Value = "0.00", @readonly = "readonly" } })
								@Html.ValidationMessageFor(model => model.IndividualPresentFee, "", new { @class = "text-danger" })
							</div>
							<div class="form-group col-lg-3">
								@Html.EditorFor(model => model.IndividualPresentEarlyBird, new { htmlAttributes = new { @class = "form-control", @Value = "0.00", @readonly = "readonly" } })
								@Html.ValidationMessageFor(model => model.IndividualPresentEarlyBird, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-3">
								@Html.LabelFor(model => model.LabelAgency)
							</div>
							<div class="form-group col-lg-3">
								<div class="custom-control custom-checkbox">
									@Html.EditorFor(model => model.FreeAgency, new { htmlAttributes = new { @class = "custom-control-input js-check-selected-row" } })
									@Html.LabelFor(model => model.FreeAgency, htmlAttributes: new { @class = "custom-control-label" })
								</div>
							</div>
							<div class="form-group col-lg-3">
								@Html.EditorFor(model => model.AgencyFee, new { htmlAttributes = new { @class = "form-control", @Value = "0.00", @readonly = "readonly" } })
								@Html.ValidationMessageFor(model => model.AgencyFee, "", new { @class = "text-danger" })
							</div>
							<div class="form-group col-lg-3">
								@Html.EditorFor(model => model.AgencyEarlyBird, new { htmlAttributes = new { @class = "form-control", @Value = "0.00", @readonly = "readonly" } })
								@Html.ValidationMessageFor(model => model.AgencyEarlyBird, "", new { @class = "text-danger" })
							</div>
						</div>








						@*<div class="row">
								<div class="form-group col-lg-12">
									@Html.FEPLabelFor(model => model.Fee)
									@Html.EditorFor(model => model.Fee, new { htmlAttributes = new { @class = "form-control", @placeholder = "0.00" } })
									@Html.ValidationMessageFor(model => model.Fee, "", new { @class = "text-danger" })
								</div>
							</div>*@

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.ParticipantAllowed)
								@Html.EditorFor(model => model.ParticipantAllowed, new { htmlAttributes = new { @class = "form-control", @placeholder = "0" } })
								@Html.ValidationMessageFor(model => model.ParticipantAllowed, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.TargetedGroup)
								@Html.EnumDropDownListFor(model => model.TargetedGroup, "-Select Group-", htmlAttributes: new { @class = "form-control select2-area", style = "width:100%" })
								@Html.ValidationMessageFor(model => model.TargetedGroup, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.ExternalExhibitorId)
								@Html.ListBoxFor(m => m.ExternalExhibitorId, Model.ExternalExhibitorList, htmlAttributes: new { @class = "js-example-basic-multiple select2-area", style = "width: 100%;" })
								@Html.ValidationMessageFor(model => model.ExternalExhibitorId, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.SpeakerId)
								@Html.ListBoxFor(m => m.SpeakerId, Model.SpeakerList, htmlAttributes: new { @class = "js-example-basic-multiple select2-area", style = "width: 100%;" })
								@Html.ValidationMessageFor(model => model.SpeakerId, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="row">
							<div class="form-group col-lg-12">
								@Html.FEPLabelFor(model => model.Attachments)
								@Html.Partial("_Attachment", Model.Attachments)
								@Html.ValidationMessageFor(model => model.Attachments, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="border-top p-3 rounded-bottom">
							<a class="btn btn-default font-weight-normal mr-2" href='@Url.Action("List")'>Back</a>
							<a class="btn btn-secondary" href="#eventagenda" data-toggle="tab">Next</a>
						</div>
					</div>

					<div class="tab-pane" id="eventagenda">
						<div class="mt-2 mb-4 pb-1 mr-auto">
							<h4 class="color-darkblue mb-0">Event Agenda</h4>
							<h6 class="font-weight-normal">Information marked with (<span class="text-danger">*</span>) is mandatory.</h6>
						</div>

						<hr />
						<div>
							<!--input type="submit" value="Create" class="btn btn-default" /-->
							<input class="form-control" type="hidden" name="CreatorId" id="CreatorId" value="@CurrentUser.UserId">
							<a class="btn btn-default" href="@Url.Action("Create_SelectCategory", "PublicEvent", new { area = "eEvent" })" data-toggle="tooltip" data-placement="top" title="Back">@Language.General.ButtonBack</a>
							<button type="submit" class="btn btn-default" id="btnSave" name="Submittype" value="Save"><i class="la la-save font-icon" style="font-size: 1.5rem;"></i>Save as Draft</button>
							<button type="submit" class="btn btn-secondary" id="btnSubmit" name="Submittype" value="Submit">Review for Submission</button>
						</div>
					</div>

				</div>
				<!-- End Form -->
			</div>
		</div>
	</div>
}