@model FEP.Intranet.Areas.eEvent.Models.EditPublicEventModel

@{
	ViewBag.Title = "Public Event";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ContentScript{
	@Scripts.Render("~/bundles/dataTable-script")

	<script type="text/javascript">
		$('.menu_publicEvent').addClass('active');
		$('.menu_publicEvent').parent('ul').parent('li').addClass('active');
	</script>
}

@section Nav {
	<ol class="breadcrumb">
		<li>E-Event</li>
		<li>Public Event</li>
		<li>Public Event List</li>
	</ol>
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-info">
				<div class="box-header"><h3 class="box-title">Edit Public Event</h3></div>

				<div class="form-horizontal">
					<div class="box-body">
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						@Html.HiddenFor(model => model.Id)

						<div class="form-group">
							@Html.LabelFor(model => model.EventTitle, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.EventTitle, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.EventTitle, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.EventObjective, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.EventObjective, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.EventObjective, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Venue, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Venue, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Venue, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Fee, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Fee, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Fee, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.ParticipantAllowed, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.ParticipantAllowed, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.ParticipantAllowed, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.TargetedGroup, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.TargetedGroup, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.TargetedGroup, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.ExternalExhibitor, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.ExternalExhibitor, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.ExternalExhibitor, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.ApprovalId1, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.ApprovalId1, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.ApprovalId1, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.ApprovalName1, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.ApprovalName1, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.ApprovalName1, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.ApprovalId2, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.ApprovalId2, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.ApprovalId2, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.ApprovalName2, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.ApprovalName2, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.ApprovalName2, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.ApprovalId3, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.ApprovalId3, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.ApprovalId3, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.ApprovalName3, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.ApprovalName3, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.ApprovalName3, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.ApprovalId4, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.ApprovalId4, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.ApprovalId4, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.ApprovalName4, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.ApprovalName4, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.ApprovalName4, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.AgendaId, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.DropDownListFor(model => model.AgendaId, null, "-Select Agenda-", new { @class = "form-control select2", style = "width:100%" })
								@Html.ValidationMessageFor(model => model.AgendaId, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<a href='@Url.Action("List")' class="btn btn-warning btn-flat">Cancel</a>
			<button type="submit" class="btn btn-primary btn-flat">Save</button>
		</div>
	</div>
}