
@model FEP.WebApiModel.PublicEvent.ListPublicEventModel

@{
	Layout = "~/Views/Shared/_Layout1.cshtml";
	ViewBag.Title = "Public Event";
}

@section Contentscript{
	<script type="text/javascript">

		 $(document).ready(function () {

            var table = $('.tabledata').DataTable({
                serverSide: true,
                processing: true,
                ajax: {
                    "type": "post",
                    "url": '@(WebApiURL)eEvent/PublicEvent/GetEventList',
                    "data": function (filter) {
						filter.EventTitle = $('#Filter_EventTitle').val();
						filter.EventStatus = $('#Filter_EventStatus').val();
                        filter.RefNo = $('#Filter_RefNo').val();
                        filter.Venue = $('#Filter_Venue').val();
                    }
                },
				columns: [
					 {
                        sortable: false,
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        data: 'RefNo',
                        sortable: true
					},
                    {
                        data: 'EventTitle',
                        sortable: true
                    },
                    
					 {
                        data: 'EventCategoryName',
                        sortable: true
					},
					  {
                        data: 'StartDate',
						sortable: true,
						  render: function (data, type, row, meta) {

							  var x = moment(data);

							  if (x.isValid()) {
								  return x.format("DD/MM/YYYY");
							  }
							  else {
								  return '';
							  }

                        }
					},
					   {
                        data: 'EndDate',
						sortable: true,
						render: function (data, type, row, meta) {
                            var x = moment(data);

							  if (x.isValid()) {
								  return x.format("DD/MM/YYYY");
							  }
							  else {
								  return '';
							  }
                        }
                    },
                    {
                        data: 'Venue',
                        sortable: true
                    },
                    {
                        data: 'Fee',
                        sortable: true
                    },
                    {
                        data: 'EventStatusDesc',
						sortable: false,
						render: function (data, type, row, meta) {
						 if (row.EventStatus == 0) {
                                return "<span class='color-blue font-weight-bold'> Draft </span>";
                            }
                            else if (row.EventStatus == 1) {
                                return "<span class='color-primary font-weight-bold'> Pending Verification </span>";
                            }
                            else if (row.EventStatus == 2) {
                                return "<span class='color-primary font-weight-bold'> Pending Approval 2 </span>";
                            }
                            else if (row.EventStatus == 3) {
                                return "<span class='color-primary font-weight-bold'> Pending Approval 3 </span>";
                            }
                            else if (row.EventStatus == 4) {
                                return "<span class='color-green font-weight-bold'> Approved </span>";
                            }
                            else if (row.EventStatus == 5) {
                                return "<span class='color-yellow font-weight-bold'> Require Amendment </span>";
                            }
                            else if (row.EventStatus == 6) {
                                return "<span class='color-red font-weight-bold'> Rejected </span>";
							}
							else if (row.EventStatus == 7) {
                                return "<span class='color-green font-weight-bold'> Published </span>";
							}
							else if (row.EventStatus == 8) {
                                return "<span class='color-primary font-weight-bold'> Pending Approval 1</span>";
                            }
						}
                    },
                    {
                        sortable: false,
                        render: function (data, type, row, meta) {

                            var action = "";

                            action = '<div class="icon-action">'

							if (row.EventStatus == 0) {

						    action +='<a href="@Url.Action("Edit", "PublicEvent", new { area = "eEvent"})/' + row.Id + '?origin=fromlist" data-toggle="tooltip" data-placement="top" title="Edit"><i class="la la-edit text-muted"></i></a>'
                            action +='<a href="@Url.Action("Details", "PublicEvent", new { area = "eEvent" })/' + row.Id + '?origin=fromlist" data-toggle="tooltip" data-placement="top" title="View"><i class="la la-eye text-muted"></i></a>'
							action += '<a href="@Url.Action("Delete", "PublicEvent", new { area = "eEvent" })/' + row.Id + '" data-toggle="tooltip" data-placement="top" title="Delete"><i class="la la-trash-o text-muted"></i></i></a>'

							//Verify By Admin Event
							action +='<a href="@Url.Action("Details", "PublicEvent", new { area = "eEvent" })/' + row.Id + '?origin=toverify" data-toggle="tooltip" data-placement="top" title="Submit"><i class="la la-edit text-muted"></i></i></a>'
							}

							if (row.EventStatus == 1) {
								//Approve By Approver1
								action += '<a href="@Url.Action("Details", "PublicEvent", new { area = "eEvent" })/' + row.Id + '?origin=toapprove1" data-toggle="tooltip" data-placement="top" title="Approve"><i class="la la-eye text-muted"></i></i></a>'
							}

							if (row.EventStatus == 2) {
								//Approve By Approver2
								action += '<a href="@Url.Action("Details", "PublicEvent", new { area = "eEvent" })/' + row.Id + '?origin=toapprove2" data-toggle="tooltip" data-placement="top" title="Approve"><i class="la la-eye text-muted"></i></i></a>'
							}

							if (row.EventStatus == 3) {
								//Approve By Approver3
								action += '<a href="@Url.Action("Details", "PublicEvent", new { area = "eEvent" })/' + row.Id + '?origin=toapprove3" data-toggle="tooltip" data-placement="top" title="Approve"><i class="la la-eye text-muted"></i></i></a>'
							}

							if (row.EventStatus == 5) {
								//Approve By Approver3
								action += '<a href="@Url.Action("Details", "PublicEvent", new { area = "eEvent" })/' + row.Id + '?origin=fromamendment" data-toggle="tooltip" data-placement="top" title="Approve"><i class="la la-eye text-muted"></i></i></a>'
							}

							if (row.EventStatus == 4 || row.EventStatus == 6) {
								//Approved
                                action += '<a href="@Url.Action("Details", "PublicEvent", new { area = "eEvent" })/' + row.Id + '?origin=approvedcancel" data-toggle="tooltip" data-placement="top" title="View"><i class="la la-eye text-muted"></i></a>'
							}

							if (row.EventStatus == 7) {
								//Published
                                action += '<a href="@Url.Action("Details", "PublicEvent", new { area = "eEvent" })/' + row.Id + '?origin=published" data-toggle="tooltip" data-placement="top" title="View"><i class="la la-eye text-muted"></i></a>'
							}

							if (row.EventStatus == 5) {
								//require amendment
						    action +='<a href="@Url.Action("Edit", "PublicEvent", new { area = "eEvent"})/' + row.Id + '?origin=amendment" data-toggle="tooltip" data-placement="top" title="Edit"><i class="la la-edit text-muted"></i></a>'
							}

							action +='</div>';

                            return action;
                        }
                    }
                ],
                paging: true,
                lengthChange: true,
                searching: true,
                ordering: true,
                orderMulti: false,
                info: true,
                autoWidth: false,
                order: [[1, 'asc']],
                language: {
                    processing: "Processing... <i class='fa fa-refresh fa-spin'></i>",
                    emptyTable: "No Record Found",
                    info: "Showing _START_ - _END_ of _TOTAL_"
                },
                dom: 'rtip'
            });

            $('#lengthChange').val(table.page.len());

            $('#quickSearch').keyup( function () {
                table.search($(this).val()).draw();
            });

            $('#lengthChange').change( function() {
                table.page.len($(this).val()).draw();
            });

            $('#btnSearch').click(function () {
                table.ajax.reload();
            });

            table.on('order.dt search.dt page.dt', function () {
                var info = table.page.info();

                var start = 0;
                if (info.recordsTotal != 0) {
                    start = info.start + 1;
                }

                $('#pageInfo').html('Showing ' + start + ' - ' + info.end + ' of ' + info.recordsTotal);
                $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
            }).draw();


        });
	</script>
}

@section Nav {

	<div class="title_header">
		<div class="title-header-container">
			<div class="container">
				<!-- if have button -->
				@*<div class="header-col-right float-right mt-5"><a href="e-Learning.html" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>*@
				<div class="header-col-left">
					<div id="breadcrumb">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item color-"><a href="#">Home</a></li>
								<li class="breadcrumb-item"><a href="#">Event Management</a></li>
								<li class="breadcrumb-item"><a href="#">Manage Public Event</a></li>
								<li class="breadcrumb-item active" aria-current="page"><a href="#">Event List</a></li>
							</ol>
						</nav>
					</div>
					<h1 class="page-title text-white">Event List</h1>
					<div class="header-text">List of created event</div>
				</div>
			</div>
		</div>
	</div>

}
<div class="d-flex align-items-center">
	<div class="filter dropdown">
		<button class="btn btn-default btn-rounded color-grey font-weight-normal cycle-element"><i class="la la-sliders font-icon color-secondary"></i>Filters</button>
		<div class="dropdown-menu">
			<div class="filter-head">Filters</div>
            <div class="filter-body">
                <div>@Html.DisplayNameFor(m => m.Filter.EventTitle)</div>
                <div class="sorting-wrap">
                    <div class="sorting-dropdown">
                        @Html.EditorFor(m => m.Filter.EventTitle, new { htmlAttributes = new { @class = "form-control small" } })
                    </div>
                </div>
                <div>@Html.DisplayNameFor(m => m.Filter.RefNo)</div>
                <div class="sorting-wrap">
                    <div class="sorting-dropdown">
                        @Html.EditorFor(m => m.Filter.RefNo, new { htmlAttributes = new { @class = "form-control small" } })
                    </div>
                </div>
                @*<div>@Html.DisplayNameFor(m => m.Filter.EventCategoryId)</div>
        <div class="sorting-wrap">
            <div class="sorting-dropdown">
                @Html.EditorFor(m => m.Filter.EventCategoryId, new { htmlAttributes = new { @class = "form-control small" } })
            </div>
        </div>
        <div>@Html.DisplayNameFor(m => m.Filter.TargetedGroup)</div>
        <div class="sorting-wrap">
            <div class="sorting-dropdown">
                @Html.EditorFor(m => m.Filter.TargetedGroup, new { htmlAttributes = new { @class = "form-control small" } })
            </div>
        </div>
        <div>@Html.DisplayNameFor(m => m.Filter.EventStatus)</div>
        <div class="sorting-wrap">
            <div class="sorting-dropdown">
                @Html.EditorFor(m => m.Filter.EventStatus, new { htmlAttributes = new { @class = "form-control small" } })
            </div>
        </div>*@
                <div>
                    <button id="btnSearch" class="btn btn-secondary btn-block">Search</button>
                </div>
            </div>
		</div>
	</div>
	<div class="divider-vertical">&nbsp;</div>
	<!-- Search -->
	<div class="input-keyword col-lg-5 col-sm-12 mr-auto px-0">
		<input id="quickSearch" type="text" class="form-control form-control-rounded" placeholder="Search" name="keyword">
		<div class="input-group-append">
			<button class="btn btn-circle" type="button"><i class="fas fa-search text-white"></i></button>
		</div>
	</div>
	@*<div class="sorting-wrap">
			<div class="sorting-dropdown">
				<select class="select2 form-control small" name="sorting">
					<option value="Default Sorting">Default Sorting</option>
					<option value="sorting 1">Sorting 1</option>
					<option value="sorting 2">Sorting 2</option>
				</select>
			</div>
		</div>*@
</div>
<hr>
<div class="table-responsive" data-toggle="lists">
	<div class="d-flex pb-4 align-items-center">
		<div>
			<!-- Select option -->
			<span class="select-arrow">
				<select id="lengthChange" name="dataTable_length" aria-controls="dataTable" class="custom-select">
					<option value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</span>
		</div>
		<div id="pageInfo" class="showing-result px-3 py-2 mr-auto"></div>
		<div><a href="@Url.Action("Create_SelectCategory", "PublicEvent", new { area = "eEvent" })" class="btn btn-secondary"><i class="la la-plus font-icon" style="font-size: 1.5rem;"></i>Create New</a></div>
	</div>
	<!-- Table -->
	<table class="table tableStyle1 tabledata">
		<thead>
            <tr>
                @*<th>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input js-toggle-check-all" data-target="#table01" id="customCheckAll">
                <label class="custom-control-label" for="customCheckAll">
                    <span class="text-hide">Toggle all</span>
                </label>
            </div>
        </th>*@
                <th>#</th>
                <th>@Html.DisplayNameFor(model => model.List.RefNo)</th>
                <th>@Html.DisplayNameFor(model => model.List.EventTitle)</th>
                <th>@Html.DisplayNameFor(model => model.List.EventCategoryName)</th>
                <th>@Html.DisplayNameFor(model => model.List.StartDate)</th>
                <th>@Html.DisplayNameFor(model => model.List.EndDate)</th>
                <th>@Html.DisplayNameFor(model => model.List.Venue)</th>
                <th>@Html.DisplayNameFor(model => model.List.Fee)</th>
                <th>@Html.DisplayNameFor(model => model.List.EventStatusDesc)</th>
                <th>Action</th>
            </tr>
		</thead>
	</table>
</div>