@model FEP.Intranet.Areas.eEvent.Models.ListPublicEventModel

@{
	ViewBag.Title = "Public Event";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ContentStyle{
	@Styles.Render("~/bundles/dataTable-css")
}

@section ContentScript{

	@Scripts.Render("~/bundles/dataTable-script")

	<script type="text/javascript">
		$('.menu_publicEvent').addClass('active');
		$('.menu_publicEvent').parent('ul').parent('li').addClass('active');

		$(document).ready(function () {
			var t = $('.tabledata').DataTable({
				"columnDefs": [{
					"searchable": false,
					"orderable": false,
					"targets": [0, 6]
				}],
				"order": [[1, 'asc']],
				"paging": true,
				"lengthChange": true,
				"searching": true,
				"ordering": true,
				"info": true,
				"autoWidth": false,
				"language": {
					"emptyTable": "No record found"
				},
				"lengthMenu": [10, 25, 50],
				buttons: [{
					extend: 'csvHtml5',
					title: 'Export Field Of Research List',
					//fieldSeparator:'|',
					exportOptions: {
						columns: [1]
					}
				}]
			});
			t.on('order.dt search.dt', function () {
				t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
					cell.innerHTML = i + 1;
				});
			}).draw();

			$('#export').click(function () { t.button('0').trigger(); });

		});

	</script>
}

<div class="row">
	<div class="col-xs-12">
		<div class="box box-info">
			<div class="box-header">
				<h3 class="box-title">Public Event List</h3>
				<div class="pull-right box-tools">
					<a href='@Url.Action("Create")' class="btn btn-primary btn-xs" title="Add"><i class="fa fa-plus"></i>  Public Event</a>
					<a class="btn btn-success btn-xs" title="Export" id="export"><i class="fa fa-file-excel"></i>  Export</a>
					<a href='@Url.Action("List", "EventObjective", new { area = "eEvent"})' class="btn btn-default btn-xs" title="Add"><i class="fa fa-plus"></i>  Objective</a>
					<a href='@Url.Action("List", "EventSpeaker", new { area = "eEvent"})' class="btn btn-default btn-xs" title="Add"><i class="fa fa-plus"></i>  Speaker</a>
					<a href='@Url.Action("List", "MediaInterview", new { area = "eEvent"})' class="btn btn-default btn-xs" title="Add"><i class="fa fa-plus"></i>  Media Interview</a>
				</div>
			</div><!-- /.box-header -->


			<div class="box-body">
				<table class="table table-bordered table-striped tabledata table-hover">
					<thead>
						<tr>
							<th>No.</th>
							<th>@Html.DisplayNameFor(m => m.filter.EventTitle)</th>
							<th>@Html.DisplayNameFor(m => m.filter.EventObjectiveTitle)</th>
							<th>@Html.DisplayNameFor(m => m.filter.StartDate)</th>
							<th>@Html.DisplayNameFor(m => m.filter.EndDate)</th>
							<th>@Html.DisplayNameFor(m => m.filter.Venue)</th>
							<th>@Html.DisplayNameFor(m => m.filter.Fee)</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.PublicEventList)
						{
							<tr>
								<td></td>
								<td>@Html.DisplayFor(m => item.EventTitle)</td>
								<td>@Html.DisplayFor(m => item.EventObjectiveTitle)</td>
								<td>@Html.DisplayFor(m => item.StartDate)</td>
								<td>@Html.DisplayFor(m => item.EndDate)</td>
								<td>@Html.DisplayFor(m => item.Venue)</td>
								<td>@Html.DisplayFor(m => item.Fee)</td>
								<td>
									<a href='@Url.Action("Details", new { id=item.Id })' class="btn btn-info btn-xs" title="Details"> <i class="fa fa-list-alt"> </i>Details</a>
									<a href='@Url.Action("Edit", new { id=item.Id })' class="btn btn-info btn-xs" title="Edit"> <i class="fa fa-edit"> </i>Edit</a>
									<a href='@Url.Action("Delete", new { id=item.Id })' class="btn btn-warning btn-xs" title="Delete"> <i class="fa fa-trash"></i>Delete</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<a href='@Url.Action("Index", "Project" , new { area = "Projects"})' class="btn btn-warning">Back</a>
	</div>
</div>