@model FEP.Model.eLearning.Course

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstApproval.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstApproval.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondApproval.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondApproval.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdApproval.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdApproval.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerifierApproval.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerifierApproval.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Objectives)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Objectives)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntroVideoPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntroVideoPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TraversalRule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TraversalRule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreCalculation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreCalculation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalModules)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalModules)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertificateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertificateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultAllowablePercentageBeforeWithdraw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultAllowablePercentageBeforeWithdraw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletionCriteriaType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletionCriteriaType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModulesCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModulesCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentageCompletion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentageCompletion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestsPassed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestsPassed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
