@model FEP.WebApiModel.eLearning.CreateOrEditContentModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";

    var name = Model.PageTitle;

    var desc = Model.ContentType.ToString();

}

@section Nav{
    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                <div class="header-col-right float-right mt-5">

                    <a href="~/eLearning/CourseModules/Content/@Model.CourseModuleId" class="btn btn-outline-primary text-white">
                        <span class="align-middle">
                            <i class="la la-long-arrow-left">&nbsp;</i>
                        </span>
                        Back
                    </a>
                </div>
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                                <li class="breadcrumb-item"><a href="~/eLearning/Home">eLearning</a></li>
                                <li class="breadcrumb-item"><a href="~/eLearning/Courses">Courses</a></li>
                                <li class="breadcrumb-item"><a href="~/eLearning/CourseModules/Content/@Model.CourseModuleId">Module</a></li>
                                <li class="breadcrumb-item"><a href="#">Content</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">@name : Add @desc</h1>
                    <div class="header-text">Add new @desc.</div>
                </div>
            </div>
        </div>
    </div>
}

    <form action="/CourseContents/Create" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
        @*@using (Html.BeginForm("Create", "CourseContents", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {*@
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.CourseId)
        @Html.HiddenFor(m => m.CourseModuleId)
        @Html.HiddenFor(m => m.CreateContentFrom)
        @Html.HiddenFor(m => m.ContentType)
        @Html.HiddenFor(m => m.PageTitle)
        @Html.HiddenFor(m => m.VideoType)
        @Html.HiddenFor(m => m.CreatedBy, new { Value = CurrentUser.UserId })

        <div class="row">

            <div class="col-xl-3 col-md-3 col-sm-4 my-2">
                <div id="page-nav" class="sidebar-left page-nav">
                    <div data-perfect-scrollbar class="ps">
                        <div class="page-section">
                            <h6 class="x-small color-darkblue"><i class="la la-edit font-icon color-secondary align-bottom"></i>Course</h6>
                            <ul class="nav page-nav__menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">@Model.ContentType</a>
                                </li>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-9 col-md-9 col-sm-8 mt-2 pb-5">
                <!-- Start Form -->
                <div class="border-form rounded-top">
                    <div class="form-container">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.Partial($"_create{Model.ContentType.ToString()}", Model)


                    </div>
                </div>

                <div class="border-left border-right border-bottom p-3 rounded-bottom">

                    <a href="~/eLearning/CourseModules/Content/@Model.CourseModuleId" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                       title="Back">@Language.General.ButtonBack</a>

                    <button type="submit" class="btn btn-default pull-right" id="btnSave" value="Save">
                        <i class="la la-save font-icon" style="font-size: 1.5rem;"></i>Save
                    </button>
                </div>
            </div>
        </div>
        @* } *@
    </form>

<style>    
    .questionWrapper,
    .timerWrapper {
        display: none;
    }

    .form-container {
        max-width: none !important;
    }
</style>

@section ContentScript {

    <link href="~/Scripts/summernote/summernote-lite.css" rel="stylesheet" />
    <script src="~/Scripts/summernote/summernote-lite.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                placeholder: 'Type your text here.',
                tabsize: 2,
                height: 150,
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],

                ],
                codeviewFilter: false,
                codeviewIframeFilter: true,
            });

            // For video
            var contentType = $('#ContentType').val();

            console.log($('input[name=VideoType]').val());

            if (contentType == 'Video') {
                if ($('#VideoType').val() == "ExternalVideo") {

                    $("#video1").prop("checked", true);
                    $('#Url').prop("disabled", false);
                    $('#FileName').prop("disabled", true);

                }

                if ($('#VideoType').val() == "UploadVideo") {                

                    $("#video2").prop("checked", true);
                    $('#FileName').prop("disabled", false);
                    $('#Url').prop("disabled", true);
    
                }
            }
        });


        // hide/show text for video
        $('.video-radio input[type="radio"]').change(function () {
            if ($(this).hasClass("exVideo")) {

                $('#Url').prop("disabled", false);
                $('#FileName').prop("disabled", true);
                setError("FileName", "");

               ($('input[name=VideoType]').val('ExternalVideo'));

            } else {

                $('#FileName').prop("disabled", false);
                setError("Url", "");

                $('#Url').prop("disabled", true);
                ($('input[name=VideoType]').val('UploadVideo'));
            }
        });

        $('.completion-radio input[type="radio"]').change(function () {
            if ($(this).hasClass("clickButton")) {
                $(".questionWrapper").css({
                    'display': 'none'
                });
                $(".timerWrapper").css({
                    'display': 'none'
                });

            }
            if ($(this).hasClass("timer")) {

                $(".timerWrapper").css({
                    'display': 'block'
                });
                $(".questionWrapper").css({
                    'display': 'none'
                });
            }
            if ($(this).hasClass("answerQuestion")) {

                $(".questionWrapper").css({
                    'display': 'block'
                });
                $(".timerWrapper").css({
                    'display': 'none'
                });
            }
        });

        $('.custom-file-input').on('change', function () {
            let fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').addClass("selected").html(fileName);
        });


        function validateForm() {

            var contentType = $('#ContentType').val();
            if (contentType == 'Video') {

                console.log(contentType);
                if ($('#VideoType').val() == "ExternalVideo") {
                    if ($.trim($('#Url').val()) == "") {
                        setError("Url", "Please enter the youtube URL.");

                        return false;
                    }
                    else {
                        setError("Url", "");
                    }
                }
                                
                if ($('#VideoType').val() == "UploadVideo") {

                    if ($.trim($('#FileName').val()) == "") {
                        setError("FileName", "Please browse for the file to upload.");

                        return false;
                    } else {
                        setError("FileName", "");
                    }

                }
            } 


            return true;
            
        }

        function setError(name, message) {
            const span = $(`span[data-valmsg-for="${name}"]`);
            if (span && span.length > 0) {
                $(span).html(message);
                if (message) {
                    $(`input[name="${name}"]`).addClass("input-validation-error");
                    $(span).removeClass("field-validation-valid");
                    $(span).addClass("field-validation-error");
                } else {
                    $(`input[name="${name}"]`).removeClass("input-validation-error");
                    $(span).removeClass("field-validation-error");
                    $(span).addClass("field-validation-valid");
                }
            }
        }

        //function removeError(name, message) {
        //    const span = $(`span[data-valmsg-for="${name}"]`);
        //    if (span && span.length > 0) {
        //        $(span).html(message);
        //        if (message) {
        //            $(`input[name="${name}"]`).addClass("input-validation-error");
        //            $(span).removeClass("field-validation-valid");
        //            $(span).addClass("field-validation-error");
        //        } else {
        //            $(`input[name="${name}"]`).removeClass("input-validation-error");
        //            $(span).removeClass("field-validation-error");
        //            $(span).addClass("field-validation-valid");
        //        }
        //    }
        //}

    </script>

}