@model FEP.WebApiModel.eLearning.CreateOrEditContentModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout1.cshtml";

    var name = Model.Title;

    var desc = Model.ContentType.ToString();

}

@section Nav{
    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                <div class="header-col-right float-right mt-5">

                    <a href="~/eLearning/CourseModules/Content/@Model.CourseModuleId" class="btn btn-outline-primary text-white">
                        <span class="align-middle">
                            <i class="la la-long-arrow-left">&nbsp;</i>
                        </span>
                        Back
                    </a>
                </div>
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                                <li class="breadcrumb-item"><a href="~/eLearning/Home">eLearning</a></li>
                                <li class="breadcrumb-item"><a href="~/eLearning/Courses">Courses</a></li>
                                <li class="breadcrumb-item"><a href="~/eLearning/CourseModules/Content/@Model.CourseModuleId">Module</a></li>
                                <li class="breadcrumb-item"><a href="#">Content</a></li>

                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">@name : View @desc</h1>
                    <div class="header-text">View @desc.</div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12 mt-2 pb-5">

        <!-- Start Form -->
        <div class="border-form rounded-top">

            @if (CurrentUser.HasAccess(FEP.Model.UserAccess.CourseEdit))
            {
                <div class="col-sm-12 ">
                    <div class="row float-right">

                        <a href="@Url.Action($"Edit", "CourseContents", new { area = "eLearning", id = Model.Id })"
                           data-toggle="tooltip" data-placement="top" title="Edit"><i class="la la-edit"></i></a>
                        <a href="@Url.Action($"Delete", "CourseContents", new { area = "eLearning", id = Model.Id })"
                           data-toggle="tooltip" data-placement="top" title="Delete"><i class="la la-trash-o"></i></a>
                    </div>
                </div>
            }

            <div class="form-container">

                <div class="form-group">
                    <h3>@Model.ModuleName</h3>
                    <h4>@Model.Title</h4>
                </div>

                @*@Html.TextAreaFor(model => model.Description, new { @class = "summernote form-control editor" })*@

                @Html.Raw(Model.Description)

                @Html.Partial($"_view{Model.ContentType.ToString()}", Model)

                <!-- survey start -->
                <hr />
                <div class="form-group">
                    <h4>@ViewBag.QuizTitle</h4>
                </div>
                <div id="surveyContainer"></div>
                <div id="surveyResult"></div>
                <div id="testdiv"></div>
                <textarea id="Questions" name="Questions" class="form-control" rows="3" style="display:none;">@ViewBag.QuizContents</textarea>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formresponse", id = "formresponse" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <input type="hidden" name="Id" class="form-control" value="@ViewBag.Id" />
                    <input type="hidden" name="QuizId" id="QuizId" class="form-control" value="@ViewBag.QuizId" />
                    <input type="hidden" name="UserId" id="UserId" class="form-control" value="@CurrentUser.UserId" />
                    <textarea id="Contents" name="Contents" class="form-control" rows="3" style="display:none;"></textarea>
                    <textarea id="Answers" name="Answers" class="form-control" rows="3" style="display:none;"></textarea>
                }
                <!-- survey end -->

                <hr />

                @Html.Action("Get", "ContentCompletions", new { @contentId = Model.Id })
            </div>
        </div>

        <div class="border-left border-right border-bottom p-3 rounded-bottom">
            <a href="~/eLearning/CourseModules/View/@Model.CourseModuleId" class="btn btn-default" data-toggle="tooltip" data-placement="top"
               title="Back">@Language.General.ButtonBack</a>
        </div>
    </div>
</div>

<style>

    .form-container {
        max-width: none !important;
    }
</style>

@section ContentScript {

    <!-- Survey -->
    <link href="https://surveyjs.azureedge.net/1.1.8/survey.css" type="text/css" rel="stylesheet">
    <script src="https://surveyjs.azureedge.net/1.1.8/survey.jquery.min.js"></script>
    <script type="text/javascript" src="@BaseURL/js/survey-tester-init.js"></script>
    @*<script src="@BaseURL/js/main.js"></script>*@

    <script src="~/Scripts/tinymce/tinymce.min.js"></script>

    <script>

        $(document).ready(function () {
            tinymce.init({
                selector: '.editor',
                plugins: "autoresize",
                autoresize_on_init: true,
                width: 1200,
                height: 800,
                menubar: false,
                statusbar: false,
                toolbar: false,
                readonly: true,
                relative_urls: false,
                remove_script_host: false,
                convert_urls: true,
                branding: false,
            });

            // survey portion

            @*var completiontype = @Json.Encode(Model.CompletionType);*@

            //var surveyJSON = $('#Questions').val();
            //var survey = new Survey.Model(surveyJSON);

            var surveyJSON = @Html.Raw(ViewBag.QuizContents);
            var survey = new Survey.Model(surveyJSON);

            $("#surveyContainer").Survey({
                model: survey,
                onComplete: sendDataToServer
            });

            //survey.onValidateQuestion.add(function (s, options) {
            //    if (options.name == 'animalwater') {
            //        if (options.value != 'Whale') {
            //            options.error = "The answer is not correct. Please give another answer";
            //        }
            //    }
            //});

            function sendDataToServer(survey) {
                var givenanswers = survey.data;
                var answerstring = JSON.stringify(givenanswers);
                var correctcount = survey.getCorrectedAnswerCount();
                var incorrectcount = survey.getInCorrectedAnswerCount();
                var totalcount = correctcount + incorrectcount;
                var wronganswers = "The following answers were incorrect:<br/>";
                if (incorrectcount > 0) {
                    var qs = survey.getAllQuestions();
                    qs.forEach(function (q) {
                        if (q.correctAnswer != undefined) {
                            var correctans = q.correctAnswer;
                            var givenans = q.value;
                            if (correctans != givenans) {
                                wronganswers = wronganswers + "- " + givenans + "<br/>";
                            }
                        }
                    });
                    $('#surveyResult').css('color', 'red');
                    $('#surveyResult').html("<b>You only answered " + correctcount + " out of " + totalcount + " questions correctly. Please try again!</b><br/>" + wronganswers);
                    survey.clear();
                    survey.render();
                    return false;
                }
                else {
                    $('#surveyResult').css('color', 'green');
                    $('#surveyResult').html("<b>You have answered " + correctcount + " out of " + totalcount + " questions correctly. Congratulations!</b><br/>");
                }

                $('#Answers').val(answerstring);
                var form = $('#formresponse');
                $.ajax({
                    url: "@Url.Action("SubmitAnswers", "CourseContents", new { area = "eLearning" })",
                    type: "POST",
                    data: form.serialize(),
                    success: function (data) {
                        //$('#testdiv').text(data);
                        //callback(saveNo, data.isSuccess);
                    },
                    error: function (xhr, status, error) {
                        //alert(xhr.responseText);
                    }
                });
            }

            //$('#btnComplete,#btnTimerComplete,#btnAnswerComplete').click(function (event) {
            $('#btnAnswerComplete').click(function (event) {
                event.preventDefault();
                event.stopPropagation();
                var quizid = $('#QuizId').val();
                //alert(quizid);
                if (quizid != 0) {
                    var userid = $('#UserId').val();
                    $.ajax({
                        url: "@Url.Action("QuizCompleted", "CourseContents", new { area = "eLearning" })" + "?quizid=" + quizid + "&userid=" + userid,
                        type: "GET",
                        success: function (data) {
                            //alert(data);
                            if (data == "False") {
                                $('#surveyResult').css('color', 'red');
                                $('#surveyResult').html("<b>You must first answer all of this Content's Questions correctly before you can proceed to the next Content!</b><br/>");
                                return false;
                            }
                            else {
                                $('#formCompletion').submit();
                            }
                        }
                    });
                }
                else {
                    $('#formCompletion').submit();
                }
            });
        });

    </script>
}