@model FEP.WebApiModel.RnP.ReturnPublicationApprovalModel

@{
    ViewBag.Title = "Review Publication";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section Nav{
    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                <div class="header-col-right float-right mt-5"><a href="~/RnP/Publication" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                                <li class="breadcrumb-item"><a href="~/RnP/Home">Research & Publication</a></li>
                                <li class="breadcrumb-item"><a href="~/RnP/Publication">Publication</a></li>
                                <li class="breadcrumb-item"><a href="#">Review Publication</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">Review Publication</h1>
                    <div class="header-text">Review and approve/reject publication.</div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-xl-3 col-md-3 col-sm-4 my-2">
        <div class="sidebar-left">
            <!-- Steps -->
            <div class="sidebar-inner sticky">
                <ul class="steps steps-vertical">
                    <li class="step-item complete">
                        <a href="#" class="step-link" id="tab_info">
                            <span class="step-number">1</span>
                            <span class="step-title">Publication Details</span>
                        </a>
                    </li>
                    <!-- rejected -->
                    <!-- <li class="step-item rejected">
                        <a href="" class="step-link">
                            <span class="step-number">2</span>
                            <span class="step-title">Fill Up Event Details</span>
                        </a>
                    </li> -->
                    <li class="step-item active">
                        <a href="#" class="step-link" id="tab_review">
                            <span class="step-number">2</span>
                            <span class="step-title">Publication Approval</span>
                        </a>
                    </li>
                </ul>
                <!-- End Steps -->
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-md-9 col-sm-8 mt-2 pb-5" id="pub_info" style="display:block;">
        <!-- Start Form -->
        <div class="border-form rounded-top">
            <div class="form-container">
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.LabelFor(model => model.Pub.CategoryID, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Pub.Category, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.EditorFor(model => model.Pub.Category, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.LabelFor(model => model.Pub.Author, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Pub.Author, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.LabelFor(model => model.Pub.Coauthor, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Pub.Coauthor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.LabelFor(model => model.Pub.Title, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Pub.Title, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        @Html.LabelFor(model => model.Pub.Year, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Pub.Year, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="form-group col-lg-6">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.LabelFor(model => model.Pub.Description, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Pub.Description, new { htmlAttributes = new { @class = "form-control" }, @readonly = "readonly", cols = 48, @rows = 5 })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.LabelFor(model => model.Pub.Language, htmlAttributes: new { @class = "control-label" })
                        <select class="js-example-basic-multiple" id="pub_lang" name="pub_langs[]" multiple="multiple" style="width: 100%;" disabled="disabled">
                            <option value="English">English</option>
                            <option value="Malay">Malay</option>
                        </select>
                        @Html.HiddenFor(model => model.Pub.Language, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.LabelFor(model => model.Pub.ISBN, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Pub.ISBN, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <div class="custom-control custom-checkbox">
                            @Html.EditorFor(model => model.Pub.Free, new { htmlAttributes = new { @class = "custom-control-input js-check-selected-row", @readonly = "readonly" } })
                            @Html.LabelFor(model => model.Pub.Free, htmlAttributes: new { @class = "custom-control-label" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        Format
                    </div>
                    <div class="form-group col-lg-6">
                        Price (RM)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <div class="custom-control custom-checkbox">
                            @Html.EditorFor(model => model.Pub.Hardcopy, new { htmlAttributes = new { @class = "custom-control-input js-check-selected-row", @readonly = "readonly" } })
                            @Html.LabelFor(model => model.Pub.Hardcopy, htmlAttributes: new { @class = "custom-control-label" })
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        @Html.EditorFor(model => model.Pub.HPrice, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <div class="custom-control custom-checkbox">
                            @Html.EditorFor(model => model.Pub.Digitalcopy, new { htmlAttributes = new { @class = "custom-control-input js-check-selected-row", @readonly = "readonly" } })
                            @Html.LabelFor(model => model.Pub.Digitalcopy, htmlAttributes: new { @class = "custom-control-label" })
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        @Html.EditorFor(model => model.Pub.DPrice, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <div class="custom-control custom-checkbox">
                            @Html.EditorFor(model => model.Pub.HDcopy, new { htmlAttributes = new { @class = "custom-control-input js-check-selected-row", @readonly = "readonly" } })
                            @Html.LabelFor(model => model.Pub.HDcopy, htmlAttributes: new { @class = "custom-control-label" })
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        @Html.EditorFor(model => model.Pub.HDPrice, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row" style="display:none;">
                    <div class="form-group col-lg-12">
                        @Html.LabelFor(model => model.Pub.ProofOfApproval, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Pub.ProofOfApproval, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        @Html.LabelFor(model => model.Pub.StockBalance, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Pub.StockBalance, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="form-group col-lg-6">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
        <div class="border-left border-right border-bottom p-3 rounded-bottom">
            <a class="btn btn-default" href="@Url.Action("Index", "Publication", new { area = "RnP" })" data-toggle="tooltip" data-placement="top" title="Back">Back</a>
            <button type="button" class="btn btn-secondary" id="btnNext" name="btnNext">Next</button>
        </div>
    </div>
    <div class="col-xl-9 col-md-9 col-sm-8 mt-2 pb-5" id="pub_review" style="display:none;">
        <div class="row">
            Approval History
        </div>
        <table class="table tableStyle1 mb-4">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Status</th>
                    <th>Approver</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody class="list" id="table01">
                @if (ViewBag.History == null)
                {
                    <tr>
                        <td colspan="4">None</td>
                    </tr>
                }
                else
                {
                    var icount = 0;
                    foreach (var item in ViewBag.History)
                    {
                        icount++;
                        <tr>
                            <td>@icount</td>
                            <td>@item.Status</td>
                            <td>@item.ApproverId</td>
                            <td>@item.Remarks</td>
                        </tr>
                    }

                }
            </tbody>
        </table>
        <!-- Start Form -->
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myform" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="border-form rounded-top">
                <div class="form-container">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.LabelFor(model => model.Approval.Status, htmlAttributes: new { @class = "control-label" })
                            @Html.HiddenFor(model => model.Approval.ID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.HiddenFor(model => model.Approval.PublicationID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.HiddenFor(model => model.Approval.Level, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.HiddenFor(model => model.Approval.ApproverId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.EnumDropDownListFor(model => model.Approval.Status, null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Approval.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.LabelFor(model => model.Approval.Remarks, htmlAttributes: new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.Approval.Remarks, new { htmlAttributes = new { @class = "form-control" }, cols = 48, @rows = 5 })
                            @Html.ValidationMessageFor(model => model.Approval.Remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <div class="custom-control custom-checkbox">
                                @Html.EditorFor(model => model.Approval.RequireNext, new { htmlAttributes = new { @class = "custom-control-input js-check-selected-row" } })
                                @Html.LabelFor(model => model.Approval.RequireNext, htmlAttributes: new { @class = "custom-control-label" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-left border-right border-bottom p-3 rounded-bottom">
                <a class="btn btn-default" href="@Url.Action("Index", "Publication", new { area = "RnP" })" data-toggle="tooltip" data-placement="top" title="Back">Back</a>
                <button type="button" class="btn btn-secondary" id="btnPrev" name="btnPrev">Previous</button>
                <button type="submit" class="btn btn-secondary" value="Save">Save</button>
            </div>
        }
    </div>
</div>

@section ContentScript {
    <script type="text/javascript">
        $(document).ready(function () {
            var selectedLang = $('#Pub_Language').val();
            if (selectedLang.indexOf("English") >= 0) {
                $('#pub_lang option').each(function () {
                    if ($(this).text() == "English") {
                        $(this).prop("selected", true);
                    }
                });
            }
            if (selectedLang.indexOf("Malay") >= 0) {
                $('#pub_lang option').each(function () {
                    if ($(this).text() == "Malay") {
                        $(this).prop("selected", true);
                    }
                });
            }
            $('#pub_lang').trigger('change');
            $('#btnNext').click(function () {
                $('#pub_review').show();
                $('#pub_info').hide();
            });
            $('#btnPrev').click(function () {
                $('#pub_info').show();
                $('#pub_review').hide();
            });
            $('#tab_info').click(function () {
                $('#pub_info').show();
                $('#pub_review').hide();
            });
            $('#tab_review').click(function () {
                $('#pub_review').show();
                $('#pub_info').hide();
            });
        });
    </script>
}


