@model IEnumerable<Publication>

@{
    ViewBag.Title = "Publication";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section Nav{
    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                <div class="header-col-right float-right mt-5"><a href="~/RnP/Home" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                                <li class="breadcrumb-item"><a href="~/RnP/Home">Research & Publication</a></li>
                                <li class="breadcrumb-item"><a href="#">Publication</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">List of Publications</h1>
                    <div class="header-text">Create, edit, delete and manage publications.</div>
                </div>
            </div>
        </div>
    </div>
}

<div class="d-flex align-items-center">
    <div class="filter dropdown">
        <button class="btn btn-default btn-rounded color-grey font-weight-normal cycle-element"><i class="la la-sliders font-icon color-secondary"></i>Filters</button>
        <div class="dropdown-menu">
            <div class="filter-head">Filters</div>
            <div class="filter-body">
                <div>Registration Type</div>
                <div class="sorting-wrap">
                    <div class="sorting-dropdown">
                        <select class="select2 form-control small" name="filter">
                            <option value="all">All</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </div>
                <div>Check-in Status</div>
                <div class="sorting-wrap">
                    <div class="sorting-dropdown">
                        <select class="select2 form-control small" name="filter">
                            <option value="all">All</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </div>
                <div>Target Group</div>
                <div class="sorting-wrap">
                    <div class="sorting-dropdown">
                        <select class="select2 form-control small" name="filter">
                            <option value="all">All</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider-vertical">&nbsp;</div>
    <!-- Search -->
    <div class="input-keyword col-lg-5 col-sm-12 mr-auto px-0">
        <input type="text" class="form-control form-control-rounded" placeholder="Search" name="keyword">
        <div class="input-group-append">
            <button class="btn btn-circle" type="button"><i class="fas fa-search text-white"></i></button>
        </div>
    </div>
    <div class="sorting-wrap">
        <div class="sorting-dropdown">
            <select class="select2 form-control small" name="sorting">
                <option value="Default Sorting">Default Sorting</option>
                <option value="sorting 1">Sorting 1</option>
                <option value="sorting 2">Sorting 2</option>
            </select>
        </div>
    </div>
</div>
<hr>
<div class="table-responsive" data-toggle="lists">
    <div class="d-flex pb-4 align-items-center">
        <div>
            <!-- Select option -->
            <span class="select-arrow">
                <select name="dataTable_length" aria-controls="dataTable" class="custom-select">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </span>
        </div>
        <div class="showing-result px-3 py-2 mr-auto">Showing 1 - 6 of 2000 publications</div>
        <div><a href="~/RnP/Publication/Create" class="btn btn-secondary"><!--i class="la la-search font-icon" style="font-size: 1.5rem;"></i-->Create Publication</a></div>
    </div>
    <!-- Table -->
    <table class="table tableStyle1 mb-4">
        <thead>
            <tr>
                <!--
                <th>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input js-toggle-check-all" data-target="#table01" id="customCheckAll">
                        <label class="custom-control-label" for="customCheckAll">
                            <span class="text-hide">Toggle all</span>
                        </label>
                    </div>
                </th>
                -->
                <th>No</th>
                <th>@Html.DisplayNameFor(model => model.Category.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Author)</th>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Year)</th>
                <th>@Html.DisplayNameFor(model => model.ISBN)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="list" id="table01">
            @{  var icount = 0; }
            @foreach (var item in Model)
            {
                icount++;
                <tr>
                    <!--
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input id="customCheck1" type="checkbox" class="custom-control-input js-check-selected-row">
                            <label class="custom-control-label" for="customCheck1">
                                <span class="text-hide">Check</span>
                            </label>
                        </div>
                    </td>
                    -->
                    <td>@icount</td>
                    <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Author)</td>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Year)</td>
                    <td>@Html.DisplayFor(modelItem => item.ISBN)</td>
                    <td>
                        @if (item.WStatus == FEP.Model.PublicationWithdrawalStatus.None)
                        {
                            @Html.DisplayFor(modelItem => item.Status)
                        }
                        else if (item.WStatus == FEP.Model.PublicationWithdrawalStatus.Submitted)
                        {
                            @Html.Display("Withdrawal Submitted")
                        }
                        else if (item.WStatus == FEP.Model.PublicationWithdrawalStatus.Withdrawn)
                        {
                            @Html.Display("Withdrawn")
                        }
                    </td>
                    @if (item.Status == FEP.Model.PublicationStatus.New)
                    {
                        <td>
                            <div class="icon-action">
                                <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Search"><i class="la la-search text-muted"></i></a>-->
                                <a href="@Url.Action("Edit", "Publication", new { area = "RnP", @id = item.ID })" data-toggle="tooltip" data-placement="top" title="Edit"><i class="la la-edit text-muted"></i></a>
                                <a href="@Url.Action("Details", "Publication", new { area = "RnP", @id = item.ID })" data-toggle="tooltip" data-placement="top" title="View"><i class="la la-eye text-muted"></i></a>
                                <a href="@Url.Action("Delete", "Publication", new { area = "RnP", @id = item.ID })" data-toggle="tooltip" data-placement="top" title="Delete"><i class="la la-trash-o text-muted"></i></a>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="icon-action">
                                <a href="@Url.Action("Details", "Publication", new { area = "RnP", @id = item.ID })" data-toggle="tooltip" data-placement="top" title="View"><i class="la la-eye text-muted"></i></a>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <!-- Pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm float-right">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true" class="material-icons">chevron_left</span>
                </a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#" aria-label="1">
                    <span>1</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="2">
                    <span>2</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="3">
                    <span>3</span>
                </a>
            </li>
            <li class="page-iteme">
                <a class="page-link" href="#" aria-label="4">
                    <span>4</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true" class="material-icons">chevron_right</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="showing-result py-2">Showing 1 - 6 of 2000 publications</div>
</div>


