@model FEP.WebApiModel.eLearning.CreateOrEditModuleModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var name = ViewBag.CourseTitle;
}


@section Nav{
    <div class="title_header">
        <div class="title-header-container">
            <div class="container">
                <!-- if have button -->
                <div class="header-col-right float-right mt-5"><a href="~/eLearning/Courses/Content/@Model.Id" class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>
                <div class="header-col-left">
                    <div id="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                                <li class="breadcrumb-item"><a href="~/eLearning/Home">eLearning</a></li>
                                <li class="breadcrumb-item"><a href="~/eLearning/Courses">Courses</a></li>
                                <li class="breadcrumb-item"><a href="~/eLearning/CourseModules/@Model.Id">Module</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
                            </ol>
                        </nav>
                    </div>
                    <h1 class="page-title text-white">@name : Delete Module</h1>
                    <div class="header-text">Delete module.</div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-xl-3 col-md-3 col-sm-4 my-2">
        <div class="sidebar-left">
            <!-- Steps -->
            <div class="sidebar-inner sticky">
                <ul class="steps steps-vertical">


                    <li class="step-item complete">
                        <a href="" class="step-link">
                            <span class="step-number">1</span>
                            <span class="step-title">List Of Module</span>
                        </a>
                    </li>

                    <li class="step-item active">
                        <a href="" class="step-link">
                            <span class="step-number">2</span>
                            <span class="step-title">Delete Module</span>
                        </a>
                    </li>
                </ul>
                <!-- End Steps -->
            </div>
        </div>
    </div>

    <div class="col-xl-9 col-md-9 col-sm-8 mt-2 pb-5">
        <div class="border-form rounded-top">
            <div class="pl-3">
                <h3>Are you sure you want to delete this?</h3><span class="text-danger">All contents in this module will also be deleted.</span>
            </div>
            <form>
                <div class="form-container">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.LabelFor(model => model.Title)
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Be clear and descriptive", @readonly = "readonly" } })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.LabelFor(model => model.Description)
                            @*@Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 6, @placeholder = "Be clear and descriptive", @readonly = "readonly" })*@

                            @Html.Raw(Model.Description)
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.LabelFor(model => model.Objectives)
                            @*@Html.TextAreaFor(model => model.Objectives, new { @class = "form-control", rows = 6, @placeholder = "Be clear and descriptive", @readonly = "readonly" })*@
                            @Html.Raw(Model.Objectives)
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="border-left border-right border-bottom p-3 rounded-bottom">
            <form method="post" id="formDeleteModule">
                <a href="@Url.Action("Content", "Courses", new { area = "eLearning", id = Model.CourseId })" style="text-decoration: none;" class="btn btn-warning btn-flat">Cancel</a>
                @*<button type="submit" class="btn btn-primary pull-right"><i class="la la-trash font-icon" style="font-size: 1.5rem;"></i>Delete</button>*@
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <button type="button" id="btnDeleteModule" class="btn btn-primary pull-right" onclick="deleteModule()"><i class="la la-trash font-icon" style="font-size: 1.5rem;"></i>Delete</button>
            </form>
        </div>
    </div>
</div>

<!-- Alert Modal -->
<div class="modal" tabindex="-1" role="dialog" id="alertBox">
    <input id="forAction" hidden />
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnYes">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<style>
    .form-container {
        max-width: none !important;
    }
</style>

@section ContentScript {
    <script type="text/javascript">

        function deleteModule() {
            showAlertBox("Delete", "Delete", "Are you sure you want to delete this? All contents in this module will also be deleted.");
            }

        function showAlertBox(forAction, title, body) {

                var moduleName = $("#Title").val();
                $("#alertBox .modal-title").text(title +" "+ moduleName);
                $("#alertBox .modal-body").text(body);

                $('#forAction').val(forAction); // alert for what action

                $('#alertBox').modal();
            }
      
             $('#btnYes').click(function (e) {
                e.preventDefault();

                var forAction = $('#forAction').val();
                console.log('for action -', forAction);

                var form = $("#formDeleteModule");
                var id = $("#Id").val();

                     if (forAction == "Delete") {
                         console.log('id -', id);
                         form.attr('action', "@BaseURL/eLearning/CourseModules/Delete?id=" + id);

                    form.submit();
                }
            });
    </script>
    }