@using FEP.Model
@using FEP.Model.eLearning

@model FEP.WebApiModel.eLearning.ReturnDashboardCourseModel
@{
    var Courses = Model.Courses;
}

<!--Start Loop Here-->
@Html.HiddenFor(m => m.Courses)
@if (Courses != null)
{
    for (int i = 0; i < Courses.Count(); i++)
    {
        var imgFile = Model.Courses[i].IntroImageFileName;
        if (string.IsNullOrEmpty(imgFile))
        {
            imgFile = @BaseURL + "/Content/logo-akpk.svg";
        }
        else
        {
            imgFile = @BaseURL + "/File/GetImg?fileName=" + @imgFile;
        }
        <div class="col-lg-4 col-sm-6">
            <div class="card__wrapper">
                <div class="card__top">
                    <div class="card__top__wapper">
                        <img class="card__top__image" src="@imgFile" alt="image">
                        <div class="share-wrap">
                            <div class="share-button sharer">
                                <span class="share-icon">
                                    <ion-icon name="share"></ion-icon>
                                </span>
                                <div class="social top center"></div>
                            </div>
                            <span class="heart-icon"><i class="la la-heart-o"></i></span>
                        </div>
                        <div class="badge"><span>@Courses[i].Price</span></div>
                    </div>
                </div>
                <div class="card__body">
                    <a class="card__title" href="#">@Courses[i].Title</a>
                    <div class="card__author">
                        <a class="card__col-left" href="#"><span class="card__avatar"><img class="card__avatar__image" src="@BaseURL/img/8.jpg" alt="image"></span><span class="card__name-wrap"><span class="card__instructby">Instruct by</span><span class="card__author-name">@Courses[i].InstructorBy</span></span></a>
                    </div>
                    <div class="card__text">@Html.Raw(HttpUtility.HtmlDecode(@Courses[i].Description))</div>
                    <div class="card__info">
                        <div class="card__col-left">
                            <div class="col-left__item"><span class="card__icon"><i class="la la-book"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Total Modules">@Courses[i].TotalModules</span></div>
                            <div class="col-left__item"><span class="card__icon"><i class="la la-graduation-cap"></i></span><span class="d-inline-block" data-toggle="tooltip" title="Student Enrolled">@Courses[i].TotalStudent</span></div>
                        </div>
                        @*<div class="card__col-right">
                            <span class="card__icon"><i class="la la-star"></i></span><span class="d-inline-block" data-toggle="tooltip" title="14,000 learners rated 5 star">5.0</span>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    }
}
<!--End Here-->