@using FEP.Model
@using FEP.Model.eLearning

@model FEP.WebApiModel.eLearning.ReturnDashboardCourseModel
@{
    var Category = Model.CourseCategory;
    var Skill = Model.SkillLevel;
    var Language = Model.Language;
}

@{
    ViewBag.Title = "eLearning";
    Layout = "~/Views/Shared/_LayoutLandingPage.cshtml";
}

@section Nav{

    <div id="breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", routeValues:null)">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="">e-Learning</a></li>
            </ol>
        </nav>
    </div>

}



<main id="landing-inner" class="rellax" data-rellax-speed="0">
    <!-- =====================
        Landing Content
    ========================-->
    <section id="main-content">
        <!-- =====================
            Search Dropdown
        ========================-->
        <div id="search-dropdown">
            <div class="container">
                <div id="search-dropdown">
                    <div class="container">
                        <div class="search-dropdown-wrapper">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <select class="select2" name="module">
                                        <option value="e-Learning">e-Learning</option>
                                        <option value="e-Events">e-Events</option>
                                        <option value="Research">Research</option>
                                        <option value="Publications">Publications</option>
                                    </select>
                                </div>
                                <input type="text" class="form-control" placeholder="Search for online courses, instructor name, etc.." name="search">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty_6"></div>
    </section>

    <!-- =====================
       Searching Result
    ========================-->
    <section id="search-result" class="elearning">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="search-col-left">
                        <div class="input-keyword mb-5">
                            <input type="text" class="form-control form-control-rounded" placeholder="Type keyword here..." name="keyword">
                            <div class="input-group-append">
                                <button class="btn btn-circle" type="button"><i class="fas fa-search text-white"></i></button>
                            </div>
                        </div>
                        <!-- Listing Filter -->
                        <div class="listing_filter dropdown dd-side">
                            <div class="dropdown-menu">
                                <div class="listing-filter-inner">
                                    <div class="filter-type">
                                        <h4 class="color-darkblue">Categories</h4>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked>
                                            <label class="custom-control-label" for="customRadio1">All Categories</label>
                                        </div>
                                        @Html.HiddenFor(m => m.CourseCategory)
                                        @if (@Category != null)
                                        {
                                            for (int i = 0; i < @Category.Count(); i++)
                                            {
                                                <div class="custom-control custom-radio" id="courseCategory">
                                                    <input type="radio" id="@Model.CourseCategory[i].Name" name="@Model.CourseCategory[i].Name" class="custom-control-input">
                                                    <label class="custom-control-label" for="@Model.CourseCategory[i].Name">@Category[i].Name</label>
                                                </div>
                                            }
                                        }
                                    </div>

                                    @*SKILL LEVEL TAK SIAP LAGI
                                    <div class="filter-type">
                                        <h4 class="color-darkblue">Skill Level</h4>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">Beginner</label>
                                            <span class="filter-counter">(100)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                                            <label class="custom-control-label" for="customCheck2">Intermediate</label>
                                            <span class="filter-counter">(430)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck3">
                                            <label class="custom-control-label" for="customCheck3">Advanced</label>
                                            <span class="filter-counter">(29)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck4">
                                            <label class="custom-control-label" for="customCheck4">Appropiate for All</label>
                                            <span class="filter-counter">(560)</span>
                                        </div>
                                    </div>*@

                                    @*<div class="filter-type">
                                        <h4 class="color-darkblue">Duration</h4>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck5">
                                            <label class="custom-control-label" for="customCheck5">0-2 Hours</label>
                                            <span class="filter-counter">(13)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck6">
                                            <label class="custom-control-label" for="customCheck6">3-6 Hours</label>
                                            <span class="filter-counter">(30)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck7">
                                            <label class="custom-control-label" for="customCheck7">7-16 Hours</label>
                                            <span class="filter-counter">(63)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck8">
                                            <label class="custom-control-label" for="customCheck8">Longer than 16 Hours</label>
                                            <span class="filter-counter">(1099)</span>
                                        </div>
                                    </div>*@

                                    <div class="filter-type">
                                        <h4 class="color-darkblue">Language</h4>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck9">
                                            <label class="custom-control-label" for="customCheck9">@CourseLanguage.English</label>
                                            <span class="filter-counter">(3666)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck10">
                                            <label class="custom-control-label" for="customCheck10">@CourseLanguage.Malay</label>
                                            <span class="filter-counter">(100)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck11">
                                            <label class="custom-control-label" for="customCheck11">@CourseLanguage.Chinese</label>
                                            <span class="filter-counter">(63)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck12">
                                            <label class="custom-control-label" for="customCheck12">@CourseLanguage.Tamil</label>
                                            <span class="filter-counter">(54)</span>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck13">
                                            <label class="custom-control-label" for="customCheck13">@CourseLanguage.MultiLanguage</label>
                                            <span class="filter-counter">(20)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-secondary btn-rounded">Clear Filter</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="search-col-right">
                        <div class="top-filter-wrap">
                            <div class="showing-result">Showing 1 - 6 of 2000 results</div>
                            <div class="sorting-wrap">
                                <div class="sorting-dropdown">
                                    <select class="select2 form-control" name="sorting">
                                        <option value="Default Sorting">Default Sorting</option>
                                        <option value="Other Sorting">Other Sorting</option>
                                    </select>
                                </div>
                                <!-- <div class="layout-wrap ml-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <a href="#" class="btn btn-linear mw-auto px-3"><i class="fas fa-th-list"></i></a>
                                        </div>
                                        <div class="input-group-append">
                                            <a href="#" class="btn btn-default mw-auto px-3 color-lightgrey"><i class="fas fa-th-list"></i></a>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="empty_3"></div>
                        <!-- Filter result -->
                        <div class="some-list">
                            <!--Start Partial _Course here-->
                            <div id="divDisplay" class="row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>

    @Html.Partial("_NewsArticle")

</main>

@section ContentScript{

    <link href="~/css/elearn.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            var url = '@(BaseURL)/eLearning/Home/GetPublicCourses';

            var html = '';
            $.ajax({
                url: url,
                dataType: "html",
                type: 'GET',
                success: function (result) {
                    console.log('result - ', result);
                    $('#divDisplay').html(result);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('error - ' + textStatus + " " + errorThrown);
                }
            });

            //FIX HERE FILTERING
            $("#courseCategory").click(function () {
                console.log("courseCategory")

                var cat = $(this).children.val;
                console.log("CAT", cat)


                //$(this).load('@Url.Action("Details")');
            });
        });
    </script>

}