@* Partial View After Login *@
<header id="header" class="topbar">
    <div class="container-fluid">
        <div id="logo" class="float-left">
            <a href="/" class="scrollto"><img src="@BaseURL/img/logo-akpk.svg" alt="logo" data-toggle="tooltip" title="AKPK"></a>
        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="@Url.Action("Index", "Home", new { area = "eEvent" })" class="nav-item">e-Events</a></li>
                <li><a href="@Url.Action("Index", "Home", new { area = "RnP" })" class="nav-item">Research & Publications</a></li>
                <li><a href="@Url.Action("Index", "Home", new { area = "eLearning" })" class="nav-item">e-Learning</a></li>
                <li><a href="#" class="nav-item">Online Booking System</a></li>
                <li><a href="@Url.Action("Items", "Cart", new { area = "Commerce" })" class="nav-item">Cart</a></li>
            </ul>
            <div class="other-menu-wrap">
                <div class="wrapper-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="line-menu half end"></div>
                    <div class="line-menu"></div>
                    <div class="line-menu short end"></div>
                </div>
                <div class="dropdown-menu dropdown-menu-left animated--grow-in" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="kmc.html">Knowledge Management Centre (KMC)</a>
                    <a href="https://obs.akpk.org.my/" class="dropdown-item" target="_blank">Online Booking System (OBS)</a>
                    <a class="dropdown-item" href="#">About Us</a>
                    <a class="dropdown-item" href="#">AKPK Gateway</a>
                    <a class="dropdown-item" href="#">Contact Us</a>
                </div>
            </div>
            <div class="login-wrap">
                <a href="@Url.Action("LogOut", "Auth", new { area = "" })" class="btn btn-primary text-white">Sign out</a>
                <a href="@Url.Action("Profile", "Home", new { area = "" })" class="btn btn-primary text-white">Profile</a>
                <a href="@Url.Action("PurchaseHistory", "Cart", new { area = "Commerce" })" class="btn btn-primary text-white">Purchase History</a>
            </div>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>