
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>@ViewBag.Title</title>
    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <!-- Perfect Scrollbar -->

    @Styles.Render("~/auth/style")

    @RenderSection("ContentStyle", false)

</head>
<body class="login bg-main">
    <div class="header-login">
        <div id="logo" class="float-left">
            <a href="/" class="scrollto"><img src="@BaseURL/img/logo-akpk-normal.svg" alt="logo" title="logo akpk"></a>
        </div>
        <div class="float-right">
            @RenderSection("ButtonBack", false)
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>

    <div id="alert-message">

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-primary alert-dismissible ">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p><i class="icon fa fa-info-circle"></i>@TempData["Message"]</p>
            </div>
        }

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible ">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p><i class="icon fa fa-check"></i>@TempData["SuccessMessage"]</p>
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible ">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p><i class="icon fa fa-warning"></i>@TempData["ErrorMessage"]</p>
            </div>
        }

    </div>

    @RenderBody()

    @Scripts.Render("~/auth/script")

    @RenderSection("ContentScript", false)

    <script type="text/javascript">

        $(function () {


            var defaultRangeValidator = $.validator.methods.range;
            $.validator.methods.range = function (value, element, param) {

                debugger;

                if (element.type === 'checkbox') {

                    // if it's a checkbox return true if it is checked
                    return element.checked;
                } else {
                    // otherwise run the default validation function
                    return defaultRangeValidator.call(this, value, element, param);
                }
            }


        });


    </script>

</body>

</html>
