@model FEP.WebApiModel.PublicEvent.PurchasePublicEventModel

@{
	ViewBag.Title = "Purchase Public Event";
	Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section Nav{
	<div class="title_header">
		<div class="title-header-container">
			<div class="container">
				<!-- if have button -->
				<div class="header-col-right float-right mt-5"><a href='@Url.Action("EventSelectTicket", "Home", new { area = "eEvent", @id = ViewBag.EventId})' class="btn btn-outline-primary text-white"><span class="align-middle"><i class="la la-long-arrow-left">&nbsp;</i></span> Back</a></div>
				<div class="header-col-left">
					<div id="breadcrumb">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="~/Home">Home</a></li>
								<li class="breadcrumb-item"><a href="~/eEvent/Home">Public Event</a></li>
								<li class="breadcrumb-item"><a href="~/eEvent/BrowseEvent">Browse Public Event</a></li>
								<li class="breadcrumb-item"><a href="~/eEvent/BrowseEvent/PublicEventDetails">Attend Event</a></li>
								<li class="breadcrumb-item"><a href="~/eEvent/BrowseEvent/PublicEventDetails/EventSelectTicket">Select Ticket</a></li>
								<li class="breadcrumb-item"><a href="~/eEvent/BrowseEvent/PublicEventDetails/EventSelectTicket/PurchasePublicEvent">Purchase Public Event</a></li>
								<li class="breadcrumb-item active" aria-current="page"><a href="#"></a></li>
							</ol>
						</nav>
					</div>
					<h1 class="page-title text-white">@ViewBag.EventTitle</h1>
					<div class="header-text">Public Event Request Ref No: @ViewBag.RefNo</div>
				</div>
			</div>
		</div>
	</div>
}

<div class="content-container">
	<div class="container">
		<div class="row">
			<!-- column content left -->
			<div class="col-lg-9">
				<div class="col-content">
					<h4 class="color-darkblue">Purchase Information</h4>
					<table class="table tableStyle1 table-foot mt-0 mb-5">
						<tfoot>
							<tr>
								<td class="text-left font-weight-bolder">Item Name</td>
								<td class="text-left font-weight-bolder">Format</td>
								<td class="text-right font-weight-bolder">Price</td>
								<td class="text-right font-weight-bolder">Quantity</td>
								<td class="text-right font-weight-bolder">Amount</td>
							</tr>
							<tr>
								<td class="text-left font-weight-bold">@ViewBag.EventTitle</td>
								<td class="text-left font-weight-bold">Individual</td>
								<td class="text-right font-weight-bold">@ViewBag.IndividualAmt.ToString("0.00")</td>
								@if (ViewBag.card_i == "true")
								{
									<td class="text-right font-weight-bold">1</td>
									<td class="text-right font-weight-bold">@ViewBag.IndividualAmt.ToString("0.00")</td>
								}
								else
								{
									<td class="text-right font-weight-bold">0</td>
									<td class="text-right font-weight-bold">0.00</td>
								}
							</tr>
							<tr>
								<td class="text-right font-weight-bold"></td>
								<td class="text-left font-weight-bold">Group</td>
								<td class="text-right font-weight-bold">@ViewBag.GroupAmt.ToString("0.00")</td>
								@if (ViewBag.card_g == "true")
								{
									<td class="text-right font-weight-bold">@ViewBag.card_bil</td>
									<td class="text-right font-weight-bold">@ViewBag.GroupAmt.ToString("0.00")</td>
								}
								else
								{
									<td class="text-right font-weight-bold">0</td>
									<td class="text-right font-weight-bold">0.00</td>
								}
							</tr>
							<tr>
								<td class="text-right font-weight-bold"></td>
								<td class="text-left font-weight-bold">Agency</td>
								<td class="text-right font-weight-bold">@ViewBag.AgencyAmt.ToString("0.00")</td>
								@if (ViewBag.card_a == "true")
								{
									<td class="text-right font-weight-bold">@ViewBag.card_bil</td>
									<td class="text-right font-weight-bold">@ViewBag.AgencyAmt.ToString("0.00")</td>
								}
								else
								{
									<td class="text-right font-weight-bold">0</td>
									<td class="text-right font-weight-bold">0.00</td>
								}
							</tr>
						</tfoot>
					</table>
					<!-- Table total -->
					<table class="table tableStyle1 table-foot mt-0 mb-5">
						<tfoot>
							@*<tr>
					<td class="text-right font-weight-bold"><span class="color-grey2 xs-small">Shipping Fee <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="If less than or equal 50 books / order = RM18 per delivery. If more than 50 books / oder = RM0.40 per book"><i class="la la-question-circle color-red align-middle" style="font-size: 17px;"></i></a></span> </td>
					<td class="text-right font-weight-bolder" style="width: 150px;"><span class="xs-small">RM 0.00</span></td>
				</tr>*@
							<tr>
								<td class="text-right font-weight-bolder">Total</td>
								<td class="text-right font-weight-bolder" style="width: 150px;"><span class="color-red">RM @ViewBag.TotalAmt</span></td>
							</tr>
						</tfoot>
					</table>

					@*<a class="btn btn-default font-weight-normal mr-2" href='@Url.Action("EventSelectTicket", "Home", new { area = "eEvent", @id = Model.Id})'>Back</a>*@
					@*<a class="btn btn-secondary" id="btnNext" href="#">Next</a>*@
					@*<button class="btn btn-default" id="btnBackToBrowse">Cancel</button>
					<button class="btn btn-secondary" id="btnAddtoCart">Add to Cart</button>*@

					@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "myform", id = "myform" }))
					{
						@Html.AntiForgeryToken()

						@Html.ValidationSummary(true, "", new { @class = "text-danger" })

					
						<!-- Action Button -->
						<div class="border-top py-3 mt-5">
							@Html.HiddenFor(model => model.EventId, new { htmlAttributes = new { @class = "form-control" } })
							@Html.HiddenFor(model => model.IndividualTicket, new { htmlAttributes = new { @class = "form-control" } })
							@Html.HiddenFor(model => model.GroupTicket, new { htmlAttributes = new { @class = "form-control" } })
							@Html.HiddenFor(model => model.AgencyTicket, new { htmlAttributes = new { @class = "form-control" } })
							@Html.HiddenFor(model => model.AgencyTicketQuantity, new { htmlAttributes = new { @class = "form-control" } })
							@Html.HiddenFor(model => model.GroupTicketQuantity, new { htmlAttributes = new { @class = "form-control" } })
							@Html.HiddenFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
							@*<a class="btn btn-default font-weight-normal mr-2" href="@Url.Action("SelectFormat", "Home", new { area = "RnP", @id = ViewBag.PubID })">Back</a>*@
							<button class="btn btn-secondary" id="btnAddtoCart">Add to Cart</button>
							@*<a class="btn btn-secondary" id="btnAddtoCart" href="#" data-toggle="modal" data-target="#addtocart">Add to Cart</a>*@
						</div>
					}




					<!-- Popup -->
					<div class="modal fade" id="addtocart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-sm" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="modal-body text-center">
									<img src="~/img/icon-noti-email.svg" alt="image">
									<p class="small mt-4" id="resultMsg">Item(s) have been added to your cart.</p>
								</div>
								<div class="divider-border"></div>
								<div class="m-4 text-center">
									@*<button class="btn btn-default font-weight-normal mr-2" data-dismiss="modal" aria-label="Close" id="btnBackToBrowse">Continue Shopping</button>*@
									@*<button class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#">Add to Cart</button>*@


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end column content left -->
			<!-- column content right -->
			<div class="col-lg-3">
				<div class="right-sidebar">
					<div class="card-group">
						<div class="lead color-darkblue mb-3 font-weight-bolder">Public Event Details</div>
						<ul>
							<li><i class="la la-list-ul font-icon color-secondary" data-toggle="tooltip" title="Event Category" style="font-size: 17px;"></i>@ViewBag.EventCategoryName</li>
							<li><i class="la la-file-text font-icon color-secondary" data-toggle="tooltip" title="Event Title" style="font-size: 17px;"></i>@ViewBag.EventTitle</li>
							<li><i class="la la-calendar font-icon color-secondary" data-toggle="tooltip" title="Event Date" style="font-size: 19px;"></i>@ViewBag.StartDate - @ViewBag.EndDate</li>
							<li><i class="la la-map-marker font-icon color-secondary" data-toggle="tooltip" title="Event Venue" style="font-size: 17px;"></i>@ViewBag.Venue</li>
							<li><i class="fas fa-chair font-icon color-secondary" data-toggle="tooltip" title="Availability" style="font-size: 17px;"></i>@ViewBag.ParticipantAllowed Seats Remaining</li>
						</ul>
					</div>
					<!-- Share with friends -->
					<div class="card-group">
						<div class="lead color-darkblue mb-3 font-weight-bolder">Share with Friends</div>
						<div class="ms-share"></div>
					</div>
					@*</div>*@
				</div>
			</div>
			<!-- end column content right -->
		</div>
	</div>
	<!-- Wrapper -->
</div>

@section ContentScript {
	<script type="text/javascript">
        $(document).ready(function () {

            $('#btnAddtoCart').click(function (event) {
                var form = $('#myform');
                //alert(form.serialize());
                //return false;
                var myurl = '@Url.Action("AddToCart", "Home", new { area = "eEvent" })';
                $.ajax({
                    url: myurl,
                    type: "POST",
					data: form.serialize(),
                    success: function (data) {
                        if (data == "success") {
                            $("#resultMsg").text('Item(s) have been added to your cart.');
                            $("#addtocart").modal();
                        }
                        else if (data == "failure") {
                            $("#resultMsg").text('Failed to add item(s) to your cart!');
                            $("#addtocart").modal();
                        }
                        else {
                            $("#resultMsg").text('Failed to add item(s) to your cart!');
                            $("#addtocart").modal();
                        }
                    }
                });
                return false;
            });

            $('#btnBackToBrowse').click(function (event) {
                var url = '@Url.Action("BrowsePublicEvent", "Home", new { area = "eEvent" })';
                window.location = url;
            });
        });
	</script>
}